In [2]:
# 데이터 불러오기
from dotenv import load_dotenv
import pandas as pd
import os 
import numpy as np
from sqlalchemy import create_engine

# .env 파일에서 환경 부르기
load_dotenv()

# 환경 변수 사용
database = os.getenv("CON_STR")


# # csv 파일 경로
# csv_file_path = os.getenv("CSV_FILE_PATH")
# print(csv_file_path)

engine = create_engine(database)

In [2]:

# ALL Raw Data
sql1= ''' 
select * from cu.agg_CU_TEREA_Total_Sourcing
where YYYYMM >= '202401'
order by YYYYMM, id
'''

gg = pd.read_sql_query(sql=sql1, con=engine)

In [16]:
gg.to_clipboard()

# 광역시/특별시 SIDO Pivot 작업

In [4]:
# - TEREA_flaXtar_ from 202211
sql2 = ''' 
select  
	t.YYYYMM,
	t.SIDO_NM,
	concat(FLAVORSEG_type3,' X ', New_TARSEGMENTAT) flavorXtar,
	count(distinct case when b.cigatype ='CC' then t.id end) CC,
	count(distinct case when b.cigatype ='HnB' then t.id end) HnB
from  cu.agg_CU_TEREA_Total_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and b.CIGADEVICE =  'CIGARETTES' AND b.cigatype != 'CSV'  
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
where t.SIDO_NM in ('서울특별시','인천광역시','부산광역시','울산광역시','광주광역시','대전광역시', '대구광역시')
and t.YYYYMM >= '202401'
group BY 
	t.YYYYMM,
	t.SIDO_NM,
	concat(FLAVORSEG_type3,' X ', New_TARSEGMENTAT) 
'''

data2 = pd.read_sql_query(sql=sql2, con=engine)

pivot_flavor_tar = data2.pivot_table(index=['YYYYMM','SIDO_NM'], 
                                     columns='flavorXtar',
                                     values=['HnB', 'CC' ]
                                    )
print(pivot_flavor_tar)

                     CC                                                   \
flavorXtar     Fresh X  Fresh X 1MG Fresh X LTS Fresh X ULT New Taste X
YYYYMM SIDO_NM
202401 광주광역시        0.0         7.0        10.0         NaN          0.0
       대구광역시        0.0         7.0         4.0         1.0          0.0
       대전광역시        0.0         4.0         6.0         2.0          0.0
       부산광역시        0.0         4.0         7.0         2.0          0.0
       서울특별시        0.0        32.0        27.0         4.0          0.0
       울산광역시        0.0         3.0         4.0         1.0          0.0
       인천광역시        0.0        12.0        14.0         2.0          0.0
202402 광주광역시        0.0         9.0         5.0         NaN          0.0
       대구광역시        0.0         6.0         4.0         1.0          0.0
       대전광역시        0.0         9.0         4.0         NaN          0.0
       부산광역시        0.0        10.0         8.0         1.0          0.0
       서울특별시        0.0        22.0        20.0         1.0          0.0
       울산광역시        0.0         3.0         4.0         2.0          0.0
       인천광역시        0.0         6.0        17.0         3.0          0.0
202403 광주광역시        0.0         8.0         1.0         NaN          0.0
       대구광역시        0.0        10.0         NaN         NaN          0.0
       대전광역시        0.0         6.0         4.0         3.0          0.0
       부산광역시        0.0        15.0        14.0         NaN          0.0
       서울특별시        0.0        33.0        38.0         2.0          0.0
       울산광역시        0.0         5.0         8.0         NaN          0.0
       인천광역시        0.0         9.0        11.0         2.0          0.0
202404 광주광역시        0.0         6.0         4.0         2.0          0.0
       대구광역시        0.0        12.0         4.0         NaN          0.0
       대전광역시        0.0         6.0         7.0         5.0          0.0
       부산광역시        0.0        10.0        11.0         1.0          0.0
       서울특별시        0.0        15.0        27.0         5.0          0.0
       울산광역시        0.0        10.0         7.0         1.0          0.0
       인천광역시        0.0        11.0        17.0         2.0          0.0
202405 광주광역시        0.0        11.0        10.0         1.0          0.0
       대구광역시        0.0         8.0         5.0         NaN          0.0
       대전광역시        0.0        11.0         9.0         5.0          0.0
       부산광역시        0.0        11.0         6.0         1.0          0.0
       서울특별시        0.0        24.0        37.0         4.0          0.0
       울산광역시        0.0         2.0         NaN         NaN          0.0
       인천광역시        0.0        10.0        13.0         NaN          0.0
202406 광주광역시        0.0         7.0         4.0         2.0          0.0
       대구광역시        0.0        11.0         6.0         1.0          0.0
       대전광역시        0.0         9.0        13.0         1.0          0.0
       부산광역시        0.0         8.0         9.0         3.0          0.0
       서울특별시        0.0        23.0        30.0         5.0          0.0
       울산광역시        0.0         5.0         2.0         NaN          0.0
       인천광역시        0.0         9.0        14.0         3.0          0.0

                                                                      \
flavorXtar     New Taste X 1MG New Taste X Below 1MG New Taste X LTS
YYYYMM SIDO_NM
202401 광주광역시              96.0                   5.0             5.0
       대구광역시              78.0                   2.0             5.0
       대전광역시              55.0                   2.0             3.0
       부산광역시             106.0                   3.0             9.0
       서울특별시             201.0                  13.0            32.0
       울산광역시              80.0                   3.0             1.0
       인천광역시              90.0                   2.0            16.0
202402 광주광역시              89.0                   5.0             3.0
       대구광역시              71.0                   3.0             3.0
       대전광역시              58.0                   NaN             3.0
       부산광역시             122.0                   8.0            13.0
       서울특별시             199.0                   9.0            34.0
       울산광역시             100.0                   6.0             5.0
       인천광역시              78.0                   6.0            15.0
202403 광주광역시              96.0                  10.0             3.0
       대구광역시              69.0                   2.0             2.0
       대전광역시              68.0                   9.0             4.0
       부산광역시             123.0                  10.0            16.0
       서울특별시             191.0                  13.0            39.0
       울산광역시              91.0                   4.0             8.0
       인천광역시              89.0                   6.0            23.0
202404 광주광역시              88.0                   3.0             1.0
       대구광역시              81.0                   1.0             3.0
       대전광역시              64.0                   8.0            12.0
       부산광역시             132.0                   5.0            10.0
       서울특별시             217.0                  19.0            35.0
       울산광역시              87.0                   4.0             6.0
       인천광역시              89.0                   7.0            10.0
202405 광주광역시             103.0                  15.0            12.0
       대구광역시             102.0                   5.0             6.0
       대전광역시              69.0                   6.0             8.0
       부산광역시             161.0                   8.0            10.0
       서울특별시             237.0                  17.0            36.0
       울산광역시              93.0                   NaN             2.0
       인천광역시              99.0                   4.0            22.0
202406 광주광역시             100.0                   5.0             4.0
       대구광역시             100.0                   2.0             8.0
       대전광역시              76.0                   5.0            10.0
       부산광역시             140.0                   5.0             8.0
       서울특별시             214.0                  14.0            32.0
       울산광역시              77.0                   3.0             4.0
       인천광역시              94.0                   5.0            13.0

                                           ...             HnB  \
flavorXtar     New Taste X ULT Regular X   ... New Taste X 1MG
YYYYMM SIDO_NM                             ...
202401 광주광역시              30.0        0.0  ...             0.0
       대구광역시              21.0        0.0  ...             0.0
       대전광역시              17.0        0.0  ...             0.0
       부산광역시              30.0        0.0  ...             0.0
       서울특별시              79.0        0.0  ...             0.0
       울산광역시              19.0        0.0  ...             0.0
       인천광역시              42.0        0.0  ...             0.0
202402 광주광역시              27.0        0.0  ...             0.0
       대구광역시              17.0        0.0  ...             0.0
       대전광역시              29.0        0.0  ...             0.0
       부산광역시              25.0        0.0  ...             0.0
       서울특별시              82.0        0.0  ...             0.0
       울산광역시              22.0        0.0  ...             0.0
       인천광역시              48.0        0.0  ...             0.0
202403 광주광역시              28.0        0.0  ...             0.0
       대구광역시               9.0        0.0  ...             0.0
       대전광역시              28.0        0.0  ...             0.0
       부산광역시              31.0        0.0  ...             0.0
       서울특별시              91.0        0.0  ...             0.0
       울산광역시              25.0        0.0  ...             0.0
       인천광역시              33.0        0.0  ...             0.0
202404 광주광역시              25.0        0.0  ...             0.0
       대구광역시              14.0        0.0  ...             0.0
       대전광역시              19.0        0.0  ...             0.0
       부산광역시              52.0        0.0  ...             0.0
       서울특별시              88.0        0.0  ...             0.0
       울산광역시              28.0        0.0  ...             0.0
       인천광역시              52.0        0.0  ...             0.0
202405 광주광역시              37.0        0.0  ...             0.0
       대구광역시              17.0        0.0  ...             0.0
       대전광역시              19.0        0.0  ...             0.0
       부산광역시              40.0        0.0  ...             0.0
       서울특별시              95.0        0.0  ...             0.0
       울산광역시              18.0        0.0  ...             0.0
       인천광역시              51.0        0.0  ...             0.0
202406 광주광역시              22.0        0.0  ...             0.0
       대구광역시              22.0        0.0  ...             0.0
       대전광역시              26.0        0.0  ...             0.0
       부산광역시              32.0        0.0  ...             0.0
       서울특별시             113.0        0.0  ...             0.0
       울산광역시              14.0        0.0  ...             0.0
       인천광역시              42.0        0.0  ...             0.0

                                                                      \
flavorXtar     New Taste X Below 1MG New Taste X LTS New Taste X ULT
YYYYMM SIDO_NM
202401 광주광역시                     0.0             0.0             0.0
       대구광역시                     0.0             0.0             0.0
       대전광역시                     0.0             0.0             0.0
       부산광역시                     0.0             0.0             0.0
       서울특별시                     0.0             0.0             0.0
       울산광역시                     0.0             0.0             0.0
       인천광역시                     0.0             0.0             0.0
202402 광주광역시                     0.0             0.0             0.0
       대구광역시                     0.0             0.0             0.0
       대전광역시                     NaN             0.0             0.0
       부산광역시                     0.0             0.0             0.0
       서울특별시                     0.0             0.0             0.0
       울산광역시                     0.0             0.0             0.0
       인천광역시                     0.0             0.0             0.0
202403 광주광역시                     0.0             0.0             0.0
       대구광역시                     0.0             0.0             0.0
       대전광역시                     0.0             0.0             0.0
       부산광역시                     0.0             0.0             0.0
       서울특별시                     0.0             0.0             0.0
       울산광역시                     0.0             0.0             0.0
       인천광역시                     0.0             0.0             0.0
202404 광주광역시                     0.0             0.0             0.0
       대구광역시                     0.0             0.0             0.0
       대전광역시                     0.0             0.0             0.0
       부산광역시                     0.0             0.0             0.0
       서울특별시                     0.0             0.0             0.0
       울산광역시                     0.0             0.0             0.0
       인천광역시                     0.0             0.0             0.0
202405 광주광역시                     0.0             0.0             0.0
       대구광역시                     0.0             0.0             0.0
       대전광역시                     0.0             0.0             0.0
       부산광역시                     0.0             0.0             0.0
       서울특별시                     0.0             0.0             0.0
       울산광역시                     NaN             0.0             0.0
       인천광역시                     0.0             0.0             0.0
202406 광주광역시                     0.0             0.0             0.0
       대구광역시                     0.0             0.0             0.0
       대전광역시                     0.0             0.0             0.0
       부산광역시                     0.0             0.0             0.0
       서울특별시                     0.0             0.0             0.0
       울산광역시                     0.0             0.0             0.0
       인천광역시                     0.0             0.0             0.0

                                                                          \
flavorXtar     Regular X  Regular X 1MG Regular X Below 1MG Regular X FF
YYYYMM SIDO_NM
202401 광주광역시         19.0           0.0                 0.0          0.0
       대구광역시         12.0           0.0                 0.0          NaN
       대전광역시          5.0           0.0                 0.0          0.0
       부산광역시         25.0           0.0                 0.0          0.0
       서울특별시         52.0           0.0                 0.0          0.0
       울산광역시         10.0           0.0                 0.0          0.0
       인천광역시         26.0           0.0                 0.0          0.0
202402 광주광역시         16.0           0.0                 0.0          0.0
       대구광역시         14.0           0.0                 0.0          0.0
       대전광역시         14.0           0.0                 0.0          0.0
       부산광역시         18.0           0.0                 0.0          0.0
       서울특별시         50.0           0.0                 0.0          0.0
       울산광역시         10.0           0.0                 0.0          0.0
       인천광역시         20.0           0.0                 0.0          0.0
202403 광주광역시         20.0           0.0                 0.0          NaN
       대구광역시          9.0           0.0                 0.0          0.0
       대전광역시          9.0           0.0                 0.0          0.0
       부산광역시         17.0           0.0                 0.0          0.0
       서울특별시         63.0           0.0                 0.0          0.0
       울산광역시          7.0           0.0                 0.0          0.0
       인천광역시         22.0           0.0                 0.0          0.0
202404 광주광역시         16.0           0.0                 0.0          0.0
       대구광역시         16.0           0.0                 0.0          0.0
       대전광역시         19.0           0.0                 0.0          0.0
       부산광역시         28.0           0.0                 0.0          0.0
       서울특별시         87.0           0.0                 0.0          0.0
       울산광역시         12.0           0.0                 0.0          0.0
       인천광역시         30.0           0.0                 0.0          0.0
202405 광주광역시         15.0           0.0                 0.0          0.0
       대구광역시         13.0           0.0                 0.0          0.0
       대전광역시         13.0           0.0                 0.0          0.0
       부산광역시         24.0           0.0                 0.0          0.0
       서울특별시         45.0           0.0                 0.0          0.0
       울산광역시         15.0           0.0                 0.0          0.0
       인천광역시         20.0           0.0                 0.0          0.0
202406 광주광역시          9.0           0.0                 0.0          0.0
       대구광역시         12.0           0.0                 0.0          0.0
       대전광역시         11.0           0.0                 0.0          0.0
       부산광역시         13.0           0.0                 0.0          0.0
       서울특별시         32.0           0.0                 0.0          0.0
       울산광역시          7.0           0.0                 0.0          NaN
       인천광역시          6.0           0.0                 0.0          0.0


flavorXtar     Regular X LTS Regular X ULT
YYYYMM SIDO_NM
202401 광주광역시             0.0           0.0
       대구광역시             0.0           0.0
       대전광역시             0.0           0.0
       부산광역시             0.0           0.0
       서울특별시             0.0           0.0
       울산광역시             0.0           0.0
       인천광역시             0.0           0.0
202402 광주광역시             0.0           0.0
       대구광역시             0.0           0.0
       대전광역시             0.0           0.0
       부산광역시             0.0           0.0
       서울특별시             0.0           0.0
       울산광역시             0.0           0.0
       인천광역시             0.0           0.0
202403 광주광역시             0.0           0.0
       대구광역시             0.0           0.0
       대전광역시             0.0           0.0
       부산광역시             0.0           0.0
       서울특별시             0.0           0.0
       울산광역시             0.0           0.0
       인천광역시             0.0           0.0
202404 광주광역시             0.0           0.0
       대구광역시             0.0           0.0
       대전광역시             0.0           0.0
       부산광역시             0.0           0.0
       서울특별시             0.0           0.0
       울산광역시             0.0           0.0
       인천광역시             0.0           0.0
202405 광주광역시             0.0           0.0
       대구광역시             0.0           0.0
       대전광역시             0.0           0.0
       부산광역시             0.0           0.0
       서울특별시             0.0           0.0
       울산광역시             0.0           0.0
       인천광역시             0.0           0.0
202406 광주광역시             0.0           0.0
       대구광역시             0.0           0.0
       대전광역시             0.0           0.0
       부산광역시             0.0           0.0
       서울특별시             0.0           0.0
       울산광역시             0.0           0.0
       인천광역시             0.0           0.0

[42 rows x 30 columns]

In [5]:
pivot_flavor_tar.to_clipboard()

In [6]:
# - Terea_user_past_type_M1
sql = ''' 
select  
	t.YYYYMM, 
	t.SIDO_NM,
	t.id,
	max(case when b.cigatype='HnB' and b.company = 'PMK' then 1 else 0 end) IQOS_Purchased,
	max(case when b.cigatype='CC' then 1 else 0 end) CC_Purchased,
	max(case when b.cigatype='HnB' and b.company != 'PMK' then 1 else 0 end) CompHnB_Purchased
from cu.agg_CU_TEREA_Total_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
where t.SIDO_NM in ('서울특별시','인천광역시','부산광역시','울산광역시','광주광역시','대전광역시', '대구광역시')
and t.YYYYMM >= '202401'
group BY 	    
	t.YYYYMM, 
	t.SIDO_NM, 
	t.id
'''

data = pd.read_sql_query(sql=sql, con=engine)
# Past Type 
def categorize(row):
    categories = []
    if row['IQOS_Purchased'] == 1:
        categories.append('PMK HnB')
    if row['CC_Purchased'] == 1:
        categories.append('CC')
    if row['CompHnB_Purchased'] == 1:
        categories.append('Comp HnB')
    return ','.join(categories)

data['retype'] = data.apply(categorize, axis=1)
result = data.groupby(['YYYYMM','SIDO_NM', 'retype']).size().reset_index(name='N')
total = result['N'].sum()

pivot_past_type = result.pivot_table( 
                            index=['YYYYMM', 'SIDO_NM'],
                            columns='retype',
                            values='N'
                            )
print(pivot_past_type)

retype             CC  CC,Comp HnB  Comp HnB  PMK HnB  PMK HnB,CC  \
YYYYMM SIDO_NM
202401 광주광역시    131.0         23.0      15.0     27.0        17.0
       대구광역시     96.0         24.0      12.0     16.0        11.0
       대전광역시     87.0         22.0       4.0     21.0        11.0
       부산광역시    136.0         28.0      19.0     24.0        22.0
       서울특별시    373.0         75.0      52.0     76.0        48.0
       울산광역시     99.0         27.0      11.0     16.0         9.0
       인천광역시    163.0         24.0       9.0     33.0        23.0
202402 광주광역시    112.0         32.0       9.0     22.0        13.0
       대구광역시     99.0         14.0       9.0     17.0        18.0
       대전광역시     98.0         22.0       5.0     18.0        12.0
       부산광역시    159.0         29.0      15.0     34.0        18.0
       서울특별시    360.0         70.0      31.0     89.0        38.0
       울산광역시    113.0         24.0       9.0     19.0        18.0
       인천광역시    177.0         23.0      15.0     26.0        10.0
202403 광주광역시    125.0         32.0      15.0     16.0        12.0
       대구광역시     81.0         14.0      13.0     11.0        12.0
       대전광역시    120.0         22.0      12.0     16.0         9.0
       부산광역시    194.0         26.0      16.0     29.0        12.0
       서울특별시    396.0         72.0      51.0     84.0        46.0
       울산광역시    121.0         22.0       5.0     18.0         4.0
       인천광역시    186.0         20.0      21.0     20.0        12.0
202404 광주광역시    125.0         28.0      20.0     30.0        20.0
       대구광역시     90.0         22.0      12.0     34.0        16.0
       대전광역시    101.0         24.0      11.0     36.0        20.0
       부산광역시    180.0         33.0      13.0     47.0        33.0
       서울특별시    405.0         78.0      67.0    165.0        90.0
       울산광역시    102.0         21.0      14.0     27.0        12.0
       인천광역시    173.0         24.0      16.0     54.0        26.0
202405 광주광역시    141.0         25.0      11.0     51.0        21.0
       대구광역시    127.0         25.0      17.0     50.0        18.0
       대전광역시    113.0         14.0       9.0     33.0        24.0
       부산광역시    190.0         40.0      22.0     45.0        34.0
       서울특별시    417.0         88.0      54.0    148.0        79.0
       울산광역시    126.0         19.0      12.0     32.0        19.0
       인천광역시    188.0         31.0      15.0     46.0        33.0
202406 광주광역시    124.0         27.0      22.0     30.0        21.0
       대구광역시    114.0         33.0       9.0     33.0        24.0
       대전광역시    110.0         24.0      14.0     24.0        16.0
       부산광역시    172.0         33.0      23.0     29.0        21.0
       서울특별시    442.0         74.0      58.0     88.0        46.0
       울산광역시    101.0         20.0      12.0     15.0        15.0
       인천광역시    170.0         21.0      18.0     29.0        19.0

retype          PMK HnB,CC,Comp HnB  PMK HnB,Comp HnB
YYYYMM SIDO_NM
202401 광주광역시                    1.0               4.0
       대구광역시                    2.0               NaN
       대전광역시                    NaN               NaN
       부산광역시                    6.0               3.0
       서울특별시                    9.0               7.0
       울산광역시                    NaN               NaN
       인천광역시                    2.0               1.0
202402 광주광역시                    2.0               1.0
       대구광역시                    NaN               3.0
       대전광역시                    2.0               1.0
       부산광역시                    3.0               2.0
       서울특별시                    5.0               3.0
       울산광역시                    1.0               NaN
       인천광역시                    NaN               NaN
202403 광주광역시                    2.0               2.0
       대구광역시                    NaN               3.0
       대전광역시                    1.0               2.0
       부산광역시                    2.0               1.0
       서울특별시                    7.0               6.0
       울산광역시                    2.0               1.0
       인천광역시                    NaN               3.0
202404 광주광역시                    NaN               3.0
       대구광역시                    3.0               3.0
       대전광역시                    1.0               1.0
       부산광역시                    2.0               3.0
       서울특별시                    5.0               7.0
       울산광역시                    4.0               2.0
       인천광역시                    5.0               4.0
202405 광주광역시                    5.0               2.0
       대구광역시                    2.0               1.0
       대전광역시                    3.0               1.0
       부산광역시                    3.0               2.0
       서울특별시                   15.0              11.0
       울산광역시                    3.0               1.0
       인천광역시                    5.0               4.0
202406 광주광역시                    3.0               2.0
       대구광역시                    3.0               1.0
       대전광역시                    3.0               2.0
       부산광역시                    5.0               NaN
       서울특별시                    9.0               7.0
       울산광역시                    2.0               NaN
       인천광역시                    3.0               3.0

In [7]:
pivot_past_type.to_clipboard()

In [8]:
sql3 = ''' 
with temp as (
select  
	t.YYYYMM, 
	t.SIDO_NM,
	t.id,
	max(case when b.cigatype='HnB' and b.company = 'PMK' then 1 else 0 end) IQOS_Purchased,
	max(case when b.cigatype='CC' then 1 else 0 end) CC_Purchased,
	max(case when b.cigatype='HnB' and b.company != 'PMK' then 1 else 0 end) CompHnB_Purchased
from  cu.agg_CU_TEREA_Total_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM = t.YYYYMM
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
where t.SIDO_NM in ('서울특별시','인천광역시','부산광역시','울산광역시','광주광역시','대전광역시', '대구광역시')
and t.YYYYMM >= '202401'
group BY 	    	
	t.YYYYMM, 
	t.SIDO_NM,
	t.id
)
select YYYYMM, SIDO_NM,
    'IQOS' +
    CASE WHEN CompHnB_Purchased = 1 THEN ' + Comp. HnB' ELSE '' END + 
    CASE WHEN CC_Purchased = 1 THEN ' + CC' ELSE '' END 
     as Cigatype,
    count(*) purchaser_cnt
from temp
group by YYYYMM, SIDO_NM,
    'IQOS' +
    CASE WHEN CompHnB_Purchased = 1 THEN ' + Comp. HnB' ELSE '' END + 
    CASE WHEN CC_Purchased = 1 THEN ' + CC' ELSE '' END 
'''

data3 = pd.read_sql_query(sql=sql3, con=engine)

pivot_current_type = data3.pivot_table(index=['YYYYMM', 'SIDO_NM'],
                                       columns='Cigatype',
                                       values='purchaser_cnt',
                                       )

print(pivot_current_type)

Cigatype         IQOS  IQOS + CC  IQOS + Comp. HnB  IQOS + Comp. HnB + CC
YYYYMM SIDO_NM
202401 광주광역시     82.0      100.0              16.0                   20.0
       대구광역시     53.0       86.0               6.0                   16.0
       대전광역시     59.0       67.0               5.0                   14.0
       부산광역시     93.0      102.0              17.0                   26.0
       서울특별시    213.0      330.0              49.0                   48.0
       울산광역시     62.0       70.0              13.0                   17.0
       인천광역시     99.0      127.0              11.0                   18.0
202402 광주광역시     72.0       92.0               9.0                   18.0
       대구광역시     68.0       71.0               8.0                   13.0
       대전광역시     62.0       76.0               8.0                   12.0
       부산광역시     99.0      126.0              18.0                   17.0
       서울특별시    222.0      296.0              32.0                   46.0
       울산광역시     57.0       97.0              12.0                   18.0
       인천광역시     80.0      143.0              13.0                   15.0
202403 광주광역시     63.0      109.0              11.0                   21.0
       대구광역시     52.0       54.0              12.0                   16.0
       대전광역시     61.0       92.0              12.0                   17.0
       부산광역시     97.0      145.0              15.0                   23.0
       서울특별시    237.0      332.0              48.0                   45.0
       울산광역시     59.0       89.0               8.0                   17.0
       인천광역시     80.0      146.0              20.0                   16.0
202404 광주광역시     78.0      114.0              19.0                   15.0
       대구광역시     72.0       84.0              13.0                   11.0
       대전광역시     74.0       92.0              12.0                   16.0
       부산광역시    104.0      163.0              17.0                   27.0
       서울특별시    338.0      369.0              56.0                   54.0
       울산광역시     66.0       90.0               7.0                   19.0
       인천광역시    111.0      157.0              14.0                   20.0
202405 광주광역시     85.0      137.0              13.0                   21.0
       대구광역시     99.0      106.0              15.0                   20.0
       대전광역시     76.0       88.0              16.0                   17.0
       부산광역시    114.0      177.0              20.0                   25.0
       서울특별시    313.0      377.0              52.0                   70.0
       울산광역시     73.0      110.0              14.0                   15.0
       인천광역시    115.0      160.0              22.0                   25.0
202406 광주광역시     73.0      113.0              15.0                   28.0
       대구광역시     72.0      115.0               7.0                   23.0
       대전광역시     66.0       93.0              12.0                   22.0
       부산광역시     92.0      154.0              20.0                   17.0
       서울특별시    235.0      372.0              50.0                   67.0
       울산광역시     55.0       82.0               7.0                   21.0
       인천광역시     87.0      144.0               9.0                   23.0

In [9]:
pivot_current_type.to_clipboard()

# Gr Region Pivot 작업

In [10]:
# - TEREA_flaXtar_ from 202211
sql2 = ''' 
select  
	t.YYYYMM,
	gr_cd,
	concat(FLAVORSEG_type3,' X ', New_TARSEGMENTAT) flavorXtar,
	count(distinct case when b.cigatype ='CC' then t.id end) CC,
	count(distinct case when b.cigatype ='HnB' then t.id end) HnB
from  cu.agg_CU_TEREA_Total_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and b.CIGADEVICE =  'CIGARETTES' AND b.cigatype != 'CSV'  
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
where t.YYYYMM >= '202401'
group BY 
	t.YYYYMM,
	gr_cd,
	concat(FLAVORSEG_type3,' X ', New_TARSEGMENTAT) 
'''

data2 = pd.read_sql_query(sql=sql2, con=engine)

pivot_flavor_tar = data2.pivot_table(index=['YYYYMM','gr_cd'], 
                                     columns='flavorXtar',
                                     values=['HnB', 'CC' ]
                                    )
print(pivot_flavor_tar)

                   CC                                                        \
flavorXtar   Fresh X  Fresh X 1MG Fresh X Below 1MG Fresh X LTS Fresh X ULT
YYYYMM gr_cd
202401 광주         0.0        24.0               NaN        29.0         5.0
       기타         0.0        33.0               NaN        38.0        14.0
       대구         0.0        18.0               NaN        15.0         5.0
       대전         0.0        26.0               NaN        31.0         9.0
       부산         0.0        25.0               NaN        25.0         4.0
       서울         0.0       114.0               NaN       124.0        17.0
202402 광주         0.0        32.0               NaN        27.0         4.0
       기타         0.0        32.0               NaN        40.0         8.0
       대구         0.0        19.0               NaN        13.0         4.0
       대전         0.0        40.0               NaN        33.0         3.0
       부산         0.0        32.0               NaN        20.0         6.0
       서울         0.0       102.0               NaN        97.0        16.0
202403 광주         0.0        30.0               NaN        21.0         2.0
       기타         0.0        24.0               NaN        43.0         2.0
       대구         0.0        21.0               NaN         5.0         3.0
       대전         0.0        30.0               NaN        46.0         6.0
       부산         0.0        36.0               NaN        34.0         4.0
       서울         0.0        97.0               NaN       128.0        17.0
202404 광주         0.0        26.0               NaN        31.0         7.0
       기타         0.0        41.0               NaN        42.0         6.0
       대구         0.0        26.0               1.0        14.0         4.0
       대전         0.0        38.0               NaN        36.0        11.0
       부산         0.0        39.0               NaN        35.0         6.0
       서울         0.0        89.0               NaN       117.0        16.0
202405 광주         0.0        37.0               NaN        31.0         1.0
       기타         0.0        15.0               NaN        40.0         4.0
       대구         0.0        15.0               NaN        16.0         1.0
       대전         0.0        42.0               NaN        44.0        14.0
       부산         0.0        29.0               NaN        18.0         4.0
       서울         0.0       102.0               NaN       137.0        20.0
202406 광주         0.0        25.0               NaN        22.0         8.0
       기타         0.0        46.0               NaN        45.0         9.0
       대구         0.0        25.0               NaN        16.0         2.0
       대전         0.0        44.0               NaN        45.0         7.0
       부산         0.0        25.0               NaN        22.0         5.0
       서울         0.0        97.0               NaN       132.0        22.0

                                                                 \
flavorXtar   New Taste X  New Taste X 1MG New Taste X Below 1MG
YYYYMM gr_cd
202401 광주             0.0           366.0                  17.0
       기타             0.0           263.0                  14.0
       대구             0.0           254.0                   9.0
       대전             0.0           281.0                  15.0
       부산             0.0           431.0                  12.0
       서울             0.0           755.0                  46.0
202402 광주             0.0           360.0                  16.0
       기타             0.0           279.0                  17.0
       대구             0.0           241.0                   9.0
       대전             0.0           336.0                  22.0
       부산             0.0           483.0                  26.0
       서울             0.0           723.0                  45.0
202403 광주             0.0           361.0                  30.0
       기타             0.0           283.0                  18.0
       대구             0.0           275.0                   9.0
       대전             0.0           337.0                  33.0
       부산             0.0           494.0                  27.0
       서울             0.0           774.0                  61.0
202404 광주             0.0           361.0                  21.0
       기타             0.0           278.0                  21.0
       대구             0.0           311.0                  13.0
       대전             0.0           373.0                  42.0
       부산             0.0           510.0                  19.0
       서울             0.0           817.0                  63.0
202405 광주             0.0           377.0                  26.0
       기타             0.0           272.0                  25.0
       대구             0.0           309.0                   9.0
       대전             0.0           391.0                  30.0
       부산             0.0           504.0                  19.0
       서울             0.0           923.0                  61.0
202406 광주             0.0           384.0                  19.0
       기타             0.0           306.0                  26.0
       대구             0.0           330.0                  11.0
       대전             0.0           426.0                  35.0
       부산             0.0           472.0                  18.0
       서울             0.0           920.0                  62.0

                                              ...             HnB  \
flavorXtar   New Taste X LTS New Taste X ULT  ... New Taste X 1MG
YYYYMM gr_cd                                  ...
202401 광주               14.0            80.0  ...             0.0
       기타               52.0           125.0  ...             0.0
       대구               20.0            59.0  ...             0.0
       대전               27.0           124.0  ...             0.0
       부산               25.0           101.0  ...             0.0
       서울              123.0           352.0  ...             0.0
202402 광주               24.0           100.0  ...             0.0
       기타               41.0           119.0  ...             0.0
       대구               12.0            65.0  ...             0.0
       대전               34.0           137.0  ...             0.0
       부산               34.0            96.0  ...             0.0
       서울              124.0           367.0  ...             0.0
202403 광주               27.0           102.0  ...             0.0
       기타               45.0           108.0  ...             0.0
       대구                9.0            49.0  ...             0.0
       대전               37.0           171.0  ...             0.0
       부산               43.0           126.0  ...             0.0
       서울              153.0           403.0  ...             0.0
202404 광주               15.0            89.0  ...             0.0
       기타               27.0           102.0  ...             0.0
       대구               13.0            58.0  ...             0.0
       대전               43.0           156.0  ...             0.0
       부산               25.0           160.0  ...             0.0
       서울              138.0           388.0  ...             0.0
202405 광주               23.0           120.0  ...             0.0
       기타               26.0           103.0  ...             0.0
       대구               14.0            62.0  ...             0.0
       대전               54.0           162.0  ...             0.0
       부산               23.0           118.0  ...             0.0
       서울              174.0           426.0  ...             0.0
202406 광주               29.0            93.0  ...             0.0
       기타               36.0           117.0  ...             0.0
       대구               23.0            76.0  ...             0.0
       대전               43.0           183.0  ...             0.0
       부산               30.0           110.0  ...             0.0
       서울              150.0           462.0  ...             0.0

                                                                               \
flavorXtar   New Taste X Below 1MG New Taste X LTS New Taste X ULT Regular X
YYYYMM gr_cd
202401 광주                      0.0             0.0             0.0       54.0
       기타                      0.0             0.0             0.0       62.0
       대구                      0.0             0.0             0.0       28.0
       대전                      0.0             0.0             0.0       54.0
       부산                      0.0             0.0             0.0       72.0
       서울                      0.0             0.0             0.0      199.0
202402 광주                      0.0             0.0             0.0       56.0
       기타                      0.0             0.0             0.0       54.0
       대구                      0.0             0.0             0.0       44.0
       대전                      0.0             0.0             0.0       65.0
       부산                      0.0             0.0             0.0       65.0
       서울                      0.0             0.0             0.0      195.0
202403 광주                      0.0             0.0             0.0       56.0
       기타                      0.0             0.0             0.0       61.0
       대구                      0.0             0.0             0.0       32.0
       대전                      0.0             0.0             0.0       65.0
       부산                      0.0             0.0             0.0       60.0
       서울                      0.0             0.0             0.0      224.0
202404 광주                      0.0             0.0             0.0       79.0
       기타                      0.0             0.0             0.0       64.0
       대구                      0.0             0.0             0.0       59.0
       대전                      0.0             0.0             0.0      104.0
       부산                      0.0             0.0             0.0       89.0
       서울                      0.0             0.0             0.0      298.0
202405 광주                      0.0             0.0             0.0       68.0
       기타                      0.0             0.0             0.0       41.0
       대구                      0.0             0.0             0.0       42.0
       대전                      0.0             0.0             0.0       75.0
       부산                      0.0             0.0             0.0       90.0
       서울                      0.0             0.0             0.0      224.0
202406 광주                      0.0             0.0             0.0       61.0
       기타                      0.0             0.0             0.0       48.0
       대구                      0.0             0.0             0.0       40.0
       대전                      0.0             0.0             0.0       76.0
       부산                      0.0             0.0             0.0       62.0
       서울                      0.0             0.0             0.0      162.0

                                                                           \
flavorXtar   Regular X 1MG Regular X Below 1MG Regular X FF Regular X LTS
YYYYMM gr_cd
202401 광주              0.0                 0.0          0.0           0.0
       기타              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0
202402 광주              0.0                 0.0          0.0           0.0
       기타              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0
202403 광주              0.0                 0.0          0.0           0.0
       기타              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0
202404 광주              0.0                 0.0          0.0           0.0
       기타              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0
202405 광주              0.0                 0.0          0.0           0.0
       기타              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0
202406 광주              0.0                 0.0          0.0           0.0
       기타              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0


flavorXtar   Regular X ULT
YYYYMM gr_cd
202401 광주              0.0
       기타              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0
202402 광주              0.0
       기타              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0
202403 광주              0.0
       기타              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0
202404 광주              0.0
       기타              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0
202405 광주              0.0
       기타              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0
202406 광주              0.0
       기타              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0

[36 rows x 32 columns]

In [11]:
pivot_flavor_tar.to_clipboard()

In [12]:
# - Terea_user_past_type_M1
sql = ''' 
select  
	t.YYYYMM, 
	gr_cd,
	t.id,
	max(case when b.cigatype='HnB' and b.company = 'PMK' then 1 else 0 end) IQOS_Purchased,
	max(case when b.cigatype='CC' then 1 else 0 end) CC_Purchased,
	max(case when b.cigatype='HnB' and b.company != 'PMK' then 1 else 0 end) CompHnB_Purchased
from cu.agg_CU_TEREA_Total_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
where t.YYYYMM >= '202401'
group BY 	    
	t.YYYYMM, 
	gr_cd, 
	t.id
'''

data = pd.read_sql_query(sql=sql, con=engine)
# Past Type 
def categorize(row):
    categories = []
    if row['IQOS_Purchased'] == 1:
        categories.append('PMK HnB')
    if row['CC_Purchased'] == 1:
        categories.append('CC')
    if row['CompHnB_Purchased'] == 1:
        categories.append('Comp HnB')
    return ','.join(categories)

data['retype'] = data.apply(categorize, axis=1)
result = data.groupby(['YYYYMM','gr_cd', 'retype']).size().reset_index(name='N')
total = result['N'].sum()

pivot_past_type = result.pivot_table( 
                            index=['YYYYMM', 'gr_cd'],
                            columns='retype',
                            values='N'
                            )
print(pivot_past_type)

retype            CC  CC,Comp HnB  Comp HnB  PMK HnB  PMK HnB,CC  \
YYYYMM gr_cd
202401 광주      490.0         84.0      42.0     91.0        62.0
       기타      449.0        103.0      24.0     69.0        46.0
       대구      340.0         61.0      37.0     39.0        31.0
       대전      544.0         82.0      47.0     91.0        61.0
       부산      556.0        106.0      51.0    103.0        64.0
       서울     1481.0        252.0     140.0    289.0       195.0
202402 광주      527.0         97.0      45.0     88.0        51.0
       기타      476.0        106.0      37.0     60.0        45.0
       대구      340.0         61.0      37.0     56.0        40.0
       대전      564.0        115.0      41.0     77.0        59.0
       부산      606.0        101.0      61.0     99.0        75.0
       서울     1499.0        249.0     156.0    268.0       164.0
202403 광주      510.0        112.0      48.0     66.0        56.0
       기타      511.0         95.0      37.0     57.0        42.0
       대구      369.0         59.0      34.0     46.0        28.0
       대전      626.0        117.0      56.0     92.0        56.0
       부산      680.0        103.0      52.0     96.0        56.0
       서울     1660.0        280.0     166.0    264.0       178.0
202404 광주      477.0        113.0      62.0    116.0        64.0
       기타      479.0         95.0      67.0     83.0        54.0
       대구      369.0         80.0      49.0    100.0        53.0
       대전      660.0        105.0      54.0    174.0        75.0
       부산      624.0        133.0      63.0    136.0        92.0
       서울     1642.0        289.0     177.0    494.0       299.0
202405 광주      562.0         93.0      48.0    168.0        78.0
       기타      468.0         79.0      57.0     89.0        69.0
       대구      372.0         63.0      46.0    120.0        55.0
       대전      671.0        109.0      66.0    183.0       113.0
       부산      623.0        122.0      65.0    162.0       112.0
       서울     1742.0        336.0     172.0    543.0       343.0
202406 광주      544.0        103.0      64.0    124.0        69.0
       기타      497.0         97.0      47.0     87.0        63.0
       대구      399.0         79.0      28.0     97.0        77.0
       대전      692.0        126.0      63.0    138.0        91.0
       부산      606.0        125.0      65.0    125.0        83.0
       서울     1854.0        313.0     210.0    319.0       216.0

retype        PMK HnB,CC,Comp HnB  PMK HnB,Comp HnB
YYYYMM gr_cd
202401 광주                     6.0               4.0
       기타                    13.0               5.0
       대구                     5.0               1.0
       대전                     4.0               6.0
       부산                    10.0               5.0
       서울                    20.0              24.0
202402 광주                     5.0               5.0
       기타                     2.0               3.0
       대구                     2.0               4.0
       대전                    10.0              10.0
       부산                    15.0               5.0
       서울                    17.0              20.0
202403 광주                     4.0               6.0
       기타                    10.0               3.0
       대구                     2.0               4.0
       대전                     8.0              11.0
       부산                    11.0               5.0
       서울                    24.0              23.0
202404 광주                     9.0               5.0
       기타                     6.0               4.0
       대구                    11.0               6.0
       대전                    10.0               6.0
       부산                     9.0               9.0
       서울                    34.0              29.0
202405 광주                    11.0              11.0
       기타                     6.0               NaN
       대구                     5.0               7.0
       대전                    16.0              19.0
       부산                     8.0               8.0
       서울                    52.0              42.0
202406 광주                     5.0              12.0
       기타                    13.0               8.0
       대구                     4.0               5.0
       대전                    18.0              12.0
       부산                    10.0               8.0
       서울                    32.0              24.0

In [13]:
pivot_past_type.to_clipboard()

In [14]:
# - Terea_user_Current_type_M1

sql3 = ''' 
with temp as (
select  
	t.YYYYMM, 
	gr_cd,
	t.id,
	max(case when b.cigatype='HnB' and b.company = 'PMK' then 1 else 0 end) IQOS_Purchased,
	max(case when b.cigatype='CC' then 1 else 0 end) CC_Purchased,
	max(case when b.cigatype='HnB' and b.company != 'PMK' then 1 else 0 end) CompHnB_Purchased
from  cu.agg_CU_TEREA_Total_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM = t.YYYYMM
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
where t.YYYYMM >= '202401'
group BY 	    	
	t.YYYYMM, 
	gr_cd,
	t.id
)
select YYYYMM, gr_cd,
    'IQOS' +
    CASE WHEN CompHnB_Purchased = 1 THEN ' + Comp. HnB' ELSE '' END + 
    CASE WHEN CC_Purchased = 1 THEN ' + CC' ELSE '' END 
     as Cigatype,
    count(*) purchaser_cnt
from temp
group by YYYYMM, gr_cd,
    'IQOS' +
    CASE WHEN CompHnB_Purchased = 1 THEN ' + Comp. HnB' ELSE '' END + 
    CASE WHEN CC_Purchased = 1 THEN ' + CC' ELSE '' END 
'''

data3 = pd.read_sql_query(sql=sql3, con=engine)

pivot_current_type = data3.pivot_table(index=['YYYYMM', 'gr_cd'],
                                       columns='Cigatype',
                                       values='purchaser_cnt',
                                       )

print(pivot_current_type)

Cigatype        IQOS  IQOS + CC  IQOS + Comp. HnB  IQOS + Comp. HnB + CC
YYYYMM gr_cd
202401 광주      296.0      360.0              47.0                   76.0
       기타      233.0      372.0              45.0                   59.0
       대구      162.0      279.0              27.0                   46.0
       대전      299.0      422.0              37.0                   77.0
       부산      330.0      424.0              48.0                   93.0
       서울      850.0     1234.0             133.0                  184.0
202402 광주      276.0      431.0              49.0                   62.0
       기타      212.0      411.0              33.0                   73.0
       대구      213.0      254.0              27.0                   46.0
       대전      304.0      456.0              51.0                   65.0
       부산      344.0      496.0              54.0                   68.0
       서울      816.0     1237.0             137.0                  183.0
202403 광주      269.0      420.0              37.0                   76.0
       기타      238.0      404.0              45.0                   68.0
       대구      195.0      260.0              35.0                   52.0
       대전      320.0      501.0              59.0                   86.0
       부산      311.0      552.0              56.0                   84.0
       서울      854.0     1378.0             169.0                  194.0
202404 광주      290.0      429.0              59.0                   68.0
       기타      221.0      423.0              51.0                   93.0
       대구      246.0      326.0              39.0                   57.0
       대전      390.0      550.0              63.0                   81.0
       부산      344.0      564.0              55.0                  103.0
       서울     1096.0     1471.0             167.0                  230.0
202405 광주      359.0      488.0              54.0                   70.0
       기타      228.0      428.0              41.0                   71.0
       대구      257.0      317.0              39.0                   55.0
       대전      419.0      577.0              75.0                  106.0
       부산      407.0      555.0              57.0                   81.0
       서울     1173.0     1603.0             205.0                  249.0
202406 광주      319.0      462.0              58.0                   82.0
       기타      236.0      454.0              56.0                   66.0
       대구      251.0      346.0              30.0                   62.0
       대전      383.0      603.0              62.0                   92.0
       부산      335.0      534.0              63.0                   90.0
       서울      954.0     1592.0             179.0                  243.0

In [15]:
pivot_current_type.to_clipboard()

# Pivot 작업 - Gr.지역 별 sourcing 작업해주신 내용에서 cc 에서 유입인 경우 cc family / subfamily / taste segment
## 1. CC Pivot

In [3]:
sql6 = ''' 
select  
	t.YYYYMM, COALESCE(gr_cd, '합계') 'Gr Region',
	FLAVORSEG_type3,
	count(distinct t.id) purchasers
from cu.agg_CU_TEREA_Total_Sourcing t
		join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM = t.YYYYMM	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' and b.cigatype='CC'
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
where 1=1
and t.YYYYMM >= '202401'
group BY
	grouping sets (
		(t.YYYYMM, gr_cd, FLAVORSEG_type3),
		(t.YYYYMM, FLAVORSEG_type3)
	)
'''

gr_Region_taste = pd.read_sql_query(sql=sql6, con=engine)


pivot_gr_taste = gr_Region_taste.pivot_table(index=['YYYYMM', 'Gr Region'],
                         columns=['FLAVORSEG_type3'],
                         values= 'purchasers'  
                        )

In [4]:
taste_sql = ''' 
with temp as (
	select t.YYYYMM, 
	gr_cd,
	t.id,
	max(b.FLAVORSEG_type3 ) + ' Only' FLAVORSEG_type3 
	from cu.agg_CU_TEREA_Total_Sourcing t
			join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
			and a.YYYYMM = t.YYYYMM	
		join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' and b.cigatype='CC'
		join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
	where t.YYYYMM >= '202401'
	group by t.YYYYMM, gr_cd, t.id
	having count(distinct b.FLAVORSEG_type3) = 1 
)
select YYYYMM, COALESCE(gr_cd, '합계') 'Gr Region',
	FLAVORSEG_type3 , 
	count(id) purchasers
from temp
group by 	
	grouping sets (
		(YYYYMM, gr_cd, FLAVORSEG_type3),
		(YYYYMM, FLAVORSEG_type3)
	) 
'''

gr_Region_taste_only = pd.read_sql_query(sql=taste_sql, con=engine)


pivot_gr_taste_only = gr_Region_taste_only.pivot_table(index=['YYYYMM', 'Gr Region'],
                         columns=['FLAVORSEG_type3'],
                         values= 'purchasers'  
                        )

In [5]:
# ProductFamilyCode

sql4 = ''' 
select  
	t.YYYYMM, COALESCE(gr_cd, '합계') 'Gr Region',
	ProductFamilyCode,
--	ProductSubFamilyCode,
--	FLAVORSEG_type3,
	count(distinct t.id) purchasers
from cu.agg_CU_TEREA_Total_Sourcing t
		join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM = t.YYYYMM		
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' and b.cigatype='CC'
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
where 1=1
and t.YYYYMM >= '202401'
group BY
	grouping sets (
		(t.YYYYMM, gr_cd, ProductFamilyCode),
		(t.YYYYMM, ProductFamilyCode)
	)
'''

gr_Region_FamilyCode = pd.read_sql_query(sql=sql4, con=engine)


pivot_gr = gr_Region_FamilyCode.pivot_table(index=['YYYYMM', 'Gr Region'],
                         columns='ProductFamilyCode',
                         values= 'purchasers'  
                        )

In [6]:
# ProductSubFamilyCode

sql5 = ''' 
select  
	t.YYYYMM, COALESCE(gr_cd, '합계') 'Gr Region',
	ProductSubFamilyCode,
	count(distinct t.id) purchasers
from cu.agg_CU_TEREA_Total_Sourcing t
		join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM = t.YYYYMM	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' and b.cigatype='CC'
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
where 1=1
and t.YYYYMM >= '202401'
group BY
	grouping sets (
		(t.YYYYMM, gr_cd, ProductSubFamilyCode),
		(t.YYYYMM, ProductSubFamilyCode)
	)
'''

gr_Region_SubFamliyCode = pd.read_sql_query(sql=sql5, con=engine)


pivot_gr_SubFamliyCode = gr_Region_SubFamliyCode.pivot_table(index=['YYYYMM', 'Gr Region'],
                         columns=['ProductSubFamilyCode'],
                         values= 'purchasers'  
                        )

## 피벗 합치기

In [7]:
sql7= ''' 
select  
	t.YYYYMM,  COALESCE(gr_cd, '합계') 'Gr Region',
	count(distinct t.id) purchasers
from cu.agg_CU_TEREA_Total_Sourcing t
		join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
			and a.YYYYMM = t.YYYYMM	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' and b.cigatype='CC'
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
where 1=1
and t.YYYYMM >= '202401'
group BY
	grouping sets (
		(t.YYYYMM, gr_cd),
		(t.YYYYMM)
	)
'''
gr_Region_Total = pd.read_sql_query(sql=sql7, con=engine)
gr_Region_Total = gr_Region_Total.pivot_table(index=['YYYYMM', 'Gr Region'],
                            values='purchasers')

ppp = pd.concat([gr_Region_Total, pivot_gr_taste, pivot_gr_taste_only, pivot_gr, pivot_gr_SubFamliyCode], axis=1)

ppp.to_clipboard()

## 2. 과거 3개월 동안 CC 구매 Pivot

In [8]:
cc_sql1 = ''' 
select
	t.YYYYMM, COALESCE(gr_cd, '합계') 'Gr Region',
	FLAVORSEG_type3,
	count(distinct t.id) purchasers
from cu.agg_CU_TEREA_Total_Sourcing t
		join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
			and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
					 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' and b.cigatype='CC'
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
where 1=1
and t.YYYYMM >= '202401'
group BY
	grouping sets (
		(t.YYYYMM, gr_cd, FLAVORSEG_type3),
		(t.YYYYMM, FLAVORSEG_type3)
	)
'''

gr_Region_cc_taste = pd.read_sql_query(sql=cc_sql1, con=engine)


pivot_gr_cc_taste = gr_Region_cc_taste.pivot_table(index=['YYYYMM', 'Gr Region'],
                         columns=['FLAVORSEG_type3'],
                         values= 'purchasers'  
                        )

In [9]:
cc_sql2 = ''' 
with temp as (
	select t.YYYYMM, 
			gr_cd, 
			t.id, 
			max(b.FLAVORSEG_type3 ) + ' Only' FLAVORSEG_type3 
	from cu.agg_CU_TEREA_Total_Sourcing t
		join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
			and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
							 AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)
		join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' and b.cigatype='CC'
		join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
	where t.YYYYMM >= '202401'
	group by t.YYYYMM, gr_cd, t.id
	having count(distinct b.FLAVORSEG_type3) = 1 
)
select YYYYMM, COALESCE(gr_cd, '합계') 'Gr Region',
	FLAVORSEG_type3 , 
	count(id) purchasers
from temp
group by 	
	grouping sets (
		(YYYYMM, gr_cd, FLAVORSEG_type3),
		(YYYYMM, FLAVORSEG_type3)
	) 
'''

gr_Region_CC_taste_only = pd.read_sql_query(sql=cc_sql2, con=engine)


pivot_gr_CC_taste_only = gr_Region_CC_taste_only.pivot_table(index=['YYYYMM', 'Gr Region'],
                         columns=['FLAVORSEG_type3'],
                         values= 'purchasers'  
                        )

In [10]:
# ProductFamilyCode

cc_sql3 = ''' 
select  
	t.YYYYMM, COALESCE(gr_cd, '합계') 'Gr Region',
	ProductFamilyCode,
	count(distinct t.id) purchasers
from cu.agg_CU_TEREA_Total_Sourcing t
		join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
			and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
					 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' and b.cigatype='CC'
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
where 1=1
and t.YYYYMM >= '202401'
group BY
	grouping sets (
		(t.YYYYMM, gr_cd, ProductFamilyCode),
		(t.YYYYMM, ProductFamilyCode)
	)
'''

gr_Region_CC_FamilyCode = pd.read_sql_query(sql=cc_sql3, con=engine)


pivot_gr_CC_FamilyCode = gr_Region_CC_FamilyCode.pivot_table(index=['YYYYMM', 'Gr Region'],
                         columns='ProductFamilyCode',
                         values= 'purchasers'  
                        )

In [11]:
# ProductSubFamilyCode

cc_sql4 = ''' 
select  
	t.YYYYMM, COALESCE(gr_cd, '합계') 'Gr Region',
	ProductSubFamilyCode,
	count(distinct t.id) purchasers
from cu.agg_CU_TEREA_Total_Sourcing t
		join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
			and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
					 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' and b.cigatype='CC'
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
where 1=1
and t.YYYYMM >= '202401'
group BY
	grouping sets (
		(t.YYYYMM, gr_cd, ProductSubFamilyCode),
		(t.YYYYMM, ProductSubFamilyCode)
	)
'''

gr_Region_CC_SubFamliyCode = pd.read_sql_query(sql=cc_sql4, con=engine)


pivot_gr_CC_SubFamliyCode = gr_Region_CC_SubFamliyCode.pivot_table(index=['YYYYMM', 'Gr Region'],
                         columns=['ProductSubFamilyCode'],
                         values= 'purchasers'  
                        )

In [12]:
Total_CC_sql= ''' 
select  
	t.YYYYMM,  COALESCE(gr_cd, '합계') 'Gr Region',
	count(distinct t.id) purchasers
from cu.agg_CU_TEREA_Total_Sourcing t
		join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
			and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
					 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' and b.cigatype='CC'
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
where 1=1
and t.YYYYMM >= '202401'
group BY
	grouping sets (
		(t.YYYYMM, gr_cd),
		(t.YYYYMM)
	)
'''
gr_Region_CC_3month = pd.read_sql_query(sql=Total_CC_sql, con=engine)
gr_Region_CC_3month = gr_Region_CC_3month.pivot_table(index=['YYYYMM', 'Gr Region'],
                            values='purchasers')

ppp = pd.concat([gr_Region_CC_3month, pivot_gr_cc_taste, pivot_gr_CC_taste_only, pivot_gr_CC_FamilyCode, pivot_gr_CC_SubFamliyCode], axis=1)

ppp.to_clipboard()

# Pivot concat 해보기

In [16]:
total_id_count = data.groupby('YYYYMM')['id'].count().reset_index(name='total_id_count')

gender_age_count = data.groupby(['YYYYMM', 'gender', 'age']).size().reset_index(name='count')

gender_pivot = gender_age_count.pivot_table(
    index ='YYYYMM',
    columns= ['gender', 'age'],
    values='count'
)

res = total_id_count.set_index('YYYYMM').join(gender_pivot)

res

MergeError: Not allowed to merge between different levels. (1 levels on the left, 2 on the right)

In [42]:
# -- Gr Region 집계 user_current_type_M1

gr_sql1= ''' 
with temp as (
select  
	t.YYYYMM, 
	gr_cd,
	t.id,
	max(case when b.cigatype='HnB' and b.company = 'PMK' then 1 else 0 end) IQOS_Purchased,
	max(case when b.cigatype='CC' then 1 else 0 end) CC_Purchased,
	max(case when b.cigatype='HnB' and b.company != 'PMK' then 1 else 0 end) CompHnB_Purchased
from  cu.agg_CU_TEREA_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM = t.YYYYMM
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
group BY 	    	
	t.YYYYMM, 
	gr_cd,
	t.id
)
select YYYYMM, gr_cd,
    'IQOS' +
    CASE WHEN CompHnB_Purchased = 1 THEN ' + Comp. HnB' ELSE '' END + 
    CASE WHEN CC_Purchased = 1 THEN ' + CC' ELSE '' END 
     as Cigatype,
    count(*) purchaser_cnt
from temp
group by YYYYMM, gr_cd,
    'IQOS' +
    CASE WHEN CompHnB_Purchased = 1 THEN ' + Comp. HnB' ELSE '' END + 
    CASE WHEN CC_Purchased = 1 THEN ' + CC' ELSE '' END 
;
'''


gr_data = pd.read_sql_query(sql=gr_sql1, con=engine)

In [49]:
pivot_current_type = gr_data.pivot_table(index=['YYYYMM','gr_cd'],
                                       columns='Cigatype',
                                       values='purchaser_cnt',
                                       ).sort_values(['YYYYMM', 'gr_cd'], ascending=[True, False])

print(pivot_current_type)
pivot_current_type.to_clipboard()

Cigatype        IQOS  IQOS + CC  IQOS + Comp. HnB  IQOS + Comp. HnB + CC
YYYYMM gr_cd
202401 서울      885.0     1274.0             135.0                  190.0
       부산      337.0      430.0              44.0                   90.0
       대전      247.0      373.0              34.0                   68.0
       대구      168.0      283.0              28.0                   47.0
       광주      279.0      347.0              46.0                   74.0
       Other   254.0      385.0              50.0                   66.0
202402 서울      855.0     1280.0             142.0                  184.0
       부산      345.0      493.0              55.0                   68.0
       대전      257.0      405.0              47.0                   64.0
       대구      214.0      261.0              27.0                   45.0
       광주      246.0      406.0              46.0                   59.0
       Other   248.0      441.0              35.0                   77.0
202403 서울      882.0     1426.0             173.0                  197.0
       부산      317.0      547.0              53.0                   85.0
       대전      278.0      441.0              53.0                   78.0
       대구      196.0      266.0              38.0                   54.0
       광주      262.0      420.0              37.0                   75.0
       Other   253.0      415.0              47.0                   71.0
202404 서울     1129.0     1506.0             174.0                  232.0
       부산      350.0      562.0              58.0                  103.0
       대전      356.0      502.0              56.0                   78.0
       대구      238.0      323.0              39.0                   57.0
       광주      272.0      425.0              57.0                   66.0
       Other   242.0      446.0              50.0                   99.0
202405 서울     1206.0     1632.0             211.0                  248.0
       부산      414.0      559.0              58.0                   82.0
       대전      372.0      539.0              67.0                  104.0
       대구      261.0      328.0              40.0                   57.0
       광주      343.0      478.0              53.0                   67.0
       Other   247.0      436.0              43.0                   75.0
202406 서울      982.0     1622.0             183.0                  244.0
       부산      335.0      533.0              62.0                   91.0
       대전      372.0      576.0              59.0                   90.0
       대구      247.0      346.0              30.0                   63.0
       광주      308.0      457.0              58.0                   82.0
       Other   235.0      457.0              56.0                   65.0

In [43]:
gr_sql2 = ''' 
select  
	t.YYYYMM, 
	gr_cd,
	t.id,
	max(case when b.cigatype='HnB' and b.company = 'PMK' then 1 else 0 end) IQOS_Purchased,
	max(case when b.cigatype='CC' then 1 else 0 end) CC_Purchased,
	max(case when b.cigatype='HnB' and b.company != 'PMK' then 1 else 0 end) CompHnB_Purchased
from cu.agg_CU_TEREA_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
group BY 	    
	t.YYYYMM, 
	gr_cd, 
	t.id
;
'''

gr_data2 = pd.read_sql_query(sql=gr_sql2, con=engine)

In [52]:
# Past Type 
def categorize(row):
    categories = []
    if row['IQOS_Purchased'] == 1:
        categories.append('PMK HnB')
    if row['CC_Purchased'] == 1:
        categories.append('CC')
    if row['CompHnB_Purchased'] == 1:
        categories.append('Comp HnB')
    return ','.join(categories)

gr_data2['retype'] = gr_data2.apply(categorize, axis=1)
result = gr_data2.groupby(['YYYYMM','gr_cd', 'retype']).size().reset_index(name='N')
total = result['N'].sum()

print(result)

     YYYYMM  gr_cd               retype    N
0    202401  Other                   CC  467
1    202401  Other          CC,Comp HnB  102
2    202401  Other             Comp HnB   28
3    202401  Other              PMK HnB   81
4    202401  Other           PMK HnB,CC   54
..      ...    ...                  ...  ...
247  202406     서울             Comp HnB  214
248  202406     서울              PMK HnB  330
249  202406     서울           PMK HnB,CC  222
250  202406     서울  PMK HnB,CC,Comp HnB   32
251  202406     서울     PMK HnB,Comp HnB   25

[252 rows x 4 columns]

In [56]:
pivot_past_type = result.pivot_table( 
                            index=['YYYYMM', 'gr_cd'],
                            columns='retype',
                            values='N'
                            ).sort_values(['YYYYMM', 'gr_cd'], ascending=[True, False])
print(pivot_past_type)
pivot_past_type.to_clipboard()

retype            CC  CC,Comp HnB  Comp HnB  PMK HnB  PMK HnB,CC  \
YYYYMM gr_cd
202401 서울     1535.0        267.0     141.0    296.0       202.0
       부산      565.0        105.0      49.0    103.0        64.0
       대전      484.0         66.0      43.0     75.0        48.0
       대구      342.0         64.0      40.0     41.0        33.0
       광주      468.0         84.0      40.0     86.0        58.0
       Other   467.0        102.0      28.0     81.0        54.0
202402 서울     1548.0        258.0     164.0    275.0       177.0
       부산      605.0        102.0      59.0    102.0        74.0
       대전      504.0        108.0      35.0     61.0        47.0
       대구      346.0         62.0      38.0     59.0        36.0
       광주      492.0         89.0      42.0     78.0        46.0
       Other   518.0        110.0      39.0     74.0        54.0
202403 서울     1717.0        283.0     172.0    273.0       183.0
       부산      677.0        104.0      51.0     98.0        58.0
       대전      557.0        105.0      50.0     77.0        46.0
       대구      371.0         57.0      36.0     51.0        30.0
       광주      505.0        114.0      46.0     62.0        56.0
       Other   529.0        103.0      38.0     60.0        43.0
202404 서울     1682.0        296.0     181.0    506.0       312.0
       부산      619.0        136.0      66.0    142.0        93.0
       대전      608.0         98.0      51.0    154.0        65.0
       대구      365.0         77.0      47.0     99.0        51.0
       광주      469.0        113.0      58.0    106.0        60.0
       Other   509.0         95.0      69.0     96.0        56.0
202405 서울     1776.0        342.0     177.0    551.0       356.0
       부산      630.0        125.0      64.0    163.0       113.0
       대전      630.0        102.0      60.0    164.0        96.0
       대구      383.0         65.0      46.0    123.0        56.0
       광주      543.0         88.0      49.0    163.0        78.0
       Other   478.0         84.0      58.0    101.0        71.0
202406 서울     1890.0        318.0     214.0    330.0       222.0
       부산      607.0        122.0      64.0    126.0        84.0
       대전      663.0        122.0      62.0    135.0        86.0
       대구      398.0         80.0      28.0     94.0        77.0
       광주      535.0        104.0      62.0    119.0        68.0
       Other   499.0         98.0      47.0     86.0        62.0

retype        PMK HnB,CC,Comp HnB  PMK HnB,Comp HnB
YYYYMM gr_cd
202401 서울                    20.0              23.0
       부산                    10.0               5.0
       대전                     2.0               4.0
       대구                     5.0               1.0
       광주                     6.0               4.0
       Other                 15.0               8.0
202402 서울                    17.0              22.0
       부산                    14.0               5.0
       대전                    10.0               8.0
       대구                     2.0               4.0
       광주                     5.0               5.0
       Other                  3.0               3.0
202403 서울                    25.0              25.0
       부산                    10.0               4.0
       대전                     7.0               8.0
       대구                     3.0               6.0
       광주                     5.0               6.0
       Other                 10.0               3.0
202404 서울                    35.0              29.0
       부산                     7.0              10.0
       대전                    11.0               5.0
       대구                    13.0               5.0
       광주                     9.0               5.0
       Other                  7.0               5.0
202405 서울                    52.0              43.0
       부산                     9.0               9.0
       대전                    16.0              14.0
       대구                     5.0               8.0
       광주                    10.0              10.0
       Other                  6.0               3.0
202406 서울                    32.0              25.0
       부산                    10.0               8.0
       대전                    18.0              11.0
       대구                     4.0               5.0
       광주                     5.0              12.0
       Other                 13.0               8.0

In [58]:
# -- TEREA flavorXtar from 202211

gr_sql3 = ''' 
select  
	t.YYYYMM,
	gr_cd,
	concat(FLAVORSEG_type3,' X ', New_TARSEGMENTAT) flavorXtar,
	count(distinct case when b.cigatype ='CC' then t.id end) CC,
	count(distinct case when b.cigatype ='HnB' then t.id end) HnB
from  cu.agg_CU_TEREA_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and b.CIGADEVICE =  'CIGARETTES' AND b.cigatype != 'CSV'  
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
group BY 
	t.YYYYMM,
	gr_cd,
	concat(FLAVORSEG_type3,' X ', New_TARSEGMENTAT) 
;
'''

gr_data3 = pd.read_sql_query(sql=gr_sql3, con=engine)

In [60]:
pivot_flavor_tar = gr_data3.pivot_table(index=['YYYYMM', 'gr_cd'], 
                                     columns='flavorXtar',
                                     values=['HnB', 'CC' ]
                                    ).sort_values(['YYYYMM', 'gr_cd'], ascending=[True,True])
print(pivot_flavor_tar)
pivot_flavor_tar.to_clipboard()

                   CC                                                        \
flavorXtar   Fresh X  Fresh X 1MG Fresh X Below 1MG Fresh X LTS Fresh X ULT
YYYYMM gr_cd
202401 Other      0.0        35.0               NaN        41.0        15.0
       광주         0.0        24.0               NaN        26.0         5.0
       대구         0.0        16.0               NaN        17.0         6.0
       대전         0.0        20.0               NaN        27.0         8.0
       부산         0.0        28.0               NaN        24.0         2.0
       서울         0.0       117.0               NaN       128.0        18.0
202402 Other      0.0        36.0               NaN        44.0         8.0
       광주         0.0        31.0               NaN        26.0         3.0
       대구         0.0        19.0               NaN        12.0         4.0
       대전         0.0        34.0               NaN        26.0         3.0
       부산         0.0        31.0               NaN        23.0         6.0
       서울         0.0       107.0               NaN        99.0        17.0
202403 Other      0.0        27.0               NaN        50.0         2.0
       광주         0.0        24.0               NaN        22.0         2.0
       대구         0.0        21.0               NaN         6.0         3.0
       대전         0.0        28.0               NaN        40.0         5.0
       부산         0.0        39.0               NaN        34.0         4.0
       서울         0.0        99.0               NaN       125.0        18.0
202404 Other      0.0        42.0               NaN        45.0         7.0
       광주         0.0        26.0               NaN        31.0         6.0
       대구         0.0        26.0               1.0        15.0         4.0
       대전         0.0        37.0               NaN        35.0        10.0
       부산         0.0        38.0               NaN        32.0         5.0
       서울         0.0        92.0               NaN       118.0        18.0
202405 Other      0.0        19.0               NaN        40.0         4.0
       광주         0.0        36.0               NaN        29.0         1.0
       대구         0.0        15.0               NaN        16.0         1.0
       대전         0.0        39.0               NaN        42.0        13.0
       부산         0.0        32.0               NaN        18.0         4.0
       서울         0.0       102.0               NaN       141.0        21.0
202406 Other      0.0        46.0               NaN        45.0        10.0
       광주         0.0        25.0               NaN        22.0         8.0
       대구         0.0        25.0               NaN        16.0         2.0
       대전         0.0        43.0               NaN        43.0         5.0
       부산         0.0        25.0               NaN        22.0         5.0
       서울         0.0        98.0               NaN       134.0        23.0

                                                                 \
flavorXtar   New Taste X  New Taste X 1MG New Taste X Below 1MG
YYYYMM gr_cd
202401 Other          0.0           270.0                  17.0
       광주             0.0           358.0                  15.0
       대구             0.0           261.0                  10.0
       대전             0.0           235.0                  12.0
       부산             0.0           438.0                  12.0
       서울             0.0           789.0                  47.0
202402 Other          0.0           304.0                  18.0
       광주             0.0           335.0                  15.0
       대구             0.0           246.0                  10.0
       대전             0.0           295.0                  19.0
       부산             0.0           484.0                  28.0
       서울             0.0           759.0                  45.0
202403 Other          0.0           290.0                  19.0
       광주             0.0           365.0                  28.0
       대구             0.0           270.0                  11.0
       대전             0.0           295.0                  30.0
       부산             0.0           498.0                  28.0
       서울             0.0           807.0                  62.0
202404 Other          0.0           289.0                  22.0
       광주             0.0           356.0                  20.0
       대구             0.0           311.0                  13.0
       대전             0.0           347.0                  36.0
       부산             0.0           504.0                  19.0
       서울             0.0           845.0                  69.0
202405 Other          0.0           280.0                  25.0
       광주             0.0           368.0                  26.0
       대구             0.0           320.0                  11.0
       대전             0.0           357.0                  27.0
       부산             0.0           511.0                  18.0
       서울             0.0           944.0                  63.0
202406 Other          0.0           305.0                  26.0
       광주             0.0           383.0                  19.0
       대구             0.0           328.0                  11.0
       대전             0.0           409.0                  33.0
       부산             0.0           469.0                  18.0
       서울             0.0           945.0                  64.0

                                              ...             HnB  \
flavorXtar   New Taste X LTS New Taste X ULT  ... New Taste X 1MG
YYYYMM gr_cd                                  ...
202401 Other            52.0           125.0  ...             0.0
       광주               15.0            76.0  ...             0.0
       대구               21.0            62.0  ...             0.0
       대전               23.0           109.0  ...             0.0
       부산               25.0           100.0  ...             0.0
       서울              125.0           370.0  ...             0.0
202402 Other            45.0           127.0  ...             0.0
       광주               22.0            98.0  ...             0.0
       대구               13.0            64.0  ...             0.0
       대전               31.0           117.0  ...             0.0
       부산               33.0            98.0  ...             0.0
       서울              125.0           381.0  ...             0.0
202403 Other            45.0           116.0  ...             0.0
       광주               27.0           108.0  ...             0.0
       대구               13.0            55.0  ...             0.0
       대전               32.0           145.0  ...             0.0
       부산               43.0           124.0  ...             0.0
       서울              154.0           412.0  ...             0.0
202404 Other            28.0           100.0  ...             0.0
       광주               14.0            86.0  ...             0.0
       대구               13.0            59.0  ...             0.0
       대전               41.0           145.0  ...             0.0
       부산               26.0           156.0  ...             0.0
       서울              140.0           408.0  ...             0.0
202405 Other            26.0           102.0  ...             0.0
       광주               24.0           116.0  ...             0.0
       대구               14.0            65.0  ...             0.0
       대전               52.0           152.0  ...             0.0
       부산               24.0           119.0  ...             0.0
       서울              177.0           439.0  ...             0.0
202406 Other            35.0           118.0  ...             0.0
       광주               29.0            94.0  ...             0.0
       대구               23.0            76.0  ...             0.0
       대전               42.0           170.0  ...             0.0
       부산               29.0           111.0  ...             0.0
       서울              153.0           472.0  ...             0.0

                                                                               \
flavorXtar   New Taste X Below 1MG New Taste X LTS New Taste X ULT Regular X
YYYYMM gr_cd
202401 Other                   0.0             0.0             0.0       72.0
       광주                      0.0             0.0             0.0       52.0
       대구                      0.0             0.0             0.0       29.0
       대전                      0.0             0.0             0.0       44.0
       부산                      0.0             0.0             0.0       71.0
       서울                      0.0             0.0             0.0      201.0
202402 Other                   0.0             0.0             0.0       64.0
       광주                      0.0             0.0             0.0       51.0
       대구                      0.0             0.0             0.0       42.0
       대전                      0.0             0.0             0.0       53.0
       부산                      0.0             0.0             0.0       65.0
       서울                      0.0             0.0             0.0      205.0
202403 Other                   0.0             0.0             0.0       60.0
       광주                      0.0             0.0             0.0       53.0
       대구                      0.0             0.0             0.0       39.0
       대전                      0.0             0.0             0.0       63.0
       부산                      0.0             0.0             0.0       61.0
       서울                      0.0             0.0             0.0      222.0
202404 Other                   0.0             0.0             0.0       68.0
       광주                      0.0             0.0             0.0       75.0
       대구                      0.0             0.0             0.0       58.0
       대전                      0.0             0.0             0.0       96.0
       부산                      0.0             0.0             0.0       88.0
       서울                      0.0             0.0             0.0      309.0
202405 Other                   0.0             0.0             0.0       45.0
       광주                      0.0             0.0             0.0       68.0
       대구                      0.0             0.0             0.0       43.0
       대전                      0.0             0.0             0.0       66.0
       부산                      0.0             0.0             0.0       91.0
       서울                      0.0             0.0             0.0      228.0
202406 Other                   0.0             0.0             0.0       49.0
       광주                      0.0             0.0             0.0       58.0
       대구                      0.0             0.0             0.0       40.0
       대전                      0.0             0.0             0.0       73.0
       부산                      0.0             0.0             0.0       62.0
       서울                      0.0             0.0             0.0      167.0

                                                                           \
flavorXtar   Regular X 1MG Regular X Below 1MG Regular X FF Regular X LTS
YYYYMM gr_cd
202401 Other           0.0                 0.0          0.0           0.0
       광주              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0
202402 Other           0.0                 0.0          0.0           0.0
       광주              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0
202403 Other           0.0                 0.0          0.0           0.0
       광주              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0
202404 Other           0.0                 0.0          0.0           0.0
       광주              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0
202405 Other           0.0                 0.0          0.0           0.0
       광주              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0
202406 Other           0.0                 0.0          0.0           0.0
       광주              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0


flavorXtar   Regular X ULT
YYYYMM gr_cd
202401 Other           0.0
       광주              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0
202402 Other           0.0
       광주              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0
202403 Other           0.0
       광주              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0
202404 Other           0.0
       광주              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0
202405 Other           0.0
       광주              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0
202406 Other           0.0
       광주              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0

[36 rows x 32 columns]