In [11]:
# 데이터 불러오기
from dotenv import load_dotenv
import pandas as pd
import os 
import numpy as np
from sqlalchemy import create_engine


# .env 파일에서 환경 부르기
load_dotenv()

# 환경 변수 사용
database = os.getenv("CON_STR")


# # csv 파일 경로
# csv_file_path = os.getenv("CSV_FILE_PATH")
# print(csv_file_path)

engine = create_engine(database)

In [7]:

# ALL Raw Data
sql1= ''' 
select * from cu.agg_CU_TEREA_Total_Sourcing
order by YYYYMM, id
'''

gg = pd.read_sql_query(sql=sql1, con=engine)

In [ ]:
gg.to_clipboard()

# CU 대상 TEREA/MIIX/FIIT/NEO Total Sourcing 피벗

In [3]:
# - flaXtar_ from 202302
sql2 = ''' 
select  
	t.YYYYMM,
	concat(FLAVORSEG_type3,' X ', New_TARSEGMENTAT) flavorXtar,
	count(distinct case when b.cigatype ='CC' then t.id end) CC,
	count(distinct case when b.cigatype ='HnB' then t.id end) HnB
from  cu.agg_CU_TEREA_Total_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and b.CIGADEVICE =  'CIGARETTES' AND b.cigatype != 'CSV'  
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
group BY 
	t.YYYYMM,
	concat(FLAVORSEG_type3,' X ', New_TARSEGMENTAT) 
'''

data2 = pd.read_sql_query(sql=sql2, con=engine)

pivot_flavor_tar = data2.pivot_table(index=['YYYYMM'], 
                                     columns='flavorXtar',
                                     values=['HnB', 'CC' ]
                                    ).sort_values([ 'YYYYMM'])
print(pivot_flavor_tar)

                 CC                                                        \
flavorXtar Fresh X  Fresh X 1MG Fresh X Below 1MG Fresh X LTS Fresh X ULT
YYYYMM
202302          0.0       140.0               NaN       156.0        21.0
202303          0.0       272.0               NaN       338.0        57.0
202304          0.0       286.0               NaN       300.0        64.0
202305          0.0       276.0               NaN       326.0        66.0
202306          0.0       259.0               NaN       292.0        61.0
202307          0.0       241.0               NaN       319.0        54.0
202308          0.0       247.0               NaN       247.0        53.0
202309          0.0       253.0               NaN       313.0        51.0
202310          0.0       279.0               NaN       335.0        58.0
202311          0.0       251.0               NaN       309.0        47.0
202312          0.0       256.0               NaN       289.0        53.0
202401          0.0       240.0               NaN       262.0        54.0
202402          0.0       257.0               NaN       230.0        41.0
202403          0.0       238.0               NaN       277.0        34.0
202404          0.0       259.0               1.0       275.0        50.0
202405          0.0       240.0               NaN       286.0        44.0
202406          0.0       262.0               NaN       282.0        53.0
202407          0.0       271.0               1.0       287.0        40.0
202408          0.0       242.0               NaN       305.0        43.0

                                                                               \
flavorXtar New Taste X  New Taste X 1MG New Taste X Below 1MG New Taste X LTS
YYYYMM
202302              0.0          1251.0                   NaN           118.0
202303              0.0          2752.0                   NaN           303.0
202304              0.0          2794.0                   NaN           318.0
202305              0.0          2919.0                   NaN           353.0
202306              0.0          2506.0                   NaN           325.0
202307              0.0          2440.0                   NaN           314.0
202308              0.0          2286.0                   NaN           290.0
202309              0.0          2607.0                   NaN           317.0
202310              0.0          2690.0                  42.0           347.0
202311              0.0          2295.0                  83.0           300.0
202312              0.0          2336.0                 125.0           266.0
202401              0.0          2350.0                 113.0           261.0
202402              0.0          2422.0                 135.0           269.0
202403              0.0          2524.0                 178.0           314.0
202404              0.0          2650.0                 179.0           261.0
202405              0.0          2776.0                 170.0           314.0
202406              0.0          2838.0                 171.0           311.0
202407              0.0          2830.0                 163.0           318.0
202408              0.0          2488.0                 148.0           299.0

                            ...             HnB                        \
flavorXtar New Taste X ULT  ... New Taste X 1MG New Taste X Below 1MG
YYYYMM                      ...
202302               456.0  ...             0.0                   NaN
202303               945.0  ...             0.0                   NaN
202304               996.0  ...             0.0                   NaN
202305              1126.0  ...             0.0                   NaN
202306               953.0  ...             0.0                   NaN
202307               962.0  ...             0.0                   NaN
202308               827.0  ...             0.0                   NaN
202309               953.0  ...             0.0                   NaN
202310              1038.0  ...             0.0                   0.0
202311               936.0  ...             0.0                   0.0
202312               831.0  ...             0.0                   0.0
202401               841.0  ...             0.0                   0.0
202402               884.0  ...             0.0                   0.0
202403               959.0  ...             0.0                   0.0
202404               953.0  ...             0.0                   0.0
202405               991.0  ...             0.0                   0.0
202406              1041.0  ...             0.0                   0.0
202407              1072.0  ...             0.0                   0.0
202408               949.0  ...             0.0                   0.0

                                                                     \
flavorXtar New Taste X LTS New Taste X ULT Regular X  Regular X 1MG
YYYYMM
202302                 0.0             0.0      582.0           0.0
202303                 0.0             0.0     1065.0           0.0
202304                 0.0             0.0      948.0           0.0
202305                 0.0             0.0      878.0           0.0
202306                 0.0             0.0      711.0           0.0
202307                 0.0             0.0      644.0           0.0
202308                 0.0             0.0      565.0           0.0
202309                 0.0             0.0      622.0           0.0
202310                 0.0             0.0      584.0           0.0
202311                 0.0             0.0      505.0           0.0
202312                 0.0             0.0      516.0           0.0
202401                 0.0             0.0      469.0           0.0
202402                 0.0             0.0      479.0           0.0
202403                 0.0             0.0      498.0           0.0
202404                 0.0             0.0      693.0           0.0
202405                 0.0             0.0      540.0           0.0
202406                 0.0             0.0      449.0           0.0
202407                 0.0             0.0      314.0           0.0
202408                 0.0             0.0      208.0           0.0


flavorXtar Regular X Below 1MG Regular X FF Regular X LTS Regular X ULT
YYYYMM
202302                     0.0          0.0           0.0           0.0
202303                     0.0          0.0           0.0           0.0
202304                     0.0          0.0           0.0           0.0
202305                     0.0          0.0           0.0           0.0
202306                     0.0          0.0           0.0           0.0
202307                     0.0          0.0           0.0           0.0
202308                     0.0          0.0           0.0           0.0
202309                     0.0          0.0           0.0           0.0
202310                     0.0          0.0           0.0           0.0
202311                     0.0          0.0           0.0           0.0
202312                     0.0          0.0           0.0           0.0
202401                     0.0          0.0           0.0           0.0
202402                     0.0          0.0           0.0           0.0
202403                     0.0          0.0           0.0           0.0
202404                     0.0          0.0           0.0           0.0
202405                     0.0          0.0           0.0           0.0
202406                     0.0          0.0           0.0           0.0
202407                     0.0          0.0           0.0           0.0
202408                     0.0          0.0           0.0           0.0

[19 rows x 32 columns]

In [4]:
pivot_flavor_tar.to_clipboard()

In [5]:
# - Terea_user_past_type_M1
sql = ''' 
select  
	t.YYYYMM, 
	t.id,
	max(case when b.cigatype='HnB' and b.company = 'PMK' then 1 else 0 end) IQOS_Purchased,
	max(case when b.cigatype='CC' then 1 else 0 end) CC_Purchased,
	max(case when b.cigatype='HnB' and b.company != 'PMK' then 1 else 0 end) CompHnB_Purchased
from cu.agg_CU_TEREA_Total_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
group BY 	    
	t.YYYYMM, 
	t.id
'''

data = pd.read_sql_query(sql=sql, con=engine)


# Past Type 
def categorize(row):
    categories = []
    if row['IQOS_Purchased'] == 1:
        categories.append('PMK HnB')
    if row['CC_Purchased'] == 1:
        categories.append('CC')
    if row['CompHnB_Purchased'] == 1:
        categories.append('Comp HnB')
    return ','.join(categories)

data['retype'] = data.apply(categorize, axis=1)
result = data.groupby(['YYYYMM', 'retype']).size().reset_index(name='N')
total = result['N'].sum()

pivot_past_type = result.pivot_table( 
                            index=['YYYYMM'],
                            columns='retype',
                            values='N'
                            ).sort_values(['YYYYMM'])
print(pivot_past_type)

pivot_past_type.to_clipboard()

retype      CC  CC,Comp HnB  Comp HnB  PMK HnB  PMK HnB,CC  \
YYYYMM
202302  2006.0        331.0     285.0   1312.0       623.0
202303  4009.0        737.0     519.0   2113.0      1197.0
202304  3786.0        815.0     438.0   1592.0      1157.0
202305  4258.0        907.0     476.0   1530.0      1000.0
202306  3724.0        751.0     424.0   1224.0       860.0
202307  3645.0        731.0     356.0   1082.0       745.0
202308  3418.0        659.0     374.0    930.0       659.0
202309  3905.0        799.0     398.0    970.0       665.0
202310  4129.0        743.0     379.0    975.0       694.0
202311  3632.0        688.0     374.0    812.0       575.0
202312  3699.0        703.0     322.0    780.0       550.0
202401  3860.0        688.0     341.0    682.0       459.0
202402  4012.0        729.0     377.0    648.0       434.0
202403  4356.0        766.0     393.0    621.0       416.0
202404  4251.0        815.0     472.0   1103.0       637.0
202405  4438.0        802.0     454.0   1265.0       770.0
202406  4592.0        843.0     477.0    890.0       599.0
202407  4784.0        957.0     539.0    478.0       318.0
202408  4390.0        902.0     460.0    175.0       153.0

retype  PMK HnB,CC,Comp HnB  PMK HnB,Comp HnB
YYYYMM
202302                 53.0              66.0
202303                162.0             160.0
202304                183.0             123.0
202305                159.0             114.0
202306                104.0              90.0
202307                121.0              75.0
202308                106.0              56.0
202309                110.0              69.0
202310                 89.0              71.0
202311                 73.0              45.0
202312                 60.0              46.0
202401                 58.0              45.0
202402                 51.0              47.0
202403                 59.0              52.0
202404                 79.0              59.0
202405                 98.0              87.0
202406                 82.0              69.0
202407                 67.0              74.0
202408                 31.0              16.0

In [6]:
# - Terea_user_Current_type_M1 (IQOS TEREA 전용)

sql3 = ''' 
with temp as (
select  
	t.YYYYMM, 
	t.id,
	max(case when b.cigatype='HnB' and b.company = 'PMK' then 1 else 0 end) IQOS_Purchased,
	max(case when b.cigatype='CC' then 1 else 0 end) CC_Purchased,
	max(case when b.cigatype='HnB' and b.company != 'PMK' then 1 else 0 end) CompHnB_Purchased
from  cu.agg_CU_TEREA_Total_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM = t.YYYYMM
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
group BY 	    	
	t.YYYYMM, 
	t.id
)
select YYYYMM,
    'IQOS' +
    CASE WHEN CompHnB_Purchased = 1 THEN ' + Comp. HnB' ELSE '' END + 
    CASE WHEN CC_Purchased = 1 THEN ' + CC' ELSE '' END 
     as Cigatype,
    count(distinct id) purchaser_cnt
from temp
group by YYYYMM,
    'IQOS' +
    CASE WHEN CompHnB_Purchased = 1 THEN ' + Comp. HnB' ELSE '' END + 
    CASE WHEN CC_Purchased = 1 THEN ' + CC' ELSE '' END 
;
'''

data3 = pd.read_sql_query(sql=sql3, con=engine)

pivot_current_type = data3.pivot_table(index=['YYYYMM'],
                                       columns='Cigatype',
                                       values='purchaser_cnt',
                                       ).sort_values(['YYYYMM'])

print(pivot_current_type)

pivot_current_type.to_clipboard()

Cigatype    IQOS  IQOS + CC  IQOS + Comp. HnB  IQOS + Comp. HnB + CC
YYYYMM
202302    2007.0     2035.0             258.0                  376.0
202303    3957.0     3862.0             486.0                  592.0
202304    3511.0     3598.0             436.0                  549.0
202305    3312.0     3991.0             498.0                  643.0
202306    2883.0     3422.0             374.0                  498.0
202307    2591.0     3360.0             314.0                  490.0
202308    2323.0     3095.0             307.0                  477.0
202309    2470.0     3485.0             405.0                  556.0
202310    2587.0     3567.0             365.0                  561.0
202311    2276.0     3092.0             334.0                  497.0
202312    2238.0     3110.0             310.0                  502.0
202401    2170.0     3091.0             337.0                  535.0
202402    2165.0     3285.0             351.0                  497.0
202403    2187.0     3515.0             401.0                  560.0
202404    2587.0     3763.0             434.0                  632.0
202405    2843.0     3968.0             471.0                  632.0
202406    2478.0     3991.0             448.0                  635.0
202407    2114.0     3970.0             462.0                  671.0
202408    1616.0     3522.0             394.0                  595.0

In [23]:
# - Terea_user_Current_type_M1 (NEO/MIIX/FIIT 전용)

sql3 = ''' 
with temp as (
select  
	t.YYYYMM, 
	t.id,
	max(case when b.cigatype='HnB' and b.company = 'PMK' then 1 else 0 end) IQOS_Purchased,
	max(case when b.cigatype='CC' then 1 else 0 end) CC_Purchased,
	max(case when b.cigatype='HnB' and b.company != 'PMK' then 1 else 0 end) CompHnB_Purchased
from  cu.agg_CU_TEREA_Total_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM = t.YYYYMM
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
group BY 	    	
	t.YYYYMM, 
	t.id
)
select YYYYMM,
    CASE WHEN CompHnB_Purchased = 1 THEN 'Comp. HnB' ELSE '' END + 
    CASE WHEN CC_Purchased = 1 THEN ' + CC' ELSE '' END +
    CASE WHEN IQOS_Purchased = 1 THEN ' + IQOS' ELSE '' END 
     as Cigatype,
    count(*) purchaser_cnt
from temp
group by YYYYMM,
    CASE WHEN CompHnB_Purchased = 1 THEN 'Comp. HnB' ELSE '' END + 
    CASE WHEN CC_Purchased = 1 THEN ' + CC' ELSE '' END +
    CASE WHEN IQOS_Purchased = 1 THEN ' + IQOS' ELSE '' END 
'''

data3 = pd.read_sql_query(sql=sql3, con=engine)

pivot_current_type = data3.pivot_table(index=['YYYYMM'],
                                       columns='Cigatype',
                                       values='purchaser_cnt',
                                       ).sort_values(['YYYYMM'])

print(pivot_current_type)

Cigatype  Comp. HnB  Comp. HnB + CC  Comp. HnB + CC + IQOS  Comp. HnB + IQOS
YYYYMM
202302        613.0          1954.0                  119.0             120.0
202303        803.0          1954.0                  111.0             119.0
202304        711.0          1695.0                  136.0             100.0
202305        820.0          1801.0                  139.0             131.0
202306        647.0          1349.0                  112.0             111.0
202307        562.0          1357.0                  112.0              87.0
202308        492.0          1351.0                   89.0              95.0
202309        451.0          1126.0                   83.0              64.0
202310        645.0          1591.0                  116.0              98.0
202311        574.0          1289.0                   86.0              97.0
202312        559.0          1401.0                  121.0              97.0
202401        509.0          1141.0                   81.0              70.0
202402        478.0          1164.0                   71.0              86.0
202403        482.0          1237.0                   91.0              68.0
202404        504.0          1385.0                  112.0             110.0
202405        438.0          1049.0                   79.0              84.0
202406        358.0           873.0                   68.0              48.0

In [25]:
pivot_current_type.to_clipboard()

# CC 인경우 Brand Family 별로 구매 조회

In [12]:
#-- CC인 경우 TEREA Sourcing 기반 Company 조회

sql_cc = ''' 
select 
	t.YYYYMM, b.company,
    count(distinct t.id ) n
from cu.agg_CU_TEREA_Total_Sourcing  t
	join cu.Fct_BGFR_PMI_Monthly a on a.id = t.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND b.cigatype = 'CC'
where 1=1
group BY t.YYYYMM , b.company
order by t.YYYYMM , company 
'''

cc_df = pd.read_sql_query(sql=sql_cc, con=engine)

pivot_cc = cc_df.pivot_table(index=['YYYYMM'],
                  columns='company',
                  values='n',
                  aggfunc='sum'
                   ).sort_values('YYYYMM')



pivot_cc
pivot_cc.to_clipboard()

In [13]:
pivot_cc.to_clipboard()

In [4]:
#-- CC인 경우 TEREA Sourcing 기반 TMO / Brand Family 조회

sql_cc = ''' 
select 
	t.YYYYMM, ProductFamilyCode, b.company,
    count(distinct t.id ) n
from cu.agg_CU_TEREA_Total_Sourcing  t
	join cu.Fct_BGFR_PMI_Monthly a on a.id = t.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND b.cigatype = 'CC'
where 1=1
group BY t.YYYYMM, ProductFamilyCode , b.company
order by company,  ProductFamilyCode 
'''

cc_df = pd.read_sql_query(sql=sql_cc, con=engine)

pivot_cc = cc_df.pivot_table(index=['YYYYMM'],
                  columns='company',
                  values='n',
                  aggfunc='sum'
                   ).sort_values('YYYYMM')

pivot2_cc = cc_df.pivot_table(index=['YYYYMM'],
                  columns= [ 'company', 'ProductFamilyCode'],
                  values='n',
                  aggfunc='sum'
                  ).sort_values(['YYYYMM'])

total_cc = pd.concat([pivot_cc, pivot2_cc], axis=1 )

total_cc
total_cc.to_clipboard()

In [5]:
total_cc.to_clipboard()

In [15]:
#--  Total CC Company

sql_cc = ''' 

with temp as (
	select
		t.YYYYMM, 
		t.id, 
	    CASE 
	        WHEN SUM(CASE WHEN b.cigatype = 'CC' and a.YYYYMM = t.YYYYMM THEN 1 ELSE 0 END) > 0 
	         AND SUM(CASE WHEN b.cigatype = 'HnB' and a.YYYYMM = t.YYYYMM THEN 1 ELSE 0 END) > 0 
	        THEN 'Mixed' 
	        ELSE MAX(b.cigatype)  -- CC 또는 HnB가 없을 경우 가장 큰 값을 사용
	    END AS cigatype
    from cu.user_3month_list t
		join cu.Fct_BGFR_PMI_Monthly a on a.id = t.id and a.YYYYMM = t.YYYYMM
		join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND b.cigatype != 'CSV'
	where t.YYYYMM >= '202302'
	group BY t.YYYYMM, t.id
	having sum(pack_qty) > 1
)
select 
	t.YYYYMM, b.company,
    count(distinct t.id ) n
from temp t
	join cu.Fct_BGFR_PMI_Monthly  a on a.id = t.id and a.YYYYMM = t.YYYYMM
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE = 'CIGARETTES' AND b.cigatype = 'CC'
where 1=1
group BY t.YYYYMM , b.company
;
'''

cc_df = pd.read_sql_query(sql=sql_cc, con=engine)

pivot_cc = cc_df.pivot_table(index=['YYYYMM'],
                  columns='company',
                  values='n',
                  aggfunc='sum'
                   ).sort_values('YYYYMM')

pivot_cc
pivot_cc.to_clipboard()

In [6]:
#--  Total CC TMO / Brand Family 조회

sql_cc = ''' 
with temp as (
	select
		t.YYYYMM, 
		t.id, 
	    CASE 
	        WHEN SUM(CASE WHEN b.cigatype = 'CC' and a.YYYYMM = t.YYYYMM THEN 1 ELSE 0 END) > 0 
	         AND SUM(CASE WHEN b.cigatype = 'HnB' and a.YYYYMM = t.YYYYMM THEN 1 ELSE 0 END) > 0 
	        THEN 'Mixed' 
	        ELSE MAX(b.cigatype)  -- CC 또는 HnB가 없을 경우 가장 큰 값을 사용
	    END AS cigatype
    from cu.user_3month_list t
		join cu.Fct_BGFR_PMI_Monthly a on a.id = t.id and a.YYYYMM = t.YYYYMM
		join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND b.cigatype != 'CSV'
	where t.YYYYMM >= '202302'
	group BY t.YYYYMM, t.id
	having sum(pack_qty) > 1
)
select 
	t.YYYYMM, ProductFamilyCode, b.company,
    count(distinct t.id ) n
from temp t
	join cu.Fct_BGFR_PMI_Monthly  a on a.id = t.id and a.YYYYMM = t.YYYYMM
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE = 'CIGARETTES' AND b.cigatype = 'CC'
where 1=1
group BY t.YYYYMM, ProductFamilyCode , b.company
;
'''

cc_df = pd.read_sql_query(sql=sql_cc, con=engine)

pivot_cc = cc_df.pivot_table(index=['YYYYMM'],
                  columns='company',
                  values='n',
                  aggfunc='sum'
                   ).sort_values('YYYYMM')


pivot2_cc = cc_df.pivot_table(index=['YYYYMM'],
                  columns= [ 'company', 'ProductFamilyCode'],
                  values='n',
                  aggfunc='sum'
                  ).sort_values(['YYYYMM'])

total_cc = pd.concat([pivot_cc, pivot2_cc], axis=1 )

total_cc
total_cc.to_clipboard()

# 연습

In [14]:
# 필터링된 데이터 생성
filtered_data = data[data['ProductFamilyCode'] == 'IQOS']
 
# 피벗 테이블 생성
pivot_table4 = filtered_data.pivot_table(index=['YYYYMM', 'id', 'gender', 'age'],
                                         columns=['engname'], values=['qty'],
                                         aggfunc='sum')
 
# HnB_taste 컬럼 생성 및 피벗 테이블 생성
result = data[data['productSubFamilyCode'].isin(['AIIM', 'FIIT', 'HEETS', 'MIIX', 'NEO', 'NEOSTICKS', 'TEREA'])]
data['HnB_taste'] = result['productSubFamilyCode'] + ' ' + data['New_FLAVORSEG']

pivot_table3 = data.pivot_table(index=['YYYYMM', 'id', 'gender', 'age'],
                                columns=['HnB_taste'], values=['qty'],
                                aggfunc='sum')
 
# CC_taste 컬럼 생성 및 피벗 테이블 생성
data['CC_taste'] = data['cigatype'] + ' ' + data['New_FLAVORSEG']

pivot_table2 = data.pivot_table(index=['YYYYMM', 'id', 'gender', 'age'],
                                columns=['CC_taste'], values=['qty'],
                                aggfunc='sum')
 
# 기본 피벗 테이블 생성
pivot_table1 = data.pivot_table(index=['YYYYMM', 'id', 'gender', 'age'],
                                columns=['company'], values=['qty'],
                                aggfunc='sum')

# 피벗 테이블들을 하나의 데이터프레임으로 병합
concatenated_pivot = pd.concat([ pivot_table1, pivot_table2, pivot_table3, pivot_table4], axis=1)

# 결과 출력
# final = pd.merge(result, concatenated_pivot, how='outer')
concatenated_pivot

                                                                       qty  \
                                                                       BAT
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대  32.0
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대   NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대   NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대   NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대   NaN
...                                                                    ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대   NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대   NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대   NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대   NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대   1.0

                                                                               \
                                                                     JTI  KTG
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대 NaN  NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대 NaN  NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대 NaN  NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대 NaN  9.0
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대 NaN  2.0
...                                                                   ..  ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대 NaN  NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대 NaN  1.0
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대 NaN  4.0
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대 NaN  2.0
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대 NaN  9.0

                                                                            \
                                                                       PMK
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대   NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대   4.0
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대   7.0
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대   NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대  13.0
...                                                                    ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대  10.0
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대   NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대   NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대   NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대   1.0

                                                                               \
                                                                     CC Fresh
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대      NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대      NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대      NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대      NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대      NaN
...                                                                       ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대      NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대      NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대      4.0
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대      NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대      NaN

                                                                                   \
                                                                     CC New Taste
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대          NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대          NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대          NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대          9.0
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대          1.0
...                                                                           ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대          NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대          NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대          NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대          NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대          3.0

                                                                                 \
                                                                     CC Regular
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대        1.0
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대        NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대        NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대        NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대        NaN
...                                                                         ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대        NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대        NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대        NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대        2.0
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대        5.0

                                                                                \
                                                                     HnB Fresh
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대       NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대       3.0
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대       NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대       NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대      13.0
...                                                                        ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대       2.0
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대       1.0
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대       NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대       NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대       1.0

                                                                                    \
                                                                     HnB New Taste
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대           NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대           1.0
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대           1.0
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대           NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대           1.0
...                                                                            ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대           NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대           NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대           NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대           NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대           2.0

                                                                                  \
                                                                     HnB Regular
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대        31.0
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대         NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대         6.0
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대         NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대         NaN
...                                                                          ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대         8.0
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대         NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대         NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대         NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대         NaN

                                                                      ...  \
                                                                      ...
YYYYMM id                                                 gender age  ...
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대  ...
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대  ...
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대  ...
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대  ...
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대  ...
...                                                                   ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대  ...
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대  ...
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대  ...
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대  ...
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대  ...

                                                                                         \
                                                                     HEETS BRONZE LABEL
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대                NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대                NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대                6.0
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대                NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대                NaN
...                                                                                 ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대                8.0
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대                NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대                NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대                NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대                NaN

                                                                                           \
                                                                     HEETS GOLD SELECTION
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대                  NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대                  NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대                  NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대                  NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대                  NaN
...                                                                                   ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대                  NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대                  NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대                  NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대                  NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대                  NaN

                                                                                        \
                                                                     HEETS GREEN LABEL
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대               NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대               NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대               NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대               NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대               NaN
...                                                                                ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대               NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대               NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대               NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대               NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대               NaN

                                                                                       \
                                                                     HEETS GREEN ZING
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대              NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대              NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대              NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대              NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대              NaN
...                                                                               ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대              NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대              NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대              NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대              NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대              NaN

                                                                                         \
                                                                     HEETS PURPLE LABEL
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대                NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대                NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대                NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대                NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대                NaN
...                                                                                 ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대                NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대                NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대                NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대                NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대                NaN

                                                                                       \
                                                                     HEETS SATIN WAVE
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대              NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대              NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대              NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대              NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대              NaN
...                                                                               ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대              NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대              NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대              NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대              NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대              NaN

                                                                                         \
                                                                     HEETS SILVER LABEL
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대                NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대                NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대                NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대                NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대                NaN
...                                                                                 ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대                NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대                NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대                NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대                NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대                NaN

                                                                                          \
                                                                     HEETS SUMMER BREEZE
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대                 NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대                 1.0
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대                 NaN

In [16]:
total_id_count = data.groupby('YYYYMM')['id'].count().reset_index(name='total_id_count')

gender_age_count = data.groupby(['YYYYMM', 'gender', 'age']).size().reset_index(name='count')

gender_pivot = gender_age_count.pivot_table(
    index ='YYYYMM',
    columns= ['gender', 'age'],
    values='count'
)

res = total_id_count.set_index('YYYYMM').join(gender_pivot)

res

MergeError: Not allowed to merge between different levels. (1 levels on the left, 2 on the right)

In [42]:
# -- Gr Region 집계 user_current_type_M1

gr_sql1= ''' 
with temp as (
select  
	t.YYYYMM, 
	gr_cd,
	t.id,
	max(case when b.cigatype='HnB' and b.company = 'PMK' then 1 else 0 end) IQOS_Purchased,
	max(case when b.cigatype='CC' then 1 else 0 end) CC_Purchased,
	max(case when b.cigatype='HnB' and b.company != 'PMK' then 1 else 0 end) CompHnB_Purchased
from  cu.agg_CU_TEREA_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM = t.YYYYMM
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
group BY 	    	
	t.YYYYMM, 
	gr_cd,
	t.id
)
select YYYYMM, gr_cd,
    'IQOS' +
    CASE WHEN CompHnB_Purchased = 1 THEN ' + Comp. HnB' ELSE '' END + 
    CASE WHEN CC_Purchased = 1 THEN ' + CC' ELSE '' END 
     as Cigatype,
    count(*) purchaser_cnt
from temp
group by YYYYMM, gr_cd,
    'IQOS' +
    CASE WHEN CompHnB_Purchased = 1 THEN ' + Comp. HnB' ELSE '' END + 
    CASE WHEN CC_Purchased = 1 THEN ' + CC' ELSE '' END 
;
'''


gr_data = pd.read_sql_query(sql=gr_sql1, con=engine)

In [49]:
pivot_current_type = gr_data.pivot_table(index=['YYYYMM','gr_cd'],
                                       columns='Cigatype',
                                       values='purchaser_cnt',
                                       ).sort_values(['YYYYMM', 'gr_cd'], ascending=[True, False])

print(pivot_current_type)
pivot_current_type.to_clipboard()

Cigatype        IQOS  IQOS + CC  IQOS + Comp. HnB  IQOS + Comp. HnB + CC
YYYYMM gr_cd
202401 서울      885.0     1274.0             135.0                  190.0
       부산      337.0      430.0              44.0                   90.0
       대전      247.0      373.0              34.0                   68.0
       대구      168.0      283.0              28.0                   47.0
       광주      279.0      347.0              46.0                   74.0
       Other   254.0      385.0              50.0                   66.0
202402 서울      855.0     1280.0             142.0                  184.0
       부산      345.0      493.0              55.0                   68.0
       대전      257.0      405.0              47.0                   64.0
       대구      214.0      261.0              27.0                   45.0
       광주      246.0      406.0              46.0                   59.0
       Other   248.0      441.0              35.0                   77.0
202403 서울      882.0     1426.0             173.0                  197.0
       부산      317.0      547.0              53.0                   85.0
       대전      278.0      441.0              53.0                   78.0
       대구      196.0      266.0              38.0                   54.0
       광주      262.0      420.0              37.0                   75.0
       Other   253.0      415.0              47.0                   71.0
202404 서울     1129.0     1506.0             174.0                  232.0
       부산      350.0      562.0              58.0                  103.0
       대전      356.0      502.0              56.0                   78.0
       대구      238.0      323.0              39.0                   57.0
       광주      272.0      425.0              57.0                   66.0
       Other   242.0      446.0              50.0                   99.0
202405 서울     1206.0     1632.0             211.0                  248.0
       부산      414.0      559.0              58.0                   82.0
       대전      372.0      539.0              67.0                  104.0
       대구      261.0      328.0              40.0                   57.0
       광주      343.0      478.0              53.0                   67.0
       Other   247.0      436.0              43.0                   75.0
202406 서울      982.0     1622.0             183.0                  244.0
       부산      335.0      533.0              62.0                   91.0
       대전      372.0      576.0              59.0                   90.0
       대구      247.0      346.0              30.0                   63.0
       광주      308.0      457.0              58.0                   82.0
       Other   235.0      457.0              56.0                   65.0

In [43]:
gr_sql2 = ''' 
select  
	t.YYYYMM, 
	gr_cd,
	t.id,
	max(case when b.cigatype='HnB' and b.company = 'PMK' then 1 else 0 end) IQOS_Purchased,
	max(case when b.cigatype='CC' then 1 else 0 end) CC_Purchased,
	max(case when b.cigatype='HnB' and b.company != 'PMK' then 1 else 0 end) CompHnB_Purchased
from cu.agg_CU_TEREA_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
group BY 	    
	t.YYYYMM, 
	gr_cd, 
	t.id
;
'''

gr_data2 = pd.read_sql_query(sql=gr_sql2, con=engine)

In [52]:
# Past Type 
def categorize(row):
    categories = []
    if row['IQOS_Purchased'] == 1:
        categories.append('PMK HnB')
    if row['CC_Purchased'] == 1:
        categories.append('CC')
    if row['CompHnB_Purchased'] == 1:
        categories.append('Comp HnB')
    return ','.join(categories)

gr_data2['retype'] = gr_data2.apply(categorize, axis=1)
result = gr_data2.groupby(['YYYYMM','gr_cd', 'retype']).size().reset_index(name='N')
total = result['N'].sum()

print(result)

     YYYYMM  gr_cd               retype    N
0    202401  Other                   CC  467
1    202401  Other          CC,Comp HnB  102
2    202401  Other             Comp HnB   28
3    202401  Other              PMK HnB   81
4    202401  Other           PMK HnB,CC   54
..      ...    ...                  ...  ...
247  202406     서울             Comp HnB  214
248  202406     서울              PMK HnB  330
249  202406     서울           PMK HnB,CC  222
250  202406     서울  PMK HnB,CC,Comp HnB   32
251  202406     서울     PMK HnB,Comp HnB   25

[252 rows x 4 columns]

In [56]:
pivot_past_type = result.pivot_table( 
                            index=['YYYYMM', 'gr_cd'],
                            columns='retype',
                            values='N'
                            ).sort_values(['YYYYMM', 'gr_cd'], ascending=[True, False])
print(pivot_past_type)
pivot_past_type.to_clipboard()

retype            CC  CC,Comp HnB  Comp HnB  PMK HnB  PMK HnB,CC  \
YYYYMM gr_cd
202401 서울     1535.0        267.0     141.0    296.0       202.0
       부산      565.0        105.0      49.0    103.0        64.0
       대전      484.0         66.0      43.0     75.0        48.0
       대구      342.0         64.0      40.0     41.0        33.0
       광주      468.0         84.0      40.0     86.0        58.0
       Other   467.0        102.0      28.0     81.0        54.0
202402 서울     1548.0        258.0     164.0    275.0       177.0
       부산      605.0        102.0      59.0    102.0        74.0
       대전      504.0        108.0      35.0     61.0        47.0
       대구      346.0         62.0      38.0     59.0        36.0
       광주      492.0         89.0      42.0     78.0        46.0
       Other   518.0        110.0      39.0     74.0        54.0
202403 서울     1717.0        283.0     172.0    273.0       183.0
       부산      677.0        104.0      51.0     98.0        58.0
       대전      557.0        105.0      50.0     77.0        46.0
       대구      371.0         57.0      36.0     51.0        30.0
       광주      505.0        114.0      46.0     62.0        56.0
       Other   529.0        103.0      38.0     60.0        43.0
202404 서울     1682.0        296.0     181.0    506.0       312.0
       부산      619.0        136.0      66.0    142.0        93.0
       대전      608.0         98.0      51.0    154.0        65.0
       대구      365.0         77.0      47.0     99.0        51.0
       광주      469.0        113.0      58.0    106.0        60.0
       Other   509.0         95.0      69.0     96.0        56.0
202405 서울     1776.0        342.0     177.0    551.0       356.0
       부산      630.0        125.0      64.0    163.0       113.0
       대전      630.0        102.0      60.0    164.0        96.0
       대구      383.0         65.0      46.0    123.0        56.0
       광주      543.0         88.0      49.0    163.0        78.0
       Other   478.0         84.0      58.0    101.0        71.0
202406 서울     1890.0        318.0     214.0    330.0       222.0
       부산      607.0        122.0      64.0    126.0        84.0
       대전      663.0        122.0      62.0    135.0        86.0
       대구      398.0         80.0      28.0     94.0        77.0
       광주      535.0        104.0      62.0    119.0        68.0
       Other   499.0         98.0      47.0     86.0        62.0

retype        PMK HnB,CC,Comp HnB  PMK HnB,Comp HnB
YYYYMM gr_cd
202401 서울                    20.0              23.0
       부산                    10.0               5.0
       대전                     2.0               4.0
       대구                     5.0               1.0
       광주                     6.0               4.0
       Other                 15.0               8.0
202402 서울                    17.0              22.0
       부산                    14.0               5.0
       대전                    10.0               8.0
       대구                     2.0               4.0
       광주                     5.0               5.0
       Other                  3.0               3.0
202403 서울                    25.0              25.0
       부산                    10.0               4.0
       대전                     7.0               8.0
       대구                     3.0               6.0
       광주                     5.0               6.0
       Other                 10.0               3.0
202404 서울                    35.0              29.0
       부산                     7.0              10.0
       대전                    11.0               5.0
       대구                    13.0               5.0
       광주                     9.0               5.0
       Other                  7.0               5.0
202405 서울                    52.0              43.0
       부산                     9.0               9.0
       대전                    16.0              14.0
       대구                     5.0               8.0
       광주                    10.0              10.0
       Other                  6.0               3.0
202406 서울                    32.0              25.0
       부산                    10.0               8.0
       대전                    18.0              11.0
       대구                     4.0               5.0
       광주                     5.0              12.0
       Other                 13.0               8.0

In [58]:
# -- TEREA flavorXtar from 202211

gr_sql3 = ''' 
select  
	t.YYYYMM,
	gr_cd,
	concat(FLAVORSEG_type3,' X ', New_TARSEGMENTAT) flavorXtar,
	count(distinct case when b.cigatype ='CC' then t.id end) CC,
	count(distinct case when b.cigatype ='HnB' then t.id end) HnB
from  cu.agg_CU_TEREA_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and b.CIGADEVICE =  'CIGARETTES' AND b.cigatype != 'CSV'  
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
group BY 
	t.YYYYMM,
	gr_cd,
	concat(FLAVORSEG_type3,' X ', New_TARSEGMENTAT) 
;
'''

gr_data3 = pd.read_sql_query(sql=gr_sql3, con=engine)

In [60]:
pivot_flavor_tar = gr_data3.pivot_table(index=['YYYYMM', 'gr_cd'], 
                                     columns='flavorXtar',
                                     values=['HnB', 'CC' ]
                                    ).sort_values(['YYYYMM', 'gr_cd'], ascending=[True,True])
print(pivot_flavor_tar)
pivot_flavor_tar.to_clipboard()

                   CC                                                        \
flavorXtar   Fresh X  Fresh X 1MG Fresh X Below 1MG Fresh X LTS Fresh X ULT
YYYYMM gr_cd
202401 Other      0.0        35.0               NaN        41.0        15.0
       광주         0.0        24.0               NaN        26.0         5.0
       대구         0.0        16.0               NaN        17.0         6.0
       대전         0.0        20.0               NaN        27.0         8.0
       부산         0.0        28.0               NaN        24.0         2.0
       서울         0.0       117.0               NaN       128.0        18.0
202402 Other      0.0        36.0               NaN        44.0         8.0
       광주         0.0        31.0               NaN        26.0         3.0
       대구         0.0        19.0               NaN        12.0         4.0
       대전         0.0        34.0               NaN        26.0         3.0
       부산         0.0        31.0               NaN        23.0         6.0
       서울         0.0       107.0               NaN        99.0        17.0
202403 Other      0.0        27.0               NaN        50.0         2.0
       광주         0.0        24.0               NaN        22.0         2.0
       대구         0.0        21.0               NaN         6.0         3.0
       대전         0.0        28.0               NaN        40.0         5.0
       부산         0.0        39.0               NaN        34.0         4.0
       서울         0.0        99.0               NaN       125.0        18.0
202404 Other      0.0        42.0               NaN        45.0         7.0
       광주         0.0        26.0               NaN        31.0         6.0
       대구         0.0        26.0               1.0        15.0         4.0
       대전         0.0        37.0               NaN        35.0        10.0
       부산         0.0        38.0               NaN        32.0         5.0
       서울         0.0        92.0               NaN       118.0        18.0
202405 Other      0.0        19.0               NaN        40.0         4.0
       광주         0.0        36.0               NaN        29.0         1.0
       대구         0.0        15.0               NaN        16.0         1.0
       대전         0.0        39.0               NaN        42.0        13.0
       부산         0.0        32.0               NaN        18.0         4.0
       서울         0.0       102.0               NaN       141.0        21.0
202406 Other      0.0        46.0               NaN        45.0        10.0
       광주         0.0        25.0               NaN        22.0         8.0
       대구         0.0        25.0               NaN        16.0         2.0
       대전         0.0        43.0               NaN        43.0         5.0
       부산         0.0        25.0               NaN        22.0         5.0
       서울         0.0        98.0               NaN       134.0        23.0

                                                                 \
flavorXtar   New Taste X  New Taste X 1MG New Taste X Below 1MG
YYYYMM gr_cd
202401 Other          0.0           270.0                  17.0
       광주             0.0           358.0                  15.0
       대구             0.0           261.0                  10.0
       대전             0.0           235.0                  12.0
       부산             0.0           438.0                  12.0
       서울             0.0           789.0                  47.0
202402 Other          0.0           304.0                  18.0
       광주             0.0           335.0                  15.0
       대구             0.0           246.0                  10.0
       대전             0.0           295.0                  19.0
       부산             0.0           484.0                  28.0
       서울             0.0           759.0                  45.0
202403 Other          0.0           290.0                  19.0
       광주             0.0           365.0                  28.0
       대구             0.0           270.0                  11.0
       대전             0.0           295.0                  30.0
       부산             0.0           498.0                  28.0
       서울             0.0           807.0                  62.0
202404 Other          0.0           289.0                  22.0
       광주             0.0           356.0                  20.0
       대구             0.0           311.0                  13.0
       대전             0.0           347.0                  36.0
       부산             0.0           504.0                  19.0
       서울             0.0           845.0                  69.0
202405 Other          0.0           280.0                  25.0
       광주             0.0           368.0                  26.0
       대구             0.0           320.0                  11.0
       대전             0.0           357.0                  27.0
       부산             0.0           511.0                  18.0
       서울             0.0           944.0                  63.0
202406 Other          0.0           305.0                  26.0
       광주             0.0           383.0                  19.0
       대구             0.0           328.0                  11.0
       대전             0.0           409.0                  33.0
       부산             0.0           469.0                  18.0
       서울             0.0           945.0                  64.0

                                              ...             HnB  \
flavorXtar   New Taste X LTS New Taste X ULT  ... New Taste X 1MG
YYYYMM gr_cd                                  ...
202401 Other            52.0           125.0  ...             0.0
       광주               15.0            76.0  ...             0.0
       대구               21.0            62.0  ...             0.0
       대전               23.0           109.0  ...             0.0
       부산               25.0           100.0  ...             0.0
       서울              125.0           370.0  ...             0.0
202402 Other            45.0           127.0  ...             0.0
       광주               22.0            98.0  ...             0.0
       대구               13.0            64.0  ...             0.0
       대전               31.0           117.0  ...             0.0
       부산               33.0            98.0  ...             0.0
       서울              125.0           381.0  ...             0.0
202403 Other            45.0           116.0  ...             0.0
       광주               27.0           108.0  ...             0.0
       대구               13.0            55.0  ...             0.0
       대전               32.0           145.0  ...             0.0
       부산               43.0           124.0  ...             0.0
       서울              154.0           412.0  ...             0.0
202404 Other            28.0           100.0  ...             0.0
       광주               14.0            86.0  ...             0.0
       대구               13.0            59.0  ...             0.0
       대전               41.0           145.0  ...             0.0
       부산               26.0           156.0  ...             0.0
       서울              140.0           408.0  ...             0.0
202405 Other            26.0           102.0  ...             0.0
       광주               24.0           116.0  ...             0.0
       대구               14.0            65.0  ...             0.0
       대전               52.0           152.0  ...             0.0
       부산               24.0           119.0  ...             0.0
       서울              177.0           439.0  ...             0.0
202406 Other            35.0           118.0  ...             0.0
       광주               29.0            94.0  ...             0.0
       대구               23.0            76.0  ...             0.0
       대전               42.0           170.0  ...             0.0
       부산               29.0           111.0  ...             0.0
       서울              153.0           472.0  ...             0.0

                                                                               \
flavorXtar   New Taste X Below 1MG New Taste X LTS New Taste X ULT Regular X
YYYYMM gr_cd
202401 Other                   0.0             0.0             0.0       72.0
       광주                      0.0             0.0             0.0       52.0
       대구                      0.0             0.0             0.0       29.0
       대전                      0.0             0.0             0.0       44.0
       부산                      0.0             0.0             0.0       71.0
       서울                      0.0             0.0             0.0      201.0
202402 Other                   0.0             0.0             0.0       64.0
       광주                      0.0             0.0             0.0       51.0
       대구                      0.0             0.0             0.0       42.0
       대전                      0.0             0.0             0.0       53.0
       부산                      0.0             0.0             0.0       65.0
       서울                      0.0             0.0             0.0      205.0
202403 Other                   0.0             0.0             0.0       60.0
       광주                      0.0             0.0             0.0       53.0
       대구                      0.0             0.0             0.0       39.0
       대전                      0.0             0.0             0.0       63.0
       부산                      0.0             0.0             0.0       61.0
       서울                      0.0             0.0             0.0      222.0
202404 Other                   0.0             0.0             0.0       68.0
       광주                      0.0             0.0             0.0       75.0
       대구                      0.0             0.0             0.0       58.0
       대전                      0.0             0.0             0.0       96.0
       부산                      0.0             0.0             0.0       88.0
       서울                      0.0             0.0             0.0      309.0
202405 Other                   0.0             0.0             0.0       45.0
       광주                      0.0             0.0             0.0       68.0
       대구                      0.0             0.0             0.0       43.0
       대전                      0.0             0.0             0.0       66.0
       부산                      0.0             0.0             0.0       91.0
       서울                      0.0             0.0             0.0      228.0
202406 Other                   0.0             0.0             0.0       49.0
       광주                      0.0             0.0             0.0       58.0
       대구                      0.0             0.0             0.0       40.0
       대전                      0.0             0.0             0.0       73.0
       부산                      0.0             0.0             0.0       62.0
       서울                      0.0             0.0             0.0      167.0

                                                                           \
flavorXtar   Regular X 1MG Regular X Below 1MG Regular X FF Regular X LTS
YYYYMM gr_cd
202401 Other           0.0                 0.0          0.0           0.0
       광주              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0
202402 Other           0.0                 0.0          0.0           0.0
       광주              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0
202403 Other           0.0                 0.0          0.0           0.0
       광주              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0
202404 Other           0.0                 0.0          0.0           0.0
       광주              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0
202405 Other           0.0                 0.0          0.0           0.0
       광주              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0
202406 Other           0.0                 0.0          0.0           0.0
       광주              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0


flavorXtar   Regular X ULT
YYYYMM gr_cd
202401 Other           0.0
       광주              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0
202402 Other           0.0
       광주              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0
202403 Other           0.0
       광주              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0
202404 Other           0.0
       광주              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0
202405 Other           0.0
       광주              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0
202406 Other           0.0
       광주              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0

[36 rows x 32 columns]