In [2]:
# 데이터 불러오기
from dotenv import load_dotenv
import pandas as pd
import os 
import numpy as np
from sqlalchemy import create_engine

# .env 파일에서 환경 부르기
load_dotenv()

# 환경 변수 사용
database = os.getenv("CON_STR")


# # csv 파일 경로
# csv_file_path = os.getenv("CSV_FILE_PATH")
# print(csv_file_path)

engine = create_engine(database)

In [3]:

# ALL Raw Data
sql1= ''' 
select * from cu.agg_CU_TEREA_Taste_Sourcing
order by YYYYMM, id
'''

gg = pd.read_sql_query(sql=sql1, con=engine)

In [4]:
gg.to_clipboard()

# TEREA Taste 3types Pivot 작업

In [5]:
# - TEREA_flaXtar_ from 202211
sql2 = ''' 
select  
	t.YYYYMM,
	t.FLAVORSEG_type,
	concat(FLAVORSEG_type3,' X ', New_TARSEGMENTAT) flavorXtar,
	count(distinct case when b.cigatype ='CC' then t.id end) CC,
	count(distinct case when b.cigatype ='HnB' then t.id end) HnB
from  cu.agg_CU_TEREA_Taste_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and b.CIGADEVICE =  'CIGARETTES' AND b.cigatype != 'CSV'  
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
where 1=1 
group BY 
	t.YYYYMM,
	concat(FLAVORSEG_type3,' X ', New_TARSEGMENTAT), 
	t.FLAVORSEG_type
;
'''

data2 = pd.read_sql_query(sql=sql2, con=engine)

pivot_flavor_tar = data2.pivot_table(index=['YYYYMM','FLAVORSEG_type'], 
                                     columns='flavorXtar',
                                     values=['HnB', 'CC' ]
                                    )
print(pivot_flavor_tar)

                            CC                                            \
flavorXtar            Fresh X  Fresh X 1MG Fresh X Below 1MG Fresh X LTS
YYYYMM FLAVORSEG_type
202401 Fresh               0.0        90.0               NaN        96.0
       New Taste           0.0       168.0               NaN       209.0
       Regular             0.0        65.0               NaN        74.0
202402 Fresh               0.0       118.0               NaN       105.0
       New Taste           0.0       178.0               NaN       161.0
       Regular             0.0        54.0               NaN        47.0
202403 Fresh               0.0       115.0               NaN       124.0
       New Taste           0.0       162.0               NaN       199.0
       Regular             0.0        64.0               NaN        52.0
202404 Fresh               0.0       104.0               NaN       112.0
       New Taste           0.0       190.0               2.0       203.0
       Regular             0.0        64.0               NaN        66.0
202405 Fresh               0.0       117.0               NaN       128.0
       New Taste           0.0       177.0               1.0       214.0
       Regular             0.0        61.0               NaN        69.0
202406 Fresh               0.0       123.0               NaN       122.0
       New Taste           0.0       164.0               NaN       212.0
       Regular             0.0        62.0               NaN        56.0

                                                                \
flavorXtar            Fresh X ULT New Taste X  New Taste X 1MG
YYYYMM FLAVORSEG_type
202401 Fresh                 23.0          0.0           898.0
       New Taste             33.0          0.0          1653.0
       Regular               14.0          0.0           698.0
202402 Fresh                  9.0          0.0           902.0
       New Taste             39.0          0.0          1757.0
       Regular               11.0          0.0           625.0
202403 Fresh                 12.0          0.0           959.0
       New Taste             28.0          0.0          1858.0
       Regular                9.0          0.0           641.0
202404 Fresh                 17.0          0.0           978.0
       New Taste             41.0          0.0          1980.0
       Regular                7.0          0.0           630.0
202405 Fresh                 15.0          0.0          1040.0
       New Taste             38.0          0.0          2041.0
       Regular                7.0          0.0           695.0
202406 Fresh                 19.0          0.0          1133.0
       New Taste             44.0          0.0          2033.0
       Regular               13.0          0.0           632.0

                                                                             \
flavorXtar            New Taste X Below 1MG New Taste X LTS New Taste X ULT
YYYYMM FLAVORSEG_type
202401 Fresh                           22.0            89.0           268.0
       New Taste                       92.0           204.0           672.0
       Regular                         30.0            68.0           221.0
202402 Fresh                           37.0            84.0           256.0
       New Taste                      120.0           215.0           696.0
       Regular                         22.0            70.0           231.0
202403 Fresh                           46.0            97.0           290.0
       New Taste                      160.0           249.0           785.0
       Regular                         22.0            84.0           210.0
202404 Fresh                           50.0            77.0           285.0
       New Taste                      157.0           214.0           779.0
       Regular                         22.0            64.0           197.0
202405 Fresh                           37.0           104.0           310.0
       New Taste                      156.0           257.0           803.0
       Regular                         26.0            69.0           221.0
202406 Fresh                           45.0           112.0           345.0
       New Taste                      147.0           239.0           806.0
       Regular                         28.0            56.0           216.0

                       ...             HnB                        \
flavorXtar             ... New Taste X 1MG New Taste X Below 1MG
YYYYMM FLAVORSEG_type  ...
202401 Fresh           ...             0.0                   0.0
       New Taste       ...             0.0                   0.0
       Regular         ...             0.0                   0.0
202402 Fresh           ...             0.0                   0.0
       New Taste       ...             0.0                   0.0
       Regular         ...             0.0                   0.0
202403 Fresh           ...             0.0                   0.0
       New Taste       ...             0.0                   0.0
       Regular         ...             0.0                   0.0
202404 Fresh           ...             0.0                   0.0
       New Taste       ...             0.0                   0.0
       Regular         ...             0.0                   0.0
202405 Fresh           ...             0.0                   0.0
       New Taste       ...             0.0                   0.0
       Regular         ...             0.0                   0.0
202406 Fresh           ...             0.0                   0.0
       New Taste       ...             0.0                   0.0
       Regular         ...             0.0                   0.0

                                                                  \
flavorXtar            New Taste X LTS New Taste X ULT Regular X
YYYYMM FLAVORSEG_type
202401 Fresh                      0.0             0.0      256.0
       New Taste                  0.0             0.0      324.0
       Regular                    0.0             0.0      412.0
202402 Fresh                      0.0             0.0      253.0
       New Taste                  0.0             0.0      342.0
       Regular                    0.0             0.0      415.0
202403 Fresh                      0.0             0.0      287.0
       New Taste                  0.0             0.0      411.0
       Regular                    0.0             0.0      430.0
202404 Fresh                      0.0             0.0      305.0
       New Taste                  0.0             0.0      517.0
       Regular                    0.0             0.0      639.0
202405 Fresh                      0.0             0.0      305.0
       New Taste                  0.0             0.0      492.0
       Regular                    0.0             0.0      437.0
202406 Fresh                      0.0             0.0      358.0
       New Taste                  0.0             0.0      499.0
       Regular                    0.0             0.0      317.0

                                                                      \
flavorXtar            Regular X 1MG Regular X Below 1MG Regular X FF
YYYYMM FLAVORSEG_type
202401 Fresh                    0.0                 0.0          0.0
       New Taste                0.0                 0.0          0.0
       Regular                  0.0                 0.0          0.0
202402 Fresh                    0.0                 0.0          0.0
       New Taste                0.0                 0.0          0.0
       Regular                  0.0                 0.0          0.0
202403 Fresh                    0.0                 0.0          0.0
       New Taste                0.0                 0.0          0.0
       Regular                  0.0                 0.0          0.0
202404 Fresh                    0.0                 0.0          0.0
       New Taste                0.0                 0.0          0.0
       Regular                  0.0                 0.0          0.0
202405 Fresh                    0.0                 0.0          0.0
       New Taste                0.0                 0.0          0.0
       Regular                  0.0                 0.0          0.0
202406 Fresh                    0.0                 0.0          0.0
       New Taste                0.0                 0.0          0.0
       Regular                  0.0                 0.0          0.0


flavorXtar            Regular X LTS Regular X ULT
YYYYMM FLAVORSEG_type
202401 Fresh                    0.0           0.0
       New Taste                0.0           0.0
       Regular                  0.0           0.0
202402 Fresh                    0.0           0.0
       New Taste                0.0           0.0
       Regular                  0.0           0.0
202403 Fresh                    0.0           0.0
       New Taste                0.0           0.0
       Regular                  0.0           0.0
202404 Fresh                    0.0           0.0
       New Taste                0.0           0.0
       Regular                  0.0           0.0
202405 Fresh                    0.0           0.0
       New Taste                0.0           0.0
       Regular                  0.0           0.0
202406 Fresh                    0.0           0.0
       New Taste                0.0           0.0
       Regular                  0.0           0.0

[18 rows x 32 columns]

In [6]:
pivot_flavor_tar.to_clipboard()

In [7]:
# - Terea_user_past_type_M1
sql = ''' 
select  
	t.YYYYMM, 
	t.id,
	t.FLAVORSEG_type,
	max(case when b.cigatype='HnB' and b.company = 'PMK' then 1 else 0 end) IQOS_Purchased,
	max(case when b.cigatype='CC' then 1 else 0 end) CC_Purchased,
	max(case when b.cigatype='HnB' and b.company != 'PMK' then 1 else 0 end) CompHnB_Purchased
from cu.agg_CU_TEREA_Taste_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
where 1 =1 
group BY 	    
	t.YYYYMM, 
	t.id,
	t.FLAVORSEG_type
'''

data = pd.read_sql_query(sql=sql, con=engine)
# Past Type 
def categorize(row):
    categories = []
    if row['IQOS_Purchased'] == 1:
        categories.append('PMK HnB')
    if row['CC_Purchased'] == 1:
        categories.append('CC')
    if row['CompHnB_Purchased'] == 1:
        categories.append('Comp. HnB')
    return ','.join(categories)

data['retype'] = data.apply(categorize, axis=1)
result = data.groupby(['YYYYMM','FLAVORSEG_type', 'retype']).size().reset_index(name='N')

pivot_past_type = result.pivot_table( 
                            index=['YYYYMM', 'FLAVORSEG_type'],
                            columns='retype',
                            values='N'
                            )
print(pivot_past_type)

retype                     CC  CC,Comp. HnB  Comp. HnB  PMK HnB  PMK HnB,CC  \
YYYYMM FLAVORSEG_type
202401 Fresh           1158.0         212.0       98.0    443.0       443.0
       New Taste       2356.0         434.0      230.0    498.0       502.0
       Regular         1044.0         171.0       67.0    444.0       460.0
202402 Fresh           1214.0         206.0      128.0    445.0       430.0
       New Taste       2440.0         489.0      224.0    492.0       484.0
       Regular         1062.0         176.0       82.0    340.0       357.0
202403 Fresh           1340.0         203.0      122.0    434.0       470.0
       New Taste       2663.0         522.0      256.0    538.0       527.0
       Regular         1137.0         174.0       89.0    353.0       331.0
202404 Fresh           1224.0         222.0      144.0    613.0       498.0
       New Taste       2676.0         585.0      311.0    838.0       697.0
       Regular         1045.0         175.0       99.0    486.0       383.0
202405 Fresh           1275.0         224.0      147.0    894.0       646.0
       New Taste       2739.0         548.0      303.0    869.0       748.0
       Regular         1135.0         184.0       90.0    443.0       438.0
202406 Fresh           1409.0         268.0      154.0    743.0       599.0
       New Taste       2739.0         554.0      310.0    665.0       649.0
       Regular         1134.0         166.0       93.0    287.0       361.0

retype                 PMK HnB,CC,Comp. HnB  PMK HnB,Comp. HnB
YYYYMM FLAVORSEG_type
202401 Fresh                           72.0               39.0
       New Taste                       83.0               44.0
       Regular                         66.0               39.0
202402 Fresh                           70.0               33.0
       New Taste                       81.0               42.0
       Regular                         59.0               36.0
202403 Fresh                           77.0               41.0
       New Taste                       95.0               64.0
       Regular                         56.0               32.0
202404 Fresh                           94.0               38.0
       New Taste                      106.0               68.0
       Regular                         71.0               34.0
202405 Fresh                          109.0               61.0
       New Taste                      117.0               73.0
       Regular                         79.0               46.0
202406 Fresh                          108.0               77.0
       New Taste                      100.0               67.0
       Regular                         65.0               37.0

In [ ]:
pivot_past_type.to_clipboard()

In [8]:
sql3 = ''' 
with temp as (
select  
	t.YYYYMM, 
	t.id,
	t.FLAVORSEG_type,
	max(case when b.cigatype='HnB' and b.company = 'PMK' then 1 else 0 end) IQOS_Purchased,
	max(case when b.cigatype='CC' then 1 else 0 end) CC_Purchased,
	max(case when b.cigatype='HnB' and b.company != 'PMK' then 1 else 0 end) CompHnB_Purchased
from  cu.agg_CU_TEREA_Taste_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM = t.YYYYMM
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
where 1=1 	
group BY 	    	
	t.YYYYMM, 
	t.id,
	t.FLAVORSEG_type
)
select YYYYMM, 	FLAVORSEG_type,
    'IQOS' +
    CASE WHEN CompHnB_Purchased = 1 THEN ' + Comp. HnB' ELSE '' END + 
    CASE WHEN CC_Purchased = 1 THEN ' + CC' ELSE '' END 
     as Cigatype,
    count(*) purchaser_cnt
from temp
group by YYYYMM, FLAVORSEG_type,
    'IQOS' +
    CASE WHEN CompHnB_Purchased = 1 THEN ' + Comp. HnB' ELSE '' END + 
    CASE WHEN CC_Purchased = 1 THEN ' + CC' ELSE '' END 
'''

data3 = pd.read_sql_query(sql=sql3, con=engine)

pivot_current_type = data3.pivot_table(index=['YYYYMM', 'FLAVORSEG_type'],
                                       columns='Cigatype',
                                       values='purchaser_cnt',
                                       )

print(pivot_current_type)

Cigatype                 IQOS  IQOS + CC  IQOS + Comp. HnB  \
YYYYMM FLAVORSEG_type
202401 Fresh           1047.0     1133.0             118.0
       New Taste       1503.0     2042.0             238.0
       Regular          919.0     1122.0              88.0
202402 Fresh           1005.0     1225.0             135.0
       New Taste       1546.0     2131.0             230.0
       Regular          807.0     1057.0             102.0
202403 Fresh           1056.0     1307.0             149.0
       New Taste       1614.0     2360.0             277.0
       Regular          802.0     1119.0             114.0
202404 Fresh           1144.0     1333.0             146.0
       New Taste       1950.0     2557.0             312.0
       Regular          915.0     1102.0             122.0
202405 Fresh           1467.0     1492.0             179.0
       New Taste       1989.0     2661.0             312.0
       Regular          910.0     1200.0             123.0
202406 Fresh           1378.0     1559.0             179.0
       New Taste       1754.0     2591.0             297.0
       Regular          729.0     1152.0             111.0

Cigatype               IQOS + Comp. HnB + CC
YYYYMM FLAVORSEG_type
202401 Fresh                           167.0
       New Taste                       364.0
       Regular                         162.0
202402 Fresh                           161.0
       New Taste                       345.0
       Regular                         146.0
202403 Fresh                           175.0
       New Taste                       414.0
       Regular                         137.0
202404 Fresh                           210.0
       New Taste                       462.0
       Regular                         154.0
202405 Fresh                           218.0
       New Taste                       435.0
       Regular                         182.0
202406 Fresh                           242.0
       New Taste                       442.0
       Regular                         151.0

In [9]:
pivot_current_type.to_clipboard()

# TEREA by SKU Pivot 작업

In [6]:
# - TEREA_flaXtar_ from 202211
sql2 = ''' 
select  
	t.YYYYMM,
	t.engname,
	concat(FLAVORSEG_type3,' X ', New_TARSEGMENTAT) flavorXtar,
	count(distinct case when b.cigatype ='CC' then t.id end) CC,
	count(distinct case when b.cigatype ='HnB' then t.id end) HnB
from  cu.agg_CU_TEREA_SKU_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and b.CIGADEVICE =  'CIGARETTES' AND b.cigatype != 'CSV'  
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
where 1=1 
group BY 
	t.YYYYMM,
	t.engname,
	concat(FLAVORSEG_type3,' X ', New_TARSEGMENTAT) 
'''

data2 = pd.read_sql_query(sql=sql2, con=engine)

pivot_flavor_tar = data2.pivot_table(index=['YYYYMM','engname'], 
                                     columns='flavorXtar',
                                     values=['HnB', 'CC' ]
                                    ).sort_values(['engname', 'YYYYMM'])
print(pivot_flavor_tar)

                         CC                                            \
flavorXtar         Fresh X  Fresh X 1MG Fresh X Below 1MG Fresh X LTS
YYYYMM engname
202302 TEREA AMBER      0.0        19.0               NaN        16.0
202303 TEREA AMBER      0.0        28.0               NaN        36.0
202304 TEREA AMBER      0.0        34.0               NaN        44.0
202305 TEREA AMBER      0.0        35.0               NaN        53.0
202306 TEREA AMBER      0.0        23.0               NaN        31.0
...                     ...         ...               ...         ...
202402 TEREA YUGEN      0.0        28.0               NaN        17.0
202403 TEREA YUGEN      0.0        15.0               NaN        15.0
202404 TEREA YUGEN      0.0        11.0               1.0        19.0
202405 TEREA YUGEN      0.0        13.0               NaN        21.0
202406 TEREA YUGEN      0.0        13.0               NaN        18.0

                                                             \
flavorXtar         Fresh X ULT New Taste X  New Taste X 1MG
YYYYMM engname
202302 TEREA AMBER         3.0          0.0           168.0
202303 TEREA AMBER        10.0          0.0           360.0
202304 TEREA AMBER         4.0          0.0           369.0
202305 TEREA AMBER         8.0          0.0           386.0
202306 TEREA AMBER         8.0          0.0           285.0
...                        ...          ...             ...
202402 TEREA YUGEN         2.0          0.0           157.0
202403 TEREA YUGEN         2.0          0.0           171.0
202404 TEREA YUGEN         4.0          0.0           151.0
202405 TEREA YUGEN         4.0          0.0           153.0
202406 TEREA YUGEN         2.0          0.0           167.0

                                                                          ...  \
flavorXtar         New Taste X Below 1MG New Taste X LTS New Taste X ULT  ...
YYYYMM engname                                                            ...
202302 TEREA AMBER                   NaN            19.0            70.0  ...
202303 TEREA AMBER                   NaN            36.0           132.0  ...
202304 TEREA AMBER                   NaN            44.0           132.0  ...
202305 TEREA AMBER                   NaN            59.0           150.0  ...
202306 TEREA AMBER                   NaN            43.0           117.0  ...
...                                  ...             ...             ...  ...
202402 TEREA YUGEN                  14.0            18.0            82.0  ...
202403 TEREA YUGEN                  10.0            21.0            83.0  ...
202404 TEREA YUGEN                  15.0            23.0            69.0  ...
202405 TEREA YUGEN                   9.0            21.0            69.0  ...
202406 TEREA YUGEN                   9.0            25.0            61.0  ...

                               HnB                                        \
flavorXtar         New Taste X 1MG New Taste X Below 1MG New Taste X LTS
YYYYMM engname
202302 TEREA AMBER             0.0                   NaN             0.0
202303 TEREA AMBER             0.0                   NaN             0.0
202304 TEREA AMBER             0.0                   NaN             0.0
202305 TEREA AMBER             0.0                   NaN             0.0
202306 TEREA AMBER             0.0                   NaN             0.0
...                            ...                   ...             ...
202402 TEREA YUGEN             0.0                   0.0             0.0
202403 TEREA YUGEN             0.0                   0.0             0.0
202404 TEREA YUGEN             0.0                   0.0             0.0
202405 TEREA YUGEN             0.0                   0.0             0.0
202406 TEREA YUGEN             0.0                   0.0             0.0

                                                             \
flavorXtar         New Taste X ULT Regular X  Regular X 1MG
YYYYMM engname
202302 TEREA AMBER             0.0      282.0           0.0
202303 TEREA AMBER             0.0      559.0           0.0
202304 TEREA AMBER             0.0      474.0           0.0
202305 TEREA AMBER             0.0      472.0           0.0
202306 TEREA AMBER             0.0      422.0           0.0
...                            ...        ...           ...
202402 TEREA YUGEN             0.0       65.0           0.0
202403 TEREA YUGEN             0.0       80.0           0.0
202404 TEREA YUGEN             0.0       77.0           0.0
202405 TEREA YUGEN             0.0       74.0           0.0
202406 TEREA YUGEN             0.0       76.0           0.0

                                                                   \
flavorXtar         Regular X Below 1MG Regular X FF Regular X LTS
YYYYMM engname
202302 TEREA AMBER                 0.0          0.0           0.0
202303 TEREA AMBER                 0.0          0.0           0.0
202304 TEREA AMBER                 0.0          0.0           0.0
202305 TEREA AMBER                 0.0          0.0           0.0
202306 TEREA AMBER                 0.0          0.0           0.0
...                                ...          ...           ...
202402 TEREA YUGEN                 0.0          0.0           0.0
202403 TEREA YUGEN                 0.0          0.0           0.0
202404 TEREA YUGEN                 0.0          0.0           0.0
202405 TEREA YUGEN                 0.0          0.0           0.0
202406 TEREA YUGEN                 0.0          0.0           0.0


flavorXtar         Regular X ULT
YYYYMM engname
202302 TEREA AMBER           0.0
202303 TEREA AMBER           0.0
202304 TEREA AMBER           0.0
202305 TEREA AMBER           0.0
202306 TEREA AMBER           0.0
...                          ...
202402 TEREA YUGEN           0.0
202403 TEREA YUGEN           0.0
202404 TEREA YUGEN           0.0
202405 TEREA YUGEN           0.0
202406 TEREA YUGEN           0.0

[223 rows x 32 columns]

In [7]:
pivot_flavor_tar.to_clipboard()

In [5]:
# - Terea_user_past_type_M1
sql = ''' 
select  
	t.YYYYMM, 
	t.engname,
	t.id,
	max(case when b.cigatype='HnB' and b.company = 'PMK' then 1 else 0 end) IQOS_Purchased,
	max(case when b.cigatype='CC' then 1 else 0 end) CC_Purchased,
	max(case when b.cigatype='HnB' and b.company != 'PMK' then 1 else 0 end) CompHnB_Purchased
from cu.agg_CU_TEREA_SKU_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
where 1=1 
group BY 	    
	t.YYYYMM, 
	t.id,
	t.engname
'''

data = pd.read_sql_query(sql=sql, con=engine)
# Past Type 
def categorize(row):
    categories = []
    if row['IQOS_Purchased'] == 1:
        categories.append('PMK HnB')
    if row['CC_Purchased'] == 1:
        categories.append('CC')
    if row['CompHnB_Purchased'] == 1:
        categories.append('Comp HnB')
    return ','.join(categories)

data['retype'] = data.apply(categorize, axis=1)
result = data.groupby(['YYYYMM','engname', 'retype']).size().reset_index(name='N')
total = result['N'].sum()

pivot_past_type = result.pivot_table( 
                            index=['YYYYMM', 'engname'],
                            columns='retype',
                            values='N'
                            ).sort_values(['engname', 'YYYYMM'])
print(pivot_past_type)
pivot_past_type.to_clipboard()

retype                 CC  CC,Comp HnB  Comp HnB  PMK HnB  PMK HnB,CC  \
YYYYMM engname
202302 TEREA AMBER  357.0         52.0      41.0    199.0       130.0
202303 TEREA AMBER  583.0        118.0      58.0    372.0       275.0
202304 TEREA AMBER  515.0         98.0      49.0    267.0       310.0
202305 TEREA AMBER  603.0        106.0      55.0    278.0       276.0
202306 TEREA AMBER  443.0         89.0      38.0    223.0       255.0
...                   ...          ...       ...      ...         ...
202402 TEREA YUGEN  162.0         39.0      15.0     97.0       117.0
202403 TEREA YUGEN  155.0         34.0      23.0     97.0       155.0
202404 TEREA YUGEN  151.0         33.0      26.0    113.0       135.0
202405 TEREA YUGEN  146.0         26.0      21.0    116.0       132.0
202406 TEREA YUGEN  135.0         36.0      20.0     94.0       129.0

retype              PMK HnB,CC,Comp HnB  PMK HnB,Comp HnB
YYYYMM engname
202302 TEREA AMBER                 12.0              12.0
202303 TEREA AMBER                 58.0              36.0
202304 TEREA AMBER                 55.0              46.0
202305 TEREA AMBER                 70.0              24.0
202306 TEREA AMBER                 49.0              34.0
...                                 ...               ...
202402 TEREA YUGEN                 17.0               9.0
202403 TEREA YUGEN                 21.0              13.0
202404 TEREA YUGEN                 28.0              13.0
202405 TEREA YUGEN                 27.0              17.0
202406 TEREA YUGEN                 20.0              11.0

[223 rows x 7 columns]

In [6]:
# - Terea_user_Current_type_M1

sql3 = ''' 
with temp as (
select  
	t.YYYYMM,  
	t.id,
	t.engname,
	max(case when b.cigatype='HnB' and b.company = 'PMK' then 1 else 0 end) IQOS_Purchased,
	max(case when b.cigatype='CC' then 1 else 0 end) CC_Purchased,
	max(case when b.cigatype='HnB' and b.company != 'PMK' then 1 else 0 end) CompHnB_Purchased
from  cu.agg_CU_TEREA_SKU_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM = t.YYYYMM
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
where 1=1 	
group BY 	    	
	t.YYYYMM, 
	t.id,
	t.engname
)
select YYYYMM, engname,
    'IQOS' +
    CASE WHEN CompHnB_Purchased = 1 THEN ' + Comp. HnB' ELSE '' END + 
    CASE WHEN CC_Purchased = 1 THEN ' + CC' ELSE '' END 
     as Cigatype,
    count(*) purchaser_cnt
from temp
group by YYYYMM, engname,
    'IQOS' +
    CASE WHEN CompHnB_Purchased = 1 THEN ' + Comp. HnB' ELSE '' END + 
    CASE WHEN CC_Purchased = 1 THEN ' + CC' ELSE '' END 
'''

data3 = pd.read_sql_query(sql=sql3, con=engine)

pivot_current_type = data3.pivot_table(index=['YYYYMM', 'engname'],
                                       columns='Cigatype',
                                       values='purchaser_cnt',
                                       ).sort_values(['engname', 'YYYYMM'])

print(pivot_current_type)
pivot_current_type.to_clipboard()

Cigatype             IQOS  IQOS + CC  IQOS + Comp. HnB  IQOS + Comp. HnB + CC
YYYYMM engname
202302 TEREA AMBER  314.0      407.0              29.0                   53.0
202303 TEREA AMBER  659.0      661.0              69.0                  111.0
202304 TEREA AMBER  585.0      595.0              67.0                   93.0
202305 TEREA AMBER  550.0      681.0              69.0                  112.0
202306 TEREA AMBER  458.0      542.0              60.0                   71.0
...                   ...        ...               ...                    ...
202402 TEREA YUGEN  209.0      198.0              25.0                   24.0
202403 TEREA YUGEN  225.0      215.0              31.0                   27.0
202404 TEREA YUGEN  219.0      233.0              24.0                   23.0
202405 TEREA YUGEN  223.0      207.0              21.0                   34.0
202406 TEREA YUGEN  197.0      203.0              20.0                   25.0

[223 rows x 4 columns]

# Pivot concat 해보기

In [14]:
# 필터링된 데이터 생성
filtered_data = data[data['ProductFamilyCode'] == 'IQOS']
 
# 피벗 테이블 생성
pivot_table4 = filtered_data.pivot_table(index=['YYYYMM', 'id', 'gender', 'age'],
                                         columns=['engname'], values=['qty'],
                                         aggfunc='sum')
 
# HnB_taste 컬럼 생성 및 피벗 테이블 생성
result = data[data['productSubFamilyCode'].isin(['AIIM', 'FIIT', 'HEETS', 'MIIX', 'NEO', 'NEOSTICKS', 'TEREA'])]
data['HnB_taste'] = result['productSubFamilyCode'] + ' ' + data['New_FLAVORSEG']

pivot_table3 = data.pivot_table(index=['YYYYMM', 'id', 'gender', 'age'],
                                columns=['HnB_taste'], values=['qty'],
                                aggfunc='sum')
 
# CC_taste 컬럼 생성 및 피벗 테이블 생성
data['CC_taste'] = data['cigatype'] + ' ' + data['New_FLAVORSEG']

pivot_table2 = data.pivot_table(index=['YYYYMM', 'id', 'gender', 'age'],
                                columns=['CC_taste'], values=['qty'],
                                aggfunc='sum')
 
# 기본 피벗 테이블 생성
pivot_table1 = data.pivot_table(index=['YYYYMM', 'id', 'gender', 'age'],
                                columns=['company'], values=['qty'],
                                aggfunc='sum')

# 피벗 테이블들을 하나의 데이터프레임으로 병합
concatenated_pivot = pd.concat([ pivot_table1, pivot_table2, pivot_table3, pivot_table4], axis=1)

# 결과 출력
# final = pd.merge(result, concatenated_pivot, how='outer')
concatenated_pivot

                                                                       qty  \
                                                                       BAT
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대  32.0
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대   NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대   NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대   NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대   NaN
...                                                                    ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대   NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대   NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대   NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대   NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대   1.0

                                                                               \
                                                                     JTI  KTG
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대 NaN  NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대 NaN  NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대 NaN  NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대 NaN  9.0
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대 NaN  2.0
...                                                                   ..  ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대 NaN  NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대 NaN  1.0
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대 NaN  4.0
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대 NaN  2.0
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대 NaN  9.0

                                                                            \
                                                                       PMK
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대   NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대   4.0
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대   7.0
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대   NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대  13.0
...                                                                    ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대  10.0
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대   NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대   NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대   NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대   1.0

                                                                               \
                                                                     CC Fresh
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대      NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대      NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대      NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대      NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대      NaN
...                                                                       ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대      NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대      NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대      4.0
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대      NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대      NaN

                                                                                   \
                                                                     CC New Taste
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대          NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대          NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대          NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대          9.0
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대          1.0
...                                                                           ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대          NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대          NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대          NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대          NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대          3.0

                                                                                 \
                                                                     CC Regular
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대        1.0
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대        NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대        NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대        NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대        NaN
...                                                                         ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대        NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대        NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대        NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대        2.0
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대        5.0

                                                                                \
                                                                     HnB Fresh
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대       NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대       3.0
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대       NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대       NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대      13.0
...                                                                        ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대       2.0
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대       1.0
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대       NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대       NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대       1.0

                                                                                    \
                                                                     HnB New Taste
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대           NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대           1.0
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대           1.0
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대           NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대           1.0
...                                                                            ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대           NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대           NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대           NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대           NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대           2.0

                                                                                  \
                                                                     HnB Regular
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대        31.0
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대         NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대         6.0
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대         NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대         NaN
...                                                                          ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대         8.0
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대         NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대         NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대         NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대         NaN

                                                                      ...  \
                                                                      ...
YYYYMM id                                                 gender age  ...
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대  ...
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대  ...
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대  ...
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대  ...
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대  ...
...                                                                   ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대  ...
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대  ...
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대  ...
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대  ...
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대  ...

                                                                                         \
                                                                     HEETS BRONZE LABEL
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대                NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대                NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대                6.0
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대                NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대                NaN
...                                                                                 ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대                8.0
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대                NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대                NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대                NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대                NaN

                                                                                           \
                                                                     HEETS GOLD SELECTION
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대                  NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대                  NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대                  NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대                  NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대                  NaN
...                                                                                   ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대                  NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대                  NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대                  NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대                  NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대                  NaN

                                                                                        \
                                                                     HEETS GREEN LABEL
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대               NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대               NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대               NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대               NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대               NaN
...                                                                                ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대               NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대               NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대               NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대               NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대               NaN

                                                                                       \
                                                                     HEETS GREEN ZING
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대              NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대              NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대              NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대              NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대              NaN
...                                                                               ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대              NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대              NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대              NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대              NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대              NaN

                                                                                         \
                                                                     HEETS PURPLE LABEL
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대                NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대                NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대                NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대                NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대                NaN
...                                                                                 ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대                NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대                NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대                NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대                NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대                NaN

                                                                                       \
                                                                     HEETS SATIN WAVE
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대              NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대              NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대              NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대              NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대              NaN
...                                                                               ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대              NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대              NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대              NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대              NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대              NaN

                                                                                         \
                                                                     HEETS SILVER LABEL
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대                NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대                NaN
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대                NaN
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대                NaN
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대                NaN
...                                                                                 ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대                NaN
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대                NaN
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대                NaN
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대                NaN
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대                NaN

                                                                                          \
                                                                     HEETS SUMMER BREEZE
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대                 NaN
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대                 1.0
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대                 NaN

In [16]:
total_id_count = data.groupby('YYYYMM')['id'].count().reset_index(name='total_id_count')

gender_age_count = data.groupby(['YYYYMM', 'gender', 'age']).size().reset_index(name='count')

gender_pivot = gender_age_count.pivot_table(
    index ='YYYYMM',
    columns= ['gender', 'age'],
    values='count'
)

res = total_id_count.set_index('YYYYMM').join(gender_pivot)

res

MergeError: Not allowed to merge between different levels. (1 levels on the left, 2 on the right)

In [42]:
# -- Gr Region 집계 user_current_type_M1

gr_sql1= ''' 
with temp as (
select  
	t.YYYYMM, 
	gr_cd,
	t.id,
	max(case when b.cigatype='HnB' and b.company = 'PMK' then 1 else 0 end) IQOS_Purchased,
	max(case when b.cigatype='CC' then 1 else 0 end) CC_Purchased,
	max(case when b.cigatype='HnB' and b.company != 'PMK' then 1 else 0 end) CompHnB_Purchased
from  cu.agg_CU_TEREA_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM = t.YYYYMM
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
group BY 	    	
	t.YYYYMM, 
	gr_cd,
	t.id
)
select YYYYMM, gr_cd,
    'IQOS' +
    CASE WHEN CompHnB_Purchased = 1 THEN ' + Comp. HnB' ELSE '' END + 
    CASE WHEN CC_Purchased = 1 THEN ' + CC' ELSE '' END 
     as Cigatype,
    count(*) purchaser_cnt
from temp
group by YYYYMM, gr_cd,
    'IQOS' +
    CASE WHEN CompHnB_Purchased = 1 THEN ' + Comp. HnB' ELSE '' END + 
    CASE WHEN CC_Purchased = 1 THEN ' + CC' ELSE '' END 
;
'''


gr_data = pd.read_sql_query(sql=gr_sql1, con=engine)

In [49]:
pivot_current_type = gr_data.pivot_table(index=['YYYYMM','gr_cd'],
                                       columns='Cigatype',
                                       values='purchaser_cnt',
                                       ).sort_values(['YYYYMM', 'gr_cd'], ascending=[True, False])

print(pivot_current_type)
pivot_current_type.to_clipboard()

Cigatype        IQOS  IQOS + CC  IQOS + Comp. HnB  IQOS + Comp. HnB + CC
YYYYMM gr_cd
202401 서울      885.0     1274.0             135.0                  190.0
       부산      337.0      430.0              44.0                   90.0
       대전      247.0      373.0              34.0                   68.0
       대구      168.0      283.0              28.0                   47.0
       광주      279.0      347.0              46.0                   74.0
       Other   254.0      385.0              50.0                   66.0
202402 서울      855.0     1280.0             142.0                  184.0
       부산      345.0      493.0              55.0                   68.0
       대전      257.0      405.0              47.0                   64.0
       대구      214.0      261.0              27.0                   45.0
       광주      246.0      406.0              46.0                   59.0
       Other   248.0      441.0              35.0                   77.0
202403 서울      882.0     1426.0             173.0                  197.0
       부산      317.0      547.0              53.0                   85.0
       대전      278.0      441.0              53.0                   78.0
       대구      196.0      266.0              38.0                   54.0
       광주      262.0      420.0              37.0                   75.0
       Other   253.0      415.0              47.0                   71.0
202404 서울     1129.0     1506.0             174.0                  232.0
       부산      350.0      562.0              58.0                  103.0
       대전      356.0      502.0              56.0                   78.0
       대구      238.0      323.0              39.0                   57.0
       광주      272.0      425.0              57.0                   66.0
       Other   242.0      446.0              50.0                   99.0
202405 서울     1206.0     1632.0             211.0                  248.0
       부산      414.0      559.0              58.0                   82.0
       대전      372.0      539.0              67.0                  104.0
       대구      261.0      328.0              40.0                   57.0
       광주      343.0      478.0              53.0                   67.0
       Other   247.0      436.0              43.0                   75.0
202406 서울      982.0     1622.0             183.0                  244.0
       부산      335.0      533.0              62.0                   91.0
       대전      372.0      576.0              59.0                   90.0
       대구      247.0      346.0              30.0                   63.0
       광주      308.0      457.0              58.0                   82.0
       Other   235.0      457.0              56.0                   65.0

In [43]:
gr_sql2 = ''' 
select  
	t.YYYYMM, 
	gr_cd,
	t.id,
	max(case when b.cigatype='HnB' and b.company = 'PMK' then 1 else 0 end) IQOS_Purchased,
	max(case when b.cigatype='CC' then 1 else 0 end) CC_Purchased,
	max(case when b.cigatype='HnB' and b.company != 'PMK' then 1 else 0 end) CompHnB_Purchased
from cu.agg_CU_TEREA_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
group BY 	    
	t.YYYYMM, 
	gr_cd, 
	t.id
;
'''

gr_data2 = pd.read_sql_query(sql=gr_sql2, con=engine)

In [52]:
# Past Type 
def categorize(row):
    categories = []
    if row['IQOS_Purchased'] == 1:
        categories.append('PMK HnB')
    if row['CC_Purchased'] == 1:
        categories.append('CC')
    if row['CompHnB_Purchased'] == 1:
        categories.append('Comp HnB')
    return ','.join(categories)

gr_data2['retype'] = gr_data2.apply(categorize, axis=1)
result = gr_data2.groupby(['YYYYMM','gr_cd', 'retype']).size().reset_index(name='N')
total = result['N'].sum()

print(result)

     YYYYMM  gr_cd               retype    N
0    202401  Other                   CC  467
1    202401  Other          CC,Comp HnB  102
2    202401  Other             Comp HnB   28
3    202401  Other              PMK HnB   81
4    202401  Other           PMK HnB,CC   54
..      ...    ...                  ...  ...
247  202406     서울             Comp HnB  214
248  202406     서울              PMK HnB  330
249  202406     서울           PMK HnB,CC  222
250  202406     서울  PMK HnB,CC,Comp HnB   32
251  202406     서울     PMK HnB,Comp HnB   25

[252 rows x 4 columns]

In [56]:
pivot_past_type = result.pivot_table( 
                            index=['YYYYMM', 'gr_cd'],
                            columns='retype',
                            values='N'
                            ).sort_values(['YYYYMM', 'gr_cd'], ascending=[True, False])
print(pivot_past_type)
pivot_past_type.to_clipboard()

retype            CC  CC,Comp HnB  Comp HnB  PMK HnB  PMK HnB,CC  \
YYYYMM gr_cd
202401 서울     1535.0        267.0     141.0    296.0       202.0
       부산      565.0        105.0      49.0    103.0        64.0
       대전      484.0         66.0      43.0     75.0        48.0
       대구      342.0         64.0      40.0     41.0        33.0
       광주      468.0         84.0      40.0     86.0        58.0
       Other   467.0        102.0      28.0     81.0        54.0
202402 서울     1548.0        258.0     164.0    275.0       177.0
       부산      605.0        102.0      59.0    102.0        74.0
       대전      504.0        108.0      35.0     61.0        47.0
       대구      346.0         62.0      38.0     59.0        36.0
       광주      492.0         89.0      42.0     78.0        46.0
       Other   518.0        110.0      39.0     74.0        54.0
202403 서울     1717.0        283.0     172.0    273.0       183.0
       부산      677.0        104.0      51.0     98.0        58.0
       대전      557.0        105.0      50.0     77.0        46.0
       대구      371.0         57.0      36.0     51.0        30.0
       광주      505.0        114.0      46.0     62.0        56.0
       Other   529.0        103.0      38.0     60.0        43.0
202404 서울     1682.0        296.0     181.0    506.0       312.0
       부산      619.0        136.0      66.0    142.0        93.0
       대전      608.0         98.0      51.0    154.0        65.0
       대구      365.0         77.0      47.0     99.0        51.0
       광주      469.0        113.0      58.0    106.0        60.0
       Other   509.0         95.0      69.0     96.0        56.0
202405 서울     1776.0        342.0     177.0    551.0       356.0
       부산      630.0        125.0      64.0    163.0       113.0
       대전      630.0        102.0      60.0    164.0        96.0
       대구      383.0         65.0      46.0    123.0        56.0
       광주      543.0         88.0      49.0    163.0        78.0
       Other   478.0         84.0      58.0    101.0        71.0
202406 서울     1890.0        318.0     214.0    330.0       222.0
       부산      607.0        122.0      64.0    126.0        84.0
       대전      663.0        122.0      62.0    135.0        86.0
       대구      398.0         80.0      28.0     94.0        77.0
       광주      535.0        104.0      62.0    119.0        68.0
       Other   499.0         98.0      47.0     86.0        62.0

retype        PMK HnB,CC,Comp HnB  PMK HnB,Comp HnB
YYYYMM gr_cd
202401 서울                    20.0              23.0
       부산                    10.0               5.0
       대전                     2.0               4.0
       대구                     5.0               1.0
       광주                     6.0               4.0
       Other                 15.0               8.0
202402 서울                    17.0              22.0
       부산                    14.0               5.0
       대전                    10.0               8.0
       대구                     2.0               4.0
       광주                     5.0               5.0
       Other                  3.0               3.0
202403 서울                    25.0              25.0
       부산                    10.0               4.0
       대전                     7.0               8.0
       대구                     3.0               6.0
       광주                     5.0               6.0
       Other                 10.0               3.0
202404 서울                    35.0              29.0
       부산                     7.0              10.0
       대전                    11.0               5.0
       대구                    13.0               5.0
       광주                     9.0               5.0
       Other                  7.0               5.0
202405 서울                    52.0              43.0
       부산                     9.0               9.0
       대전                    16.0              14.0
       대구                     5.0               8.0
       광주                    10.0              10.0
       Other                  6.0               3.0
202406 서울                    32.0              25.0
       부산                    10.0               8.0
       대전                    18.0              11.0
       대구                     4.0               5.0
       광주                     5.0              12.0
       Other                 13.0               8.0

In [58]:
# -- TEREA flavorXtar from 202211

gr_sql3 = ''' 
select  
	t.YYYYMM,
	gr_cd,
	concat(FLAVORSEG_type3,' X ', New_TARSEGMENTAT) flavorXtar,
	count(distinct case when b.cigatype ='CC' then t.id end) CC,
	count(distinct case when b.cigatype ='HnB' then t.id end) HnB
from  cu.agg_CU_TEREA_Sourcing t
	join cu.Fct_BGFR_PMI_Monthly a on t.id = a.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cu.dim_product_master b on a.ITEM_CD = b.PROD_ID and b.CIGADEVICE =  'CIGARETTES' AND b.cigatype != 'CSV'  
	join cu.dim_Regional_area c on t.SIDO_nm = c.sido_nm
group BY 
	t.YYYYMM,
	gr_cd,
	concat(FLAVORSEG_type3,' X ', New_TARSEGMENTAT) 
;
'''

gr_data3 = pd.read_sql_query(sql=gr_sql3, con=engine)

In [60]:
pivot_flavor_tar = gr_data3.pivot_table(index=['YYYYMM', 'gr_cd'], 
                                     columns='flavorXtar',
                                     values=['HnB', 'CC' ]
                                    ).sort_values(['YYYYMM', 'gr_cd'], ascending=[True,True])
print(pivot_flavor_tar)
pivot_flavor_tar.to_clipboard()

                   CC                                                        \
flavorXtar   Fresh X  Fresh X 1MG Fresh X Below 1MG Fresh X LTS Fresh X ULT
YYYYMM gr_cd
202401 Other      0.0        35.0               NaN        41.0        15.0
       광주         0.0        24.0               NaN        26.0         5.0
       대구         0.0        16.0               NaN        17.0         6.0
       대전         0.0        20.0               NaN        27.0         8.0
       부산         0.0        28.0               NaN        24.0         2.0
       서울         0.0       117.0               NaN       128.0        18.0
202402 Other      0.0        36.0               NaN        44.0         8.0
       광주         0.0        31.0               NaN        26.0         3.0
       대구         0.0        19.0               NaN        12.0         4.0
       대전         0.0        34.0               NaN        26.0         3.0
       부산         0.0        31.0               NaN        23.0         6.0
       서울         0.0       107.0               NaN        99.0        17.0
202403 Other      0.0        27.0               NaN        50.0         2.0
       광주         0.0        24.0               NaN        22.0         2.0
       대구         0.0        21.0               NaN         6.0         3.0
       대전         0.0        28.0               NaN        40.0         5.0
       부산         0.0        39.0               NaN        34.0         4.0
       서울         0.0        99.0               NaN       125.0        18.0
202404 Other      0.0        42.0               NaN        45.0         7.0
       광주         0.0        26.0               NaN        31.0         6.0
       대구         0.0        26.0               1.0        15.0         4.0
       대전         0.0        37.0               NaN        35.0        10.0
       부산         0.0        38.0               NaN        32.0         5.0
       서울         0.0        92.0               NaN       118.0        18.0
202405 Other      0.0        19.0               NaN        40.0         4.0
       광주         0.0        36.0               NaN        29.0         1.0
       대구         0.0        15.0               NaN        16.0         1.0
       대전         0.0        39.0               NaN        42.0        13.0
       부산         0.0        32.0               NaN        18.0         4.0
       서울         0.0       102.0               NaN       141.0        21.0
202406 Other      0.0        46.0               NaN        45.0        10.0
       광주         0.0        25.0               NaN        22.0         8.0
       대구         0.0        25.0               NaN        16.0         2.0
       대전         0.0        43.0               NaN        43.0         5.0
       부산         0.0        25.0               NaN        22.0         5.0
       서울         0.0        98.0               NaN       134.0        23.0

                                                                 \
flavorXtar   New Taste X  New Taste X 1MG New Taste X Below 1MG
YYYYMM gr_cd
202401 Other          0.0           270.0                  17.0
       광주             0.0           358.0                  15.0
       대구             0.0           261.0                  10.0
       대전             0.0           235.0                  12.0
       부산             0.0           438.0                  12.0
       서울             0.0           789.0                  47.0
202402 Other          0.0           304.0                  18.0
       광주             0.0           335.0                  15.0
       대구             0.0           246.0                  10.0
       대전             0.0           295.0                  19.0
       부산             0.0           484.0                  28.0
       서울             0.0           759.0                  45.0
202403 Other          0.0           290.0                  19.0
       광주             0.0           365.0                  28.0
       대구             0.0           270.0                  11.0
       대전             0.0           295.0                  30.0
       부산             0.0           498.0                  28.0
       서울             0.0           807.0                  62.0
202404 Other          0.0           289.0                  22.0
       광주             0.0           356.0                  20.0
       대구             0.0           311.0                  13.0
       대전             0.0           347.0                  36.0
       부산             0.0           504.0                  19.0
       서울             0.0           845.0                  69.0
202405 Other          0.0           280.0                  25.0
       광주             0.0           368.0                  26.0
       대구             0.0           320.0                  11.0
       대전             0.0           357.0                  27.0
       부산             0.0           511.0                  18.0
       서울             0.0           944.0                  63.0
202406 Other          0.0           305.0                  26.0
       광주             0.0           383.0                  19.0
       대구             0.0           328.0                  11.0
       대전             0.0           409.0                  33.0
       부산             0.0           469.0                  18.0
       서울             0.0           945.0                  64.0

                                              ...             HnB  \
flavorXtar   New Taste X LTS New Taste X ULT  ... New Taste X 1MG
YYYYMM gr_cd                                  ...
202401 Other            52.0           125.0  ...             0.0
       광주               15.0            76.0  ...             0.0
       대구               21.0            62.0  ...             0.0
       대전               23.0           109.0  ...             0.0
       부산               25.0           100.0  ...             0.0
       서울              125.0           370.0  ...             0.0
202402 Other            45.0           127.0  ...             0.0
       광주               22.0            98.0  ...             0.0
       대구               13.0            64.0  ...             0.0
       대전               31.0           117.0  ...             0.0
       부산               33.0            98.0  ...             0.0
       서울              125.0           381.0  ...             0.0
202403 Other            45.0           116.0  ...             0.0
       광주               27.0           108.0  ...             0.0
       대구               13.0            55.0  ...             0.0
       대전               32.0           145.0  ...             0.0
       부산               43.0           124.0  ...             0.0
       서울              154.0           412.0  ...             0.0
202404 Other            28.0           100.0  ...             0.0
       광주               14.0            86.0  ...             0.0
       대구               13.0            59.0  ...             0.0
       대전               41.0           145.0  ...             0.0
       부산               26.0           156.0  ...             0.0
       서울              140.0           408.0  ...             0.0
202405 Other            26.0           102.0  ...             0.0
       광주               24.0           116.0  ...             0.0
       대구               14.0            65.0  ...             0.0
       대전               52.0           152.0  ...             0.0
       부산               24.0           119.0  ...             0.0
       서울              177.0           439.0  ...             0.0
202406 Other            35.0           118.0  ...             0.0
       광주               29.0            94.0  ...             0.0
       대구               23.0            76.0  ...             0.0
       대전               42.0           170.0  ...             0.0
       부산               29.0           111.0  ...             0.0
       서울              153.0           472.0  ...             0.0

                                                                               \
flavorXtar   New Taste X Below 1MG New Taste X LTS New Taste X ULT Regular X
YYYYMM gr_cd
202401 Other                   0.0             0.0             0.0       72.0
       광주                      0.0             0.0             0.0       52.0
       대구                      0.0             0.0             0.0       29.0
       대전                      0.0             0.0             0.0       44.0
       부산                      0.0             0.0             0.0       71.0
       서울                      0.0             0.0             0.0      201.0
202402 Other                   0.0             0.0             0.0       64.0
       광주                      0.0             0.0             0.0       51.0
       대구                      0.0             0.0             0.0       42.0
       대전                      0.0             0.0             0.0       53.0
       부산                      0.0             0.0             0.0       65.0
       서울                      0.0             0.0             0.0      205.0
202403 Other                   0.0             0.0             0.0       60.0
       광주                      0.0             0.0             0.0       53.0
       대구                      0.0             0.0             0.0       39.0
       대전                      0.0             0.0             0.0       63.0
       부산                      0.0             0.0             0.0       61.0
       서울                      0.0             0.0             0.0      222.0
202404 Other                   0.0             0.0             0.0       68.0
       광주                      0.0             0.0             0.0       75.0
       대구                      0.0             0.0             0.0       58.0
       대전                      0.0             0.0             0.0       96.0
       부산                      0.0             0.0             0.0       88.0
       서울                      0.0             0.0             0.0      309.0
202405 Other                   0.0             0.0             0.0       45.0
       광주                      0.0             0.0             0.0       68.0
       대구                      0.0             0.0             0.0       43.0
       대전                      0.0             0.0             0.0       66.0
       부산                      0.0             0.0             0.0       91.0
       서울                      0.0             0.0             0.0      228.0
202406 Other                   0.0             0.0             0.0       49.0
       광주                      0.0             0.0             0.0       58.0
       대구                      0.0             0.0             0.0       40.0
       대전                      0.0             0.0             0.0       73.0
       부산                      0.0             0.0             0.0       62.0
       서울                      0.0             0.0             0.0      167.0

                                                                           \
flavorXtar   Regular X 1MG Regular X Below 1MG Regular X FF Regular X LTS
YYYYMM gr_cd
202401 Other           0.0                 0.0          0.0           0.0
       광주              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0
202402 Other           0.0                 0.0          0.0           0.0
       광주              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0
202403 Other           0.0                 0.0          0.0           0.0
       광주              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0
202404 Other           0.0                 0.0          0.0           0.0
       광주              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0
202405 Other           0.0                 0.0          0.0           0.0
       광주              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0
202406 Other           0.0                 0.0          0.0           0.0
       광주              0.0                 0.0          0.0           0.0
       대구              0.0                 0.0          0.0           0.0
       대전              0.0                 0.0          0.0           0.0
       부산              0.0                 0.0          0.0           0.0
       서울              0.0                 0.0          0.0           0.0


flavorXtar   Regular X ULT
YYYYMM gr_cd
202401 Other           0.0
       광주              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0
202402 Other           0.0
       광주              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0
202403 Other           0.0
       광주              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0
202404 Other           0.0
       광주              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0
202405 Other           0.0
       광주              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0
202406 Other           0.0
       광주              0.0
       대구              0.0
       대전              0.0
       부산              0.0
       서울              0.0

[36 rows x 32 columns]