In [1]:
# 데이터 불러오기
from dotenv import load_dotenv
import pandas as pd
import os 
import numpy as np
from sqlalchemy import create_engine

# .env 파일에서 환경 부르기
load_dotenv()

# 환경 변수 사용
database = os.getenv("CON_STR")


# # csv 파일 경로
# csv_file_path = os.getenv("CSV_FILE_PATH")
# print(csv_file_path)

engine = create_engine(database)

In [2]:

# ALL Raw Data
sql1= ''' 
select * from cx.agg_LPoint_TEREA_SKU_Sourcing
order by YYYYMM, id
'''

gg = pd.read_sql_query(sql=sql1, con=engine)

        YYYYMM                                                 id  \
0       202211  003DE9124299CC396950FEF717EFE5020EFCB079E8DECB...
1       202211  007BE5AEC24991C378435D650C80E7C168971700CB8EDF...
2       202211  00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDE...
3       202211  00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDE...
4       202211  00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B3...
...        ...                                                ...
123457  202407  FFC06F306A0DDA1B0607490AAE316DDE2D7BDC64F5BE1A...
123458  202407  FFC820F653AE73D27A89A23EF11572A811666DA444D4B9...
123459  202407  FFDBFA83BF7A87212EC6F7CBBF725A42481E7EC572D0B7...
123460  202407  FFFB3F6F4064FA5CE1BA43DADF370056664B8916E3B673...
123461  202407  FFFBB0C05EBD84A70B65B8075656BAB53B2BE9AAFE84F2...

                     engname gender  age cigatype      company  \
0               TEREA SILVER      남  40대    Mixed          BAT
1                 TEREA BLUE      남  40대      HnB          PMK
2                TEREA AMBER      남  50대      HnB          PMK
3          TEREA SUMMER WAVE      남  50대      HnB          PMK
4         TEREA BLACK PURPLE      남  30대       CC          KTG
...                      ...    ...  ...      ...          ...
123457            TEREA TEAK      남  50대       CC          KTG
123458    TEREA BLACK PURPLE      남  30대      HnB          PMK
123459           TEREA GREEN      남  60대      HnB          BAT
123460  TEREA STARLING PEARL      남  20대    Mixed  JTI,KTG,PMK
123461            TEREA BLUE      여  30대    Mixed      JTI,PMK

                   Flavor  Total_Pack_Qty   BAT  ...  TEREA GREEN  \
0                 Regular            32.0  32.0  ...          NaN
1         Fresh,New Taste             4.0   NaN  ...          NaN
2       New Taste,Regular             7.0   NaN  ...          NaN
3       New Taste,Regular             7.0   NaN  ...          NaN
4               New Taste             9.0   NaN  ...          NaN
...                   ...             ...   ...  ...          ...
123457            Regular             6.0   NaN  ...          NaN
123458          New Taste            44.0   NaN  ...          NaN
123459          New Taste            59.0  59.0  ...          NaN
123460            Regular             5.0   NaN  ...          NaN
123461    Fresh,New Taste             5.0   NaN  ...          NaN

        TEREA GREEN ZING  TEREA OASIS PEARL  TEREA PURPLE WAVE  TEREA RUSSET  \
0                    NaN                NaN                NaN           NaN
1                    NaN                NaN                NaN           NaN
2                    NaN                NaN                NaN           NaN
3                    NaN                NaN                NaN           NaN
4                    NaN                NaN                NaN           NaN
...                  ...                ...                ...           ...
123457               NaN                NaN                NaN           NaN
123458               NaN                NaN                NaN           NaN
123459               NaN                NaN                NaN           NaN
123460               NaN                NaN                NaN           3.0
123461               NaN                NaN                NaN           NaN

        TEREA SILVER  TEREA SUMMER WAVE  TEREA SUN PEARL  TEREA TEAK  \
0                NaN                NaN              NaN         NaN
1                NaN                NaN              NaN         NaN
2                NaN                NaN              NaN         NaN
3                NaN                NaN              NaN         NaN
4                NaN                NaN              NaN         NaN
...              ...                ...              ...         ...
123457           NaN                NaN              NaN         NaN
123458           NaN                NaN              NaN         NaN
123459           NaN                NaN              NaN         NaN
123460           NaN                NaN              NaN         NaN
123461           NaN                NaN              NaN         NaN

        TEREA YUGEN
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
...             ...
123457          NaN
123458          NaN
123459          NaN
123460          NaN
123461          NaN

[123462 rows x 69 columns]

In [6]:
gg.to_clipboard()

# TEREA L.Point SKU Sourcing Pivot

In [3]:
# - TEREA_flaXtar_ from 202211
sql2 = ''' 
select  
	t.YYYYMM,
	t.engname,
	concat(FLAVORSEG_type3,' X ', New_TARSEGMENTAT) flavorXtar,
	count(distinct case when b.cigatype ='CC' then t.id end) CC,
	count(distinct case when b.cigatype ='HnB' then t.id end) HnB
from  cx.agg_LPoint_TEREA_SKU_Sourcing t
	join cx.fct_K7_Monthly a on t.id = a.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cx.product_master b on a.Product_code = b.PROD_ID and b.CIGADEVICE =  'CIGARETTES' AND b.cigatype != 'CSV'  
where 1=1 
group BY 
	t.YYYYMM,
	t.engname,
	concat(FLAVORSEG_type3,' X ', New_TARSEGMENTAT) 
'''

data2 = pd.read_sql_query(sql=sql2, con=engine)

pivot_flavor_tar = data2.pivot_table(index=['YYYYMM','engname'], 
                                     columns='flavorXtar',
                                     values=['HnB', 'CC' ]
                                    ).sort_values(['engname', 'YYYYMM'])
print(pivot_flavor_tar)

                         CC                                            \
flavorXtar         Fresh X  Fresh X 1MG Fresh X Below 1MG Fresh X LTS
YYYYMM engname
202211 TEREA AMBER      0.0         6.0               NaN         6.0
202212 TEREA AMBER      0.0         6.0               NaN         9.0
202301 TEREA AMBER      0.0         9.0               NaN        10.0
202302 TEREA AMBER      0.0        12.0               NaN        12.0
202303 TEREA AMBER      0.0        13.0               NaN        20.0
...                     ...         ...               ...         ...
202403 TEREA YUGEN      0.0         5.0               NaN        10.0
202404 TEREA YUGEN      0.0         4.0               NaN         6.0
202405 TEREA YUGEN      0.0         4.0               NaN        13.0
202406 TEREA YUGEN      0.0         5.0               NaN         7.0
202407 TEREA YUGEN      0.0         6.0               NaN         2.0

                                                             \
flavorXtar         Fresh X ULT New Taste X  New Taste X 1MG
YYYYMM engname
202211 TEREA AMBER         2.0          0.0            40.0
202212 TEREA AMBER         1.0          0.0            65.0
202301 TEREA AMBER         NaN          0.0            59.0
202302 TEREA AMBER         2.0          0.0           112.0
202303 TEREA AMBER         7.0          0.0           121.0
...                        ...          ...             ...
202403 TEREA YUGEN         4.0          0.0            58.0
202404 TEREA YUGEN         2.0          0.0            62.0
202405 TEREA YUGEN         3.0          0.0            65.0
202406 TEREA YUGEN         1.0          0.0            58.0
202407 TEREA YUGEN         2.0          0.0            49.0

                                                                          ...  \
flavorXtar         New Taste X Below 1MG New Taste X LTS New Taste X ULT  ...
YYYYMM engname                                                            ...
202211 TEREA AMBER                   NaN             8.0            20.0  ...
202212 TEREA AMBER                   NaN             8.0            36.0  ...
202301 TEREA AMBER                   NaN            11.0            25.0  ...
202302 TEREA AMBER                   NaN            13.0            38.0  ...
202303 TEREA AMBER                   NaN            20.0            44.0  ...
...                                  ...             ...             ...  ...
202403 TEREA YUGEN                   4.0             9.0            38.0  ...
202404 TEREA YUGEN                   6.0             4.0            31.0  ...
202405 TEREA YUGEN                   7.0             8.0            23.0  ...
202406 TEREA YUGEN                   6.0             7.0            34.0  ...
202407 TEREA YUGEN                   2.0             3.0            21.0  ...

                               HnB                                        \
flavorXtar         New Taste X 1MG New Taste X Below 1MG New Taste X LTS
YYYYMM engname
202211 TEREA AMBER             0.0                   NaN             0.0
202212 TEREA AMBER             0.0                   NaN             0.0
202301 TEREA AMBER             0.0                   NaN             0.0
202302 TEREA AMBER             0.0                   NaN             0.0
202303 TEREA AMBER             0.0                   NaN             0.0
...                            ...                   ...             ...
202403 TEREA YUGEN             0.0                   0.0             0.0
202404 TEREA YUGEN             0.0                   0.0             0.0
202405 TEREA YUGEN             0.0                   0.0             0.0
202406 TEREA YUGEN             0.0                   0.0             0.0
202407 TEREA YUGEN             0.0                   0.0             0.0

                                                             \
flavorXtar         New Taste X ULT Regular X  Regular X 1MG
YYYYMM engname
202211 TEREA AMBER             0.0      114.0           0.0
202212 TEREA AMBER             0.0      160.0           0.0
202301 TEREA AMBER             0.0      121.0           0.0
202302 TEREA AMBER             0.0      170.0           0.0
202303 TEREA AMBER             0.0      219.0           0.0
...                            ...        ...           ...
202403 TEREA YUGEN             0.0       27.0           0.0
202404 TEREA YUGEN             0.0       25.0           0.0
202405 TEREA YUGEN             0.0       33.0           0.0
202406 TEREA YUGEN             0.0       25.0           0.0
202407 TEREA YUGEN             0.0       26.0           0.0

                                                                   \
flavorXtar         Regular X Below 1MG Regular X FF Regular X LTS
YYYYMM engname
202211 TEREA AMBER                 0.0          0.0           0.0
202212 TEREA AMBER                 0.0          0.0           0.0
202301 TEREA AMBER                 0.0          0.0           0.0
202302 TEREA AMBER                 0.0          0.0           0.0
202303 TEREA AMBER                 0.0          0.0           0.0
...                                ...          ...           ...
202403 TEREA YUGEN                 0.0          0.0           0.0
202404 TEREA YUGEN                 0.0          0.0           0.0
202405 TEREA YUGEN                 0.0          0.0           0.0
202406 TEREA YUGEN                 0.0          0.0           0.0
202407 TEREA YUGEN                 0.0          0.0           0.0


flavorXtar         Regular X ULT
YYYYMM engname
202211 TEREA AMBER           0.0
202212 TEREA AMBER           0.0
202301 TEREA AMBER           0.0
202302 TEREA AMBER           0.0
202303 TEREA AMBER           0.0
...                          ...
202403 TEREA YUGEN           0.0
202404 TEREA YUGEN           0.0
202405 TEREA YUGEN           0.0
202406 TEREA YUGEN           0.0
202407 TEREA YUGEN           0.0

[270 rows x 32 columns]

In [7]:
pivot_flavor_tar.to_clipboard()

In [4]:
# - Terea_user_past_type_M1
sql = ''' 
select  
	t.YYYYMM, 
	t.id,
	t.engname,
	max(case when b.cigatype='HnB' and b.company = 'PMK' then 1 else 0 end) IQOS_Purchased,
	max(case when b.cigatype='CC' then 1 else 0 end) CC_Purchased,
	max(case when b.cigatype='HnB' and b.company != 'PMK' then 1 else 0 end) CompHnB_Purchased
from cx.agg_LPoint_TEREA_SKU_Sourcing t
	join cx.fct_K7_Monthly a on t.id = a.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cx.product_master b on a.Product_code = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
where 1=1 
group BY 	    
	t.YYYYMM, 
	t.id,
	t.engname
'''

data = pd.read_sql_query(sql=sql, con=engine)
# Past Type 
def categorize(row):
    categories = []
    if row['IQOS_Purchased'] == 1:
        categories.append('PMK HnB')
    if row['CC_Purchased'] == 1:
        categories.append('CC')
    if row['CompHnB_Purchased'] == 1:
        categories.append('Comp HnB')
    return ','.join(categories)

data['retype'] = data.apply(categorize, axis=1)
result = data.groupby(['YYYYMM','engname', 'retype']).size().reset_index(name='N')
total = result['N'].sum()

pivot_past_type = result.pivot_table( 
                            index=['YYYYMM', 'engname'],
                            columns='retype',
                            values='N'
                            ).sort_values(['engname', 'YYYYMM'])
print(pivot_past_type)

retype                 CC  CC,Comp HnB  Comp HnB  PMK HnB  PMK HnB,CC  \
YYYYMM engname
202211 TEREA AMBER   62.0         14.0      17.0     67.0        47.0
202212 TEREA AMBER   91.0         18.0      16.0     93.0        57.0
202301 TEREA AMBER   79.0          9.0      11.0     69.0        64.0
202302 TEREA AMBER  124.0         29.0      24.0     97.0        69.0
202303 TEREA AMBER  191.0         32.0      22.0    140.0       105.0
...                   ...          ...       ...      ...         ...
202403 TEREA YUGEN   66.0         12.0      16.0     58.0        44.0
202404 TEREA YUGEN   71.0         20.0      12.0     54.0        36.0
202405 TEREA YUGEN   63.0         16.0      12.0     75.0        43.0
202406 TEREA YUGEN   57.0         15.0      11.0     58.0        46.0
202407 TEREA YUGEN   54.0         12.0       8.0     57.0        35.0

retype              PMK HnB,CC,Comp HnB  PMK HnB,Comp HnB
YYYYMM engname
202211 TEREA AMBER                  4.0               6.0
202212 TEREA AMBER                 24.0               8.0
202301 TEREA AMBER                 17.0               8.0
202302 TEREA AMBER                 23.0              11.0
202303 TEREA AMBER                 26.0              24.0
...                                 ...               ...
202403 TEREA YUGEN                  8.0               3.0
202404 TEREA YUGEN                  8.0               5.0
202405 TEREA YUGEN                 10.0               4.0
202406 TEREA YUGEN                  8.0               5.0
202407 TEREA YUGEN                  9.0               5.0

[270 rows x 7 columns]

In [8]:
pivot_past_type.to_clipboard()

In [5]:
# - Terea_user_Current_type_M1

sql3 = ''' 
with temp as (
select  
	t.YYYYMM,  
	t.id,
	t.engname,
	max(case when b.cigatype='HnB' and b.company = 'PMK' then 1 else 0 end) IQOS_Purchased,
	max(case when b.cigatype='CC' then 1 else 0 end) CC_Purchased,
	max(case when b.cigatype='HnB' and b.company != 'PMK' then 1 else 0 end) CompHnB_Purchased
from  cx.agg_LPoint_TEREA_SKU_Sourcing t
	join cx.fct_K7_Monthly a on t.id = a.id 
		and a.YYYYMM = t.YYYYMM
	join cx.product_master b on a.Product_code = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
where 1=1 	
group BY 	    	
	t.YYYYMM, 
	t.id,
	t.engname
)
select YYYYMM, engname,
    'IQOS' +
    CASE WHEN CompHnB_Purchased = 1 THEN ' + Comp. HnB' ELSE '' END + 
    CASE WHEN CC_Purchased = 1 THEN ' + CC' ELSE '' END 
     as Cigatype,
    count(*) purchaser_cnt
from temp
group by YYYYMM, engname,
    'IQOS' +
    CASE WHEN CompHnB_Purchased = 1 THEN ' + Comp. HnB' ELSE '' END + 
    CASE WHEN CC_Purchased = 1 THEN ' + CC' ELSE '' END 
'''

data3 = pd.read_sql_query(sql=sql3, con=engine)

pivot_current_type = data3.pivot_table(index=['YYYYMM', 'engname'],
                                       columns='Cigatype',
                                       values='purchaser_cnt',
                                       ).sort_values(['engname', 'YYYYMM'])

print(pivot_current_type)

Cigatype             IQOS  IQOS + CC  IQOS + Comp. HnB  IQOS + Comp. HnB + CC
YYYYMM engname
202211 TEREA AMBER  113.0       75.0              16.0                   13.0
202212 TEREA AMBER  180.0       95.0              14.0                   18.0
202301 TEREA AMBER  151.0       89.0               6.0                   11.0
202302 TEREA AMBER  200.0      132.0              21.0                   24.0
202303 TEREA AMBER  298.0      187.0              25.0                   30.0
...                   ...        ...               ...                    ...
202403 TEREA YUGEN  104.0       76.0              15.0                   12.0
202404 TEREA YUGEN   99.0       84.0              11.0                   12.0
202405 TEREA YUGEN  120.0       75.0              15.0                   13.0
202406 TEREA YUGEN   97.0       78.0              15.0                   10.0
202407 TEREA YUGEN   86.0       68.0              12.0                   14.0

[270 rows x 4 columns]

In [9]:
pivot_current_type.to_clipboard()

# 연습

In [10]:
# -- Arbor_sourcing_M1 작업

data['company'] = data['company'].apply(lambda x : x.strip())

result = data.groupby(['YYYYMM', 'id', 'gender', 'age']).agg({
    'company': lambda x: x.unique(),
    'New_FLAVORSEG': lambda x: x.unique()
})


# result.set_index(['YYYYMM', 'id', 'gender', 'age'])
result

                                                                              company  \
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대            [BAT]
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대            [PMK]
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대            [PMK]
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대            [KTG]
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대       [KTG, PMK]
...                                                                               ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대            [PMK]
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대            [KTG]
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대            [KTG]
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대            [KTG]
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대  [KTG, PMK, BAT]

                                                                                    New_FLAVORSEG
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대                    [Regular]
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대           [Fresh, New Taste]
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대         [New Taste, Regular]
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대                  [New Taste]
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대           [New Taste, Fresh]
...                                                                                           ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대             [Fresh, Regular]
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대                      [Fresh]
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대                      [Fresh]
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대                    [Regular]
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대  [New Taste, Regular, Fresh]

[1418 rows x 2 columns]