In [1]:
# 데이터 불러오기
from dotenv import load_dotenv
import pandas as pd
import os 
import numpy as np
from sqlalchemy import create_engine

# .env 파일에서 환경 부르기
load_dotenv()

# 환경 변수 사용
database = os.getenv("CON_STR")


# # csv 파일 경로
# csv_file_path = os.getenv("CSV_FILE_PATH")
# print(csv_file_path)

engine = create_engine(database)

In [9]:
# user 3month list 수 확인
df = pd.read_csv(r'C:\Users\schoi43\OneDrive - Philip Morris International\Documents\user_3month_list.csv', dtype=str)

df = df.groupby(['id', 'YYYYMM']).size()
# 6,270,511 건이네.. 난 4,240,360건인데..

In [10]:
df

id                                                                YYYYMM
00000496C27842128286B531DE109451C6C2C786A075F1F52E70AA289C4BA5A6  202302    1
                                                                  202303    1
                                                                  202401    1
                                                                  202402    1
                                                                  202403    1
                                                                           ..
FFFFCBFD7709B5581093BAC8382774EE8379C66AB4EE9AD2A16E71DD83C8AB9B  202210    1
                                                                  202312    1
                                                                  202406    1
                                                                  202407    1
FFFFE689391DD8213FE0C07E423503D9846475A16348A119249D9EFFCACE5259  202401    1
Length: 6270511, dtype: int64

In [8]:
df2 = pd.read_csv(r'C:\Users\schoi43\Downloads\cu_user_3month_list.csv', dtype=str)

df2 = df2.groupby(['id', 'YYYYMM']).size()

In [7]:
df2

Empty DataFrame
Columns: []
Index: [(000003ab34eca7dea9bb837be54637f6f13b523e6c2dfbf83adfdf71c7f9dc14, 202307), (000003ab34eca7dea9bb837be54637f6f13b523e6c2dfbf83adfdf71c7f9dc14, 202312), (000003ab34eca7dea9bb837be54637f6f13b523e6c2dfbf83adfdf71c7f9dc14, 202401), (0000042a60d927afa279d9d168af69321eee51f7efba247ee5595f17ffdc295e, 202406), (000006e37fabfa1620d37071d81c86d540fe22703f7d8b6c8084eceec031ba5d, 202402), (000006e37fabfa1620d37071d81c86d540fe22703f7d8b6c8084eceec031ba5d, 202403), (000006e37fabfa1620d37071d81c86d540fe22703f7d8b6c8084eceec031ba5d, 202404), (000006e37fabfa1620d37071d81c86d540fe22703f7d8b6c8084eceec031ba5d, 202405), (000006e37fabfa1620d37071d81c86d540fe22703f7d8b6c8084eceec031ba5d, 202406), (00000862bf055790dd41b1810871aac797dbdb0170763187fadb8d28e7d9cbe5, 202304), (00000862bf055790dd41b1810871aac797dbdb0170763187fadb8d28e7d9cbe5, 202305), (00000862bf055790dd41b1810871aac797dbdb0170763187fadb8d28e7d9cbe5, 202306), (00000862bf055790dd41b1810871aac797dbdb0170763187fadb8d28e7d9cbe5, 202307), (00000862bf055790dd41b1810871aac797dbdb0170763187fadb8d28e7d9cbe5, 202310), (00000862bf055790dd41b1810871aac797dbdb0170763187fadb8d28e7d9cbe5, 202312), (00000862bf055790dd41b1810871aac797dbdb0170763187fadb8d28e7d9cbe5, 202401), (00000862bf055790dd41b1810871aac797dbdb0170763187fadb8d28e7d9cbe5, 202402), (00000862bf055790dd41b1810871aac797dbdb0170763187fadb8d28e7d9cbe5, 202404), (00000862bf055790dd41b1810871aac797dbdb0170763187fadb8d28e7d9cbe5, 202406), (00000a042fe79e968aa58ca4237c488cf5b8bdfe64396bb28323650dd092b5e4, 202312), (00000a042fe79e968aa58ca4237c488cf5b8bdfe64396bb28323650dd092b5e4, 202401), (00000a042fe79e968aa58ca4237c488cf5b8bdfe64396bb28323650dd092b5e4, 202402), (00000a042fe79e968aa58ca4237c488cf5b8bdfe64396bb28323650dd092b5e4, 202403), (00000a042fe79e968aa58ca4237c488cf5b8bdfe64396bb28323650dd092b5e4, 202404), (00000a042fe79e968aa58ca4237c488cf5b8bdfe64396bb28323650dd092b5e4, 202405), (00000a042fe79e968aa58ca4237c488cf5b8bdfe64396bb28323650dd092b5e4, 202406), (00000a95badc6fbabce9b2fbe984071049a571160a7910ff78531ce0bbdc66f4, 202310), (00000a95badc6fbabce9b2fbe984071049a571160a7910ff78531ce0bbdc66f4, 202403), (00001bdab21a16418548c0ed5e2513b6ebd57e44af996939f5f9338617d7db37, 202311), (00001bdab21a16418548c0ed5e2513b6ebd57e44af996939f5f9338617d7db37, 202312), (00002083c64c711febd821ef4c3b3fbe370da41a2ac6838cca655937754f74a8, 202304), (00002083c64c711febd821ef4c3b3fbe370da41a2ac6838cca655937754f74a8, 202305), (00002083c64c711febd821ef4c3b3fbe370da41a2ac6838cca655937754f74a8, 202306), (00002083c64c711febd821ef4c3b3fbe370da41a2ac6838cca655937754f74a8, 202307), (00002083c64c711febd821ef4c3b3fbe370da41a2ac6838cca655937754f74a8, 202308), (00002083c64c711febd821ef4c3b3fbe370da41a2ac6838cca655937754f74a8, 202309), (00002083c64c711febd821ef4c3b3fbe370da41a2ac6838cca655937754f74a8, 202310), (00002083c64c711febd821ef4c3b3fbe370da41a2ac6838cca655937754f74a8, 202311), (00002083c64c711febd821ef4c3b3fbe370da41a2ac6838cca655937754f74a8, 202312), (00002083c64c711febd821ef4c3b3fbe370da41a2ac6838cca655937754f74a8, 202401), (00002083c64c711febd821ef4c3b3fbe370da41a2ac6838cca655937754f74a8, 202402), (00002083c64c711febd821ef4c3b3fbe370da41a2ac6838cca655937754f74a8, 202403), (00002083c64c711febd821ef4c3b3fbe370da41a2ac6838cca655937754f74a8, 202404), (00002083c64c711febd821ef4c3b3fbe370da41a2ac6838cca655937754f74a8, 202405), (00002083c64c711febd821ef4c3b3fbe370da41a2ac6838cca655937754f74a8, 202406), (0000225577fce734871f0df4143b04acdadbf4c465ff56cd8535e67c19fd182b, 202311), (0000274f9afcb295f0f2c0894cce373e42cbfc47ff10252500bef9c1bce254b5, 202311), (00002db3e97ce209984ff8830ecddbbd912b749266966fd06f9717d7c6d2a1af, 202401), (000041cdaf454fedefb7e78a108b2418b162812894fe8138059a8f7ee14e8831, 202304), (000041cdaf454fedefb7e78a108b2418b162812894fe8138059a8f7ee14e8831, 202305), (000041cdaf454fedefb7e78a108b2418b162812894fe8138059a8f7ee14e8831, 202307), (000041cdaf454fedefb7e78a108b2418b162812894fe8138059a8f7ee14e8831, 202308), (000041cdaf454fedefb7e78a108b2418b162812894fe8138059a8f7ee14e8831, 202309), (000041cdaf454fedefb7e78a108b2418b162812894fe8138059a8f7ee14e8831, 202310), (000041cdaf454fedefb7e78a108b2418b162812894fe8138059a8f7ee14e8831, 202311), (000041cdaf454fedefb7e78a108b2418b162812894fe8138059a8f7ee14e8831, 202312), (000041cdaf454fedefb7e78a108b2418b162812894fe8138059a8f7ee14e8831, 202402), (000041cdaf454fedefb7e78a108b2418b162812894fe8138059a8f7ee14e8831, 202403), (000041cdaf454fedefb7e78a108b2418b162812894fe8138059a8f7ee14e8831, 202404), (0000444081102cd1ebc78a681b1399a6acb5ea3f4215ce1636c84f642b69f353, 202304), (0000444081102cd1ebc78a681b1399a6acb5ea3f4215ce1636c84f642b69f353, 202305), (0000444081102cd1ebc78a681b1399a6acb5ea3f4215ce1636c84f642b69f353, 202306), (0000444081102cd1ebc78a681b1399a6acb5ea3f4215ce1636c84f642b69f353, 202308), (0000444081102cd1ebc78a681b1399a6acb5ea3f4215ce1636c84f642b69f353, 202309), (000044f5229745bc289fc5817a29a30c5b65d04c0c9b14b78ebb1a02648eb00d, 202405), (000049f8ca167d4a22900a771bf469be350201c15cb835831b25258c0778e3ad, 202304), (000049f8ca167d4a22900a771bf469be350201c15cb835831b25258c0778e3ad, 202305), (000049f8ca167d4a22900a771bf469be350201c15cb835831b25258c0778e3ad, 202306), (000049f8ca167d4a22900a771bf469be350201c15cb835831b25258c0778e3ad, 202308), (000049f8ca167d4a22900a771bf469be350201c15cb835831b25258c0778e3ad, 202309), (0000631689f5610bff6e3a9684a098c2f042fd76cd7a8cf7bb3382482c70686c, 202305), (0000631689f5610bff6e3a9684a098c2f042fd76cd7a8cf7bb3382482c70686c, 202403), (0000631689f5610bff6e3a9684a098c2f042fd76cd7a8cf7bb3382482c70686c, 202404), (00006d0313e8dd5ba983f5dd73a93fffddf92889ebe96b8002144b825b9ded63, 202402), (00006d0313e8dd5ba983f5dd73a93fffddf92889ebe96b8002144b825b9ded63, 202405), (000070b384b63a33150d5dc7e3cb018e8e957e51be4ce50a0f932254d836e40d, 202401), (000077a2be9b532aa500551ed5c5b6522f9ff89e3855531d50d33368389b3017, 202307), (000077a2be9b532aa500551ed5c5b6522f9ff89e3855531d50d33368389b3017, 202308), (000077a2be9b532aa500551ed5c5b6522f9ff89e3855531d50d33368389b3017, 202309), (000077a2be9b532aa500551ed5c5b6522f9ff89e3855531d50d33368389b3017, 202310), (000077a2be9b532aa500551ed5c5b6522f9ff89e3855531d50d33368389b3017, 202311), (000077a2be9b532aa500551ed5c5b6522f9ff89e3855531d50d33368389b3017, 202406), (00007c78f96e64cf4ae901d174487bc4c66be5dd08b3507accae1f5661b2ed48, 202312), (00007c78f96e64cf4ae901d174487bc4c66be5dd08b3507accae1f5661b2ed48, 202401), (00007c78f96e64cf4ae901d174487bc4c66be5dd08b3507accae1f5661b2ed48, 202402), (00007c78f96e64cf4ae901d174487bc4c66be5dd08b3507accae1f5661b2ed48, 202403), (00007c78f96e64cf4ae901d174487bc4c66be5dd08b3507accae1f5661b2ed48, 202404), (00007c78f96e64cf4ae901d174487bc4c66be5dd08b3507accae1f5661b2ed48, 202405), (00007c78f96e64cf4ae901d174487bc4c66be5dd08b3507accae1f5661b2ed48, 202406), (000087abb2275fa0c38f2d67cc263b5caa09746dfff8f894b23c4068749cf49e, 202401), (00008bfeee332f2715ba6065bd22ad11d76a3659aea02fb1f0e18d704ddc3de6, 202310), (00008bfeee332f2715ba6065bd22ad11d76a3659aea02fb1f0e18d704ddc3de6, 202311), (00008bfeee332f2715ba6065bd22ad11d76a3659aea02fb1f0e18d704ddc3de6, 202401), (00008bfeee332f2715ba6065bd22ad11d76a3659aea02fb1f0e18d704ddc3de6, 202403), (00008bfeee332f2715ba6065bd22ad11d76a3659aea02fb1f0e18d704ddc3de6, 202404), (00008bfeee332f2715ba6065bd22ad11d76a3659aea02fb1f0e18d704ddc3de6, 202405), (00008bfeee332f2715ba6065bd22ad11d76a3659aea02fb1f0e18d704ddc3de6, 202406), (00008f303bc8179b1a3703f420ae50ecc00c459eae834a84376a89b9e2be96b8, 202305), (00008f303bc8179b1a3703f420ae50ecc00c459eae834a84376a89b9e2be96b8, 202306), (00008f303bc8179b1a3703f420ae50ecc00c459eae834a84376a89b9e2be96b8, 202308), ...]

[13273204 rows x 0 columns]

In [17]:

# ALL Raw Data
sql1= ''' 
select * from cx.agg_LPoint_MLB_SKU_Sourcing
order by YYYYMM, id
'''

gg = pd.read_sql_query(sql=sql1, con=engine)

gg.reset_index(drop=1)

print(gg)
gg.to_clipboard()

      YYYYMM                                                 id  \
0     202408  00676BF962FF2A6E019E7C37F8B16E7A62F3B6E42C6171...
1     202408  00D4C021BDCB457285D278745552C242C8DBB3331ED9E7...
2     202408  00DC9E4380706236DA878C3899C470FB3808454C6A150E...
3     202408  00E459A6E3892958580D244147590CB243D0A3622A9670...
4     202408  0123C9A60221D827BE538D7B75682D455937D89621F867...
...      ...                                                ...
1833  202409  FE5F682AFD371F8103A01FBB0B97D4779860CA71384824...
1834  202409  FF18B1D4D3AE82544CEC4AAAF08AF9AEEBECFA73B7A9AF...
1835  202409  FF29999988A549CBC96CBDCF281ED17E14D5DA8BDE9FEA...
1836  202409  FF5DBB54007C453D4A083F89D8CC1FB3A835CBF0B33942...
1837  202409  FFBD15AB4CCB7A9A31446CB9C626DA760A84AB1724603C...

                           engname gender  age cigatype      company  \
0     Marlboro Vista Garden Splash      여  50대    Mixed  BAT,JTI,PMK
1     Marlboro Vista Garden Splash      남  40대    Mixed          KTG
2     Marlboro Vista Garden Splash      여  50대       CC      JTI,KTG
3     Marlboro Vista Garden Splash      남  20대       CC      KTG,PMK
4     Marlboro Vista Garden Splash      여  50대       CC      KTG,PMK
...                            ...    ...  ...      ...          ...
1833  Marlboro Vista Garden Splash      여  50대    Mixed  JTI,KTG,PMK
1834  Marlboro Vista Garden Splash      여  50대    Mixed      JTI,KTG
1835  Marlboro Vista Garden Splash      여  50대       CC          KTG
1836  Marlboro Vista Garden Splash      남  30대       CC      KTG,PMK
1837  Marlboro Vista Garden Splash      남  30대       CC          PMK

                       Flavor  Total_Pack_Qty  BAT  ...  TEREA GREEN  \
0     Fresh,New Taste,Regular            10.0  6.0  ...          NaN
1             Fresh,New Taste             9.0  NaN  ...          NaN
2                   New Taste            10.0  NaN  ...          NaN
3                   New Taste            30.0  NaN  ...          NaN
4             Fresh,New Taste            12.0  NaN  ...          NaN
...                       ...             ...  ...  ...          ...
1833  Fresh,New Taste,Regular            30.0  NaN  ...          1.0
1834          Fresh,New Taste             7.0  NaN  ...          NaN
1835                New Taste            10.0  NaN  ...          NaN
1836                New Taste            18.0  NaN  ...          NaN
1837                New Taste             2.0  NaN  ...          NaN

      TEREA GREEN ZING  TEREA OASIS PEARL  TEREA PURPLE WAVE  TEREA RUSSET  \
0                  NaN                NaN                NaN           NaN
1                  NaN                NaN                NaN           NaN
2                  NaN                NaN                NaN           NaN
3                  NaN                NaN                NaN           NaN
4                  NaN                NaN                NaN           NaN
...                ...                ...                ...           ...
1833               1.0                9.0                NaN           NaN
1834               NaN                NaN                NaN           NaN
1835               NaN                NaN                NaN           NaN
1836               NaN                NaN                NaN           NaN
1837               NaN                NaN                NaN           NaN

      TEREA SILVER  TEREA SUMMER WAVE  TEREA SUN PEARL  TEREA TEAK  \
0              NaN                NaN              NaN         NaN
1              NaN                NaN              NaN         NaN
2              NaN                NaN              NaN         NaN
3              NaN                NaN              NaN         NaN
4              NaN                NaN              NaN         NaN
...            ...                ...              ...         ...
1833           NaN                NaN              NaN         NaN
1834           NaN                NaN              NaN         NaN
1835           NaN                NaN              NaN         NaN
1836           NaN                NaN              NaN         NaN
1837           NaN                NaN              NaN         NaN

      TEREA YUGEN
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
1833          NaN
1834          NaN
1835          NaN
1836          NaN
1837          NaN

[1838 rows x 69 columns]

# TEREA L.Point SKU Sourcing Pivot

In [2]:
# - TEREA_flaXtar_ from 202211
sql2 = ''' 
select  
	t.YYYYMM,
	t.engname,
	concat(FLAVORSEG_type3,' X ', New_TARSEGMENTAT) flavorXtar,
	count(distinct case when b.cigatype ='CC' then t.id end) CC,
	count(distinct case when b.cigatype ='HnB' then t.id end) HnB
from  cx.agg_LPoint_MLB_SKU_Sourcing t
	join cx.fct_K7_Monthly a on t.id = a.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cx.product_master b on a.Product_code = b.PROD_ID and b.CIGADEVICE =  'CIGARETTES' AND b.cigatype != 'CSV'  
where 1=1 
group BY 
	t.YYYYMM,
	t.engname,
	concat(FLAVORSEG_type3,' X ', New_TARSEGMENTAT) 
;
'''

data2 = pd.read_sql_query(sql=sql2, con=engine)

pivot_flavor_tar = data2.pivot_table(index=['YYYYMM','engname'], 
                                     columns='flavorXtar',
                                     values=['HnB', 'CC' ]
                                    ).sort_values(['engname', 'YYYYMM'])
print(pivot_flavor_tar)

                                          CC                                \
flavorXtar                          Fresh X  Fresh X 1MG Fresh X Below 1MG
YYYYMM engname
202408 Marlboro Vista Garden Splash      0.0        26.0               NaN
202409 Marlboro Vista Garden Splash      0.0        67.0               1.0

                                                                          \
flavorXtar                          Fresh X LTS Fresh X ULT New Taste X
YYYYMM engname
202408 Marlboro Vista Garden Splash        58.0         4.0          0.0
202409 Marlboro Vista Garden Splash        77.0        24.0          0.0

                                                                           \
flavorXtar                          New Taste X 1MG New Taste X Below 1MG
YYYYMM engname
202408 Marlboro Vista Garden Splash           312.0                  52.0
202409 Marlboro Vista Garden Splash           982.0                  87.0

                                                                     ...  \
flavorXtar                          New Taste X LTS New Taste X ULT  ...
YYYYMM engname                                                       ...
202408 Marlboro Vista Garden Splash            48.0           226.0  ...
202409 Marlboro Vista Garden Splash           114.0           486.0  ...

                                                HnB                        \
flavorXtar                          New Taste X 1MG New Taste X Below 1MG
YYYYMM engname
202408 Marlboro Vista Garden Splash             0.0                   0.0
202409 Marlboro Vista Garden Splash             0.0                   0.0

                                                                     \
flavorXtar                          New Taste X LTS New Taste X ULT
YYYYMM engname
202408 Marlboro Vista Garden Splash             0.0             0.0
202409 Marlboro Vista Garden Splash             0.0             0.0

                                                              \
flavorXtar                          Regular X  Regular X 1MG
YYYYMM engname
202408 Marlboro Vista Garden Splash        8.0           0.0
202409 Marlboro Vista Garden Splash       16.0           0.0

                                                                      \
flavorXtar                          Regular X Below 1MG Regular X FF
YYYYMM engname
202408 Marlboro Vista Garden Splash                 0.0          0.0
202409 Marlboro Vista Garden Splash                 0.0          0.0


flavorXtar                          Regular X LTS Regular X ULT
YYYYMM engname
202408 Marlboro Vista Garden Splash           0.0           0.0
202409 Marlboro Vista Garden Splash           0.0           0.0

[2 rows x 32 columns]

In [3]:
pivot_flavor_tar.to_clipboard()

In [4]:
# - Terea_user_past_type_M1
sql = ''' 
select  
	t.YYYYMM, 
	t.id,
	t.engname,
	max(case when b.cigatype='HnB' and b.company = 'PMK' then 1 else 0 end) IQOS_Purchased,
	max(case when b.cigatype='CC' then 1 else 0 end) CC_Purchased,
	max(case when b.cigatype='HnB' and b.company != 'PMK' then 1 else 0 end) CompHnB_Purchased
from cx.agg_LPoint_MLB_SKU_Sourcing t
	join cx.fct_K7_Monthly a on t.id = a.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cx.product_master b on a.Product_code = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
where 1=1 
group BY 	    
	t.YYYYMM, 
	t.id,
	t.engname
'''

data = pd.read_sql_query(sql=sql, con=engine)
# Past Type 
def categorize(row):
    categories = []
    if row['IQOS_Purchased'] == 1:
        categories.append('PMK HnB')
    if row['CC_Purchased'] == 1:
        categories.append('CC')
    if row['CompHnB_Purchased'] == 1:
        categories.append('Comp HnB')
    return ','.join(categories)

data['retype'] = data.apply(categorize, axis=1)
result = data.groupby(['YYYYMM','engname', 'retype']).size().reset_index(name='N')
total = result['N'].sum()

pivot_past_type = result.pivot_table( 
                            index=['YYYYMM', 'engname'],
                            columns='retype',
                            values='N'
                            ).sort_values(['engname', 'YYYYMM'])
print(pivot_past_type)

retype                                  CC  CC,Comp HnB  Comp HnB  PMK HnB  \
YYYYMM engname
202408 Marlboro Vista Garden Splash  306.0         86.0      10.0      4.0
202409 Marlboro Vista Garden Splash  965.0        224.0      28.0     22.0

retype                               PMK HnB,CC  PMK HnB,CC,Comp HnB  \
YYYYMM engname
202408 Marlboro Vista Garden Splash        42.0                 21.0
202409 Marlboro Vista Garden Splash       103.0                 23.0

retype                               PMK HnB,Comp HnB
YYYYMM engname
202408 Marlboro Vista Garden Splash               NaN
202409 Marlboro Vista Garden Splash               4.0

In [5]:
pivot_past_type.to_clipboard()

In [6]:
# - Terea_user_Current_type_M1

sql3 = ''' 
with temp as (
select  
	t.YYYYMM,  
	t.id,
	t.engname,
	max(case when b.cigatype='HnB' and b.company = 'PMK' then 1 else 0 end) IQOS_Purchased,
	max(case when b.cigatype='CC' then 1 else 0 end) CC_Purchased,
	max(case when b.cigatype='HnB' and b.company != 'PMK' then 1 else 0 end) CompHnB_Purchased
from  cx.agg_LPoint_MLB_SKU_Sourcing t
	join cx.fct_K7_Monthly a on t.id = a.id 
		and a.YYYYMM = t.YYYYMM
	join cx.product_master b on a.Product_code = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
where 1=1 	
group BY 	    	
	t.YYYYMM, 
	t.id,
	t.engname
)
select YYYYMM, engname,
    'IQOS' +
    CASE WHEN CompHnB_Purchased = 1 THEN ' + Comp. HnB' ELSE '' END + 
    CASE WHEN CC_Purchased = 1 THEN ' + CC' ELSE '' END 
     as Cigatype,
    count(*) purchaser_cnt
from temp
group by YYYYMM, engname,
    'IQOS' +
    CASE WHEN CompHnB_Purchased = 1 THEN ' + Comp. HnB' ELSE '' END + 
    CASE WHEN CC_Purchased = 1 THEN ' + CC' ELSE '' END 
;
'''

data3 = pd.read_sql_query(sql=sql3, con=engine)

pivot_current_type = data3.pivot_table(index=['YYYYMM', 'engname'],
                                       columns='Cigatype',
                                       values='purchaser_cnt',
                                       ).sort_values(['engname', 'YYYYMM'])

print(pivot_current_type)

Cigatype                             IQOS + CC  IQOS + Comp. HnB + CC
YYYYMM engname
202408 Marlboro Vista Garden Splash      386.0                   83.0
202409 Marlboro Vista Garden Splash     1186.0                  183.0

In [7]:
pivot_current_type.to_clipboard()

In [ ]:
# - user_past_type_M1 PMK CC Comp CC Taste 추가

sql3 = ''' 
with temp as (
	select  
		t.YYYYMM, 
		t.id,
		b.engname,
		b.FLAVORSEG_type3,
		sum(a.pack_qty) pack_qty,
		max(cast( case when b.cigatype='CC'  and b.company = 'PMK' then 'PMK CC'    else '' end as varchar(50) )) 'PMK CC',
		max(cast( case when b.cigatype='CC'  and b.company != 'PMK' then 'Comp CC'  else '' end as varchar(50) )) 'Comp CC',
		max(cast( case when b.cigatype='HnB' then 'HnB' else '' end as varchar(50) )) 'HnB'
	from cx.agg_LPoint_MLB_SKU_Sourcing t
		join cx.fct_K7_Monthly a on t.id = a.id 
			and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
					 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
		join cx.product_master b on a.Product_code = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
	where 1=1 
	group BY 	    
		t.YYYYMM, 
		t.id,
		b.engname,
		b.FLAVORSEG_type3
)
select 
	YYYYMM,  
	id,
	engname, 
	FLAVORSEG_type3,
	pack_qty,
	usage_type
from temp
unpivot (usage_type for company in ([PMK CC], [Comp CC], [HnB]) ) as unpivo
where usage_type != ''
;
'''

data3 = pd.read_sql_query(sql=sql3, con=engine)

# past_type = data3.groupby(['id', 'YYYYMM'])['usage_type'].apply(lambda x: '+'.join(x)).reset_index()

user_past_Type = data3.groupby(['YYYYMM', 'usage_type', 'FLAVORSEG_type3']).agg({
    'id': 'nunique',
    'pack_qty': 'sum'
})

print(user_past_Type)
user_past_Type.to_clipboard()

In [19]:
# - user_past_type_M1 CC MLB 용

sql3 = ''' 
with temp as (
select  
	t.YYYYMM, 
	t.id,
	t.engname,
	max(cast( case when b.cigatype='HnB' and b.company = 'PMK' then 'PMK HnB'  else '' end  as varchar(50) )) A,
	max(cast( case when b.cigatype='CC'  and b.company = 'PMK' then 'PMK CC' else '' end as varchar(50) )) B,
	max(cast( case when b.cigatype='CC'  and b.company != 'PMK' then 'Comp CC'  else '' end as varchar(50) )) C,
	max(cast( case when b.cigatype='HnB' and b.company != 'PMK' then 'Comp HnB'  else '' end as varchar(50) )) D
from cx.agg_LPoint_MLB_SKU_Sourcing t
	join cx.fct_K7_Monthly a on t.id = a.id 
		and a.YYYYMM BETWEEN CONVERT(NVARCHAR(6), DATEADD(MONTH, -3, t.YYYYMM+'01'), 112)
				 	     AND CONVERT(NVARCHAR(6), DATEADD(MONTH, -1, t.YYYYMM+'01'), 112)	
	join cx.product_master b on a.Product_code = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
where 1=1 
group BY 	    
	t.YYYYMM, 
	t.id,
	t.engname
)
select 
	YYYYMM,  
	id,
	engname, 
	usage_type
from temp
unpivot (usage_type for company in (A, B, C, D) ) as unpivo
where usage_type != ''
;
'''

data3 = pd.read_sql_query(sql=sql3, con=engine)

past_type = data3.groupby(['id', 'YYYYMM'])['usage_type'].apply(lambda x: '+'.join(x)).reset_index()

user_past_Type = past_type.groupby(['YYYYMM', 'usage_type']).count()

print(user_past_Type)
user_past_Type.to_clipboard()

                                         id
YYYYMM usage_type
202408 Comp CC                          112
       Comp CC+Comp HnB                  34
       Comp HnB                          10
       PMK CC                            65
       PMK CC+Comp CC                   129
       PMK CC+Comp CC+Comp HnB           33
       PMK CC+Comp HnB                   19
       PMK HnB                            4
       PMK HnB+Comp CC                   11
       PMK HnB+Comp CC+Comp HnB           9
       PMK HnB+PMK CC                     9
       PMK HnB+PMK CC+Comp CC            22
       PMK HnB+PMK CC+Comp CC+Comp HnB   12
202409 Comp CC                          432
       Comp CC+Comp HnB                 104
       Comp HnB                          28
       PMK CC                           269
       PMK CC+Comp CC                   264
       PMK CC+Comp CC+Comp HnB           81
       PMK CC+Comp HnB                   39
       PMK HnB                           22
       PMK HnB+Comp CC                   49
       PMK HnB+Comp CC+Comp HnB           7
       PMK HnB+Comp HnB                   4
       PMK HnB+PMK CC                    20
       PMK HnB+PMK CC+Comp CC            34
       PMK HnB+PMK CC+Comp CC+Comp HnB   13
       PMK HnB+PMK CC+Comp HnB            3

In [15]:
# - user_current_type_M1 CC MLB 용

sql3 = ''' 
with temp as (
select  
	t.YYYYMM,  
	t.id,
	t.engname,
	max(cast( case when b.cigatype='HnB' and b.company = 'PMK' then 'PMK HnB'  else '' end  as varchar(50) )) A,
	max(cast( case when b.cigatype='CC'  and b.company = 'PMK' then 'PMK CC' else '' end as varchar(50) )) B,
	max(cast( case when b.cigatype='CC'  and b.company != 'PMK' then 'Comp CC'  else '' end as varchar(50) )) C,
	max(cast( case when b.cigatype='HnB' and b.company != 'PMK' then 'Comp HnB'  else '' end as varchar(50) )) D
from  cx.agg_LPoint_MLB_SKU_Sourcing t
	join cx.fct_K7_Monthly a on t.id = a.id 
		and a.YYYYMM = t.YYYYMM
	join cx.product_master b on a.Product_code = b.PROD_ID and CIGADEVICE =  'CIGARETTES' AND  b.cigatype != 'CSV' 
where 1=1 	
group BY 	    	
	t.YYYYMM, 
	t.id,
	t.engname
)
select 
	YYYYMM,  
	id,
	engname, 
	usage_type
from temp
unpivot (usage_type for company in (A, B, C, D) ) as unpivo
where usage_type != ''
;
'''

data3 = pd.read_sql_query(sql=sql3, con=engine)

current_type = data3.groupby(['id', 'YYYYMM'])['usage_type'].apply(lambda x: ', '.join(x)).reset_index()

usage_Type = current_type.groupby(['YYYYMM', 'usage_type']).count()

print(usage_Type)
usage_Type.to_clipboard()

                                            id
YYYYMM usage_type
202408 PMK CC                              134
       PMK CC, Comp CC                     214
       PMK CC, Comp CC, Comp HnB            67
       PMK CC, Comp HnB                     15
       PMK HnB, PMK CC                      18
       PMK HnB, PMK CC, Comp CC             20
       PMK HnB, PMK CC, Comp CC, Comp HnB    1
202409 PMK CC                              547
       PMK CC, Comp CC                     558
       PMK CC, Comp CC, Comp HnB           100
       PMK CC, Comp HnB                     74
       PMK HnB, PMK CC                      43
       PMK HnB, PMK CC, Comp CC             38
       PMK HnB, PMK CC, Comp CC, Comp HnB    8
       PMK HnB, PMK CC, Comp HnB             1

# 연습

In [10]:
# -- Arbor_sourcing_M1 작업

data['company'] = data['company'].apply(lambda x : x.strip())

result = data.groupby(['YYYYMM', 'id', 'gender', 'age']).agg({
    'company': lambda x: x.unique(),
    'New_FLAVORSEG': lambda x: x.unique()
})


# result.set_index(['YYYYMM', 'id', 'gender', 'age'])
result

                                                                              company  \
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대            [BAT]
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대            [PMK]
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대            [PMK]
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대            [KTG]
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대       [KTG, PMK]
...                                                                               ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대            [PMK]
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대            [KTG]
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대            [KTG]
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대            [KTG]
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대  [KTG, PMK, BAT]

                                                                                    New_FLAVORSEG
YYYYMM id                                                 gender age
202211 003DE9124299CC396950FEF717EFE5020EFCB079E8DECB8... 남      40대                    [Regular]
       007BE5AEC24991C378435D650C80E7C168971700CB8EDFD... 남      40대           [Fresh, New Taste]
       00851229FF4A0026F2682594CEDABB0AE1B73FF85E6CDED... 남      50대         [New Taste, Regular]
       00FA9CFB5FFA3F6E3C00DA693D6862019C5A42D6A6D0B35... 남      30대                  [New Taste]
       01117EF5EFBB1B6D53108D3EEBF53FAFBECFA132F880CFB... 남      30대           [New Taste, Fresh]
...                                                                                           ...
       FF83E54787EB82C6293ADA53E369F68215B39162BD33E3E... 남      50대             [Fresh, Regular]
       FFC50D9BE8D22E040EDAE5B54B00FA3856C2240DE21BE4C... 남      20대                      [Fresh]
       FFC7C4D03CF065384860A5176E832123A07E70B6E185396... 여      50대                      [Fresh]
       FFD0E8F349A14622CD91B697DA35E0E9D4FFAF7D9D4C4EA... 남      40대                    [Regular]
       FFEA5E5C9C441901DFBBAA534D9EF782B50A7B88D52B6BA... 여      50대  [New Taste, Regular, Fresh]

[1418 rows x 2 columns]