# L.Point 구매자 집계

In [2]:
import pandas as pd
import os
from sqlalchemy import create_engine
from dotenv import load_dotenv

load_dotenv()

database = os.getenv('CON_STR')

engine = create_engine(database)

In [10]:
# --	첨부파일의 제품들의 출시 첫 달부터 purchaser 수
sql = '''
select engname, 
	t.YYYYMM, 
	count(distinct t.id) Purchasers
from cx.v_user_3month_list t
	join cx.fct_K7_Monthly a on a.id = t.id and a.YYYYMM = t.YYYYMM 
	join cx.product_master b on a.product_code = b.PROD_ID  and CIGADEVICE ='CIGARETTES' and CIGATYPE = 'CC'
where t.YYYYMM >= '202201'	
group by engname, t.YYYYMM
'''

df = pd.read_sql_query(sql, engine)

pivot_df = df.pivot_table(index=['engname'],
							columns='YYYYMM',
							values='Purchasers').reset_index()

pivot_df

YYYYMM,engname,202201,202202,202203,202204,202205,202206,202207,202208,202209,...,202310,202311,202312,202401,202402,202403,202404,202405,202406,202407
0,88 ICE GOLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,88 RETURNS,365.0,340.0,328.0,370.0,372.0,352.0,379.0,380.0,359.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BOHEM CIGAR CARIBE,1140.0,1024.0,1053.0,1076.0,1150.0,1163.0,1229.0,1219.0,1237.0,...,1567.0,1553.0,1455.0,1450.0,1400.0,1534.0,1637.0,1607.0,1694.0,1760.0
3,BOHEM CIGAR CUBANA DOUBLE,892.0,833.0,926.0,1053.0,1102.0,1152.0,1289.0,1248.0,1216.0,...,1410.0,1308.0,1301.0,1211.0,1189.0,1320.0,1429.0,1415.0,1475.0,1520.0
4,BOHEM CIGAR ICE FIT,NaN,NaN,1960.0,1480.0,1195.0,1123.0,1102.0,1058.0,1006.0,...,1260.0,1263.0,1230.0,1226.0,1185.0,1255.0,1369.0,1509.0,1449.0,1526.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,TIMELESS TIME KS BOX 20,248.0,256.0,261.0,263.0,258.0,282.0,279.0,258.0,255.0,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,VS S. BLUE,156.0,154.0,167.0,180.0,191.0,180.0,206.0,207.0,201.0,...,201.0,187.0,192.0,202.0,207.0,198.0,211.0,208.0,205.0,213.0
225,VS S. GOLD,1084.0,939.0,1082.0,1195.0,1153.0,1221.0,1182.0,1209.0,1213.0,...,1372.0,1272.0,1265.0,1280.0,1172.0,1258.0,1278.0,1345.0,1326.0,1340.0
226,VS S. ONE,489.0,477.0,502.0,511.0,569.0,543.0,548.0,546.0,553.0,...,563.0,555.0,554.0,537.0,513.0,518.0,544.0,557.0,561.0,585.0
227,VSSS CLEARFINISH 1MG,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
pivot_df.to_clipboard()

In [11]:
#  첨부파일의 제품들의 출시 첫 달부터 재구매 purchaser 수 (해당 제품 2팩이상 구매자)
sql2 = '''
select engname, 
	t.YYYYMM, 
	count(distinct t.id) Purchasers
from cx.v_user_3month_list t
	join cx.fct_K7_Monthly a on a.id = t.id and a.YYYYMM = t.YYYYMM 
	join cx.product_master b on a.product_code = b.PROD_ID  and CIGADEVICE ='CIGARETTES' and CIGATYPE = 'CC'
where t.YYYYMM >= '202201'	
group by engname, t.YYYYMM
having sum(a.Pack_qty ) > 1
'''

df2 = pd.read_sql_query(sql2, engine)

pivot_df2 = df2.pivot_table(index=['engname'],
							columns='YYYYMM',
							values='Purchasers').reset_index()

pivot_df2

In [ ]:
pivot_df2.to_clipboard()